<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="home-image-banner hidden {% if template == 'page.sales' %}sales{% elsif template == 'index' or template == 'page.plansv2' or template == 'page.rural-internet2' %}hidden{% endif %}">
		<div class="container">
			<div class="section-content desktop_only">
				<h3>nomad internet: Where Speed Meets Freedom!</h3>
				<h2>Rural or On-the-Road Internet, We've Got You Covered!</h2>
				<p>Sign Up Today and Experience Internet Without Boundaries!</p>
				<a class="btn" href="/pages/plans">View Plans</a>
                <div class="banner_contact">
                  <span>Have Questions?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                  <g id="phone-call-01">
                  <path id="Icon" d="M11.7084 5.49935C12.5223 5.65815 13.2704 6.05623 13.8568 6.64263C14.4432 7.22903 14.8412 7.97707 15 8.79102M11.7084 2.16602C13.3994 2.35388 14.9764 3.11116 16.1802 4.31352C17.3841 5.51588 18.1434 7.09186 18.3334 8.78268M8.52253 12.0519C7.52121 11.0506 6.73055 9.91839 6.15056 8.71037C6.10067 8.60647 6.07572 8.55451 6.05656 8.48877C5.98846 8.25514 6.03737 7.96826 6.17905 7.7704C6.21892 7.71472 6.26655 7.66709 6.36181 7.57183C6.65315 7.28049 6.79881 7.13483 6.89405 6.98834C7.25322 6.43593 7.25321 5.72378 6.89405 5.17138C6.79881 5.02489 6.65315 4.87923 6.36181 4.58789L6.19942 4.42549C5.75655 3.98263 5.53511 3.76119 5.2973 3.6409C4.82433 3.40168 4.26577 3.40168 3.79281 3.6409C3.55499 3.76119 3.33355 3.98263 2.89069 4.42549L2.75932 4.55686C2.31797 4.99821 2.09729 5.21889 1.92875 5.51891C1.74174 5.85183 1.60727 6.36891 1.60841 6.75076C1.60943 7.09488 1.67618 7.33007 1.80969 7.80044C2.52716 10.3283 3.88089 12.7136 5.87088 14.7036C7.86086 16.6935 10.2462 18.0473 12.774 18.7647C13.2444 18.8983 13.4795 18.965 13.8237 18.966C14.2055 18.9672 14.7226 18.8327 15.0555 18.6457C15.3555 18.4771 15.5762 18.2565 16.0176 17.8151L16.1489 17.6837C16.5918 17.2409 16.8132 17.0194 16.9335 16.7816C17.1728 16.3087 17.1728 15.7501 16.9335 15.2771C16.8132 15.0393 16.5918 14.8179 16.1489 14.375L15.9865 14.2126C15.6952 13.9213 15.5495 13.7756 15.4031 13.6804C14.8506 13.3212 14.1385 13.3212 13.5861 13.6804C13.4396 13.7756 13.2939 13.9213 13.0026 14.2126C12.9073 14.3079 12.8597 14.3555 12.804 14.3954C12.6062 14.5371 12.3193 14.586 12.0857 14.5179C12.0199 14.4987 11.968 14.4738 11.8641 14.4239C10.656 13.8439 9.52384 13.0532 8.52253 12.0519Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </g></svg>
                  <span>Call us today at <em><a href="tel:+1 210 598 5949">+1 210 598 5949</a></em></span>
                </div>
			</div>

        <div class="section-content mobile_only">
				<h3>Where Speed Meets Freedom!</h3>
				<h2>Rural or On-the-Road Internet, We've Got You Covered!</h2>
				<p>Sign Up Today and Experience Internet Without Boundaries!</p>
				<a class="btn" href="/pages/plans">View Plans</a>
          <div class="banner_contact">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <g id="phone-call-01">
            <path id="Icon" d="M11.7084 5.49935C12.5223 5.65815 13.2704 6.05623 13.8568 6.64263C14.4432 7.22903 14.8412 7.97707 15 8.79102M11.7084 2.16602C13.3994 2.35388 14.9764 3.11116 16.1802 4.31352C17.3841 5.51588 18.1434 7.09186 18.3334 8.78268M8.52253 12.0519C7.52121 11.0506 6.73055 9.91839 6.15056 8.71037C6.10067 8.60647 6.07572 8.55451 6.05656 8.48877C5.98846 8.25514 6.03737 7.96826 6.17905 7.7704C6.21892 7.71472 6.26655 7.66709 6.36181 7.57183C6.65315 7.28049 6.79881 7.13483 6.89405 6.98834C7.25322 6.43593 7.25321 5.72378 6.89405 5.17138C6.79881 5.02489 6.65315 4.87923 6.36181 4.58789L6.19942 4.42549C5.75655 3.98263 5.53511 3.76119 5.2973 3.6409C4.82433 3.40168 4.26577 3.40168 3.79281 3.6409C3.55499 3.76119 3.33355 3.98263 2.89069 4.42549L2.75932 4.55686C2.31797 4.99821 2.09729 5.21889 1.92875 5.51891C1.74174 5.85183 1.60727 6.36891 1.60841 6.75076C1.60943 7.09488 1.67618 7.33007 1.80969 7.80044C2.52716 10.3283 3.88089 12.7136 5.87088 14.7036C7.86086 16.6935 10.2462 18.0473 12.774 18.7647C13.2444 18.8983 13.4795 18.965 13.8237 18.966C14.2055 18.9672 14.7226 18.8327 15.0555 18.6457C15.3555 18.4771 15.5762 18.2565 16.0176 17.8151L16.1489 17.6837C16.5918 17.2409 16.8132 17.0194 16.9335 16.7816C17.1728 16.3087 17.1728 15.7501 16.9335 15.2771C16.8132 15.0393 16.5918 14.8179 16.1489 14.375L15.9865 14.2126C15.6952 13.9213 15.5495 13.7756 15.4031 13.6804C14.8506 13.3212 14.1385 13.3212 13.5861 13.6804C13.4396 13.7756 13.2939 13.9213 13.0026 14.2126C12.9073 14.3079 12.8597 14.3555 12.804 14.3954C12.6062 14.5371 12.3193 14.586 12.0857 14.5179C12.0199 14.4987 11.968 14.4738 11.8641 14.4239C10.656 13.8439 9.52384 13.0532 8.52253 12.0519Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g></svg>
            <span>Call us today at <em><a href="tel:+1 210 598 5949">+1 210 598 5949</a></em></span>
          </div>
			</div>
		</div>
</section>

<section class="usp_banner{% if template == 'page.plansv2' %} hidden{% endif %}">
  <div class="usp_container">
  

{% assign index_counter = 0 %} <!-- Initialize the counter -->

{% for block in section.blocks %}
  <div class="usp_block" js-usp-block-item data-index="{{ section.id }}-{{ index_counter }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
      <path d="{{ block.settings.icon_path }}" stroke="#00A77F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span>{{ block.settings.heading_text }}</span>

    <div class="usp_block-popup customize-notify hidden" data-index="{{ section.id }}-{{ index_counter }}">
      <h6 class="title">{{ block.settings.content_heading_text }}</h6>
      <span>{{ block.settings.content_description_text }}</span>
    </div>
  </div>
  {% assign index_counter = index_counter | plus: 1 %} <!-- Increment the counter -->
{% endfor %}


  </div>  
</section>                    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{{ 'jquery.cookie.js' | asset_url }}"></script>    
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

{% if template == 'page.sales' %}
  <style>
    .home-image-banner.sales {
      background-image: url('RV_Travel_Slider_1 1.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      padding: 125px 0;
    }
  </style>
{% endif %}
<script>
var $j = $.noConflict();  
$j(document).ready(function(){
$j('.banner-slider').slick({
dots: false,
infinite: true,
speed: 500,
slidesToShow: 1,
autoplaySpeed: 5000,
arrows: false,
slidesToScroll: 1,
autoplay: true,
fade: true,
  cssEase: 'ease-out',
});
$j('.mobile_only .deals_image').slick({
dots: true,
infinite: true,
speed: 500,
slidesToShow: 1,
autoplaySpeed: 3000,
arrows: false,
slidesToScroll: 1,
autoplay: false,
fade: true,
  cssEase: 'ease-out',
});  
$j('.logo-list').slick({
dots: false,
infinite: true,
speed: 500,
slidesToShow: 8,
slidesToScroll: 1,
arrows: false,
draggable: true,
autoplay: true,
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 5,
slidesToScroll: 1,
},
},
{
breakpoint: 640,
settings: {
slidesToShow: 3,
slidesToScroll: 1,
},
},
],
});
var newWindowWidth = $(window).width();
if (newWindowWidth < 767) {
$j('.best-internet-list').slick({
infinite: false,
dots: false,  
slidesToShow: 4,
speed: 500,
arrows: false,
autoplaySpeed: 5000,
autoplay: false,
dots: true,
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
},
},
  {
breakpoint: 767,
settings: {
slidesToShow: 1,
slidesToScroll: 1,
centerMode: true,
centerPadding: '15px'
},
},
],
});

$j('.blog-list').slick({
infinite: false,
dots: false,  
slidesToShow: 4,
speed: 500,
arrows: false,
autoplaySpeed: 5000,
autoplay: false,
dots: true,
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
},
},
  {
breakpoint: 767,
settings: {
slidesToShow: 1,
slidesToScroll: 1,
centerMode: true,
centerPadding: '15px'
},
},
],
});
  
        }
$j('.review-list').slick({
className: 'center',
centerMode: true,
infinite: true,
slidesToShow: 3,
speed: 500,
arrows: false,
  autoplaySpeed: 5000,
  autoplay: true,
dots: true,
centerPadding: '0px',
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
},
},
  {
breakpoint: 640,
settings: {
slidesToShow: 1,
slidesToScroll: 1,
centerPadding: '0px',
},
},
],
});
$j('.video-list').slick({
dots: false,
infinite: true,
autoplay:true,
autoplaySpeed:5000,
pauseOnHover:true,
speed: 500,
slidesToShow: 4,
slidesToScroll: 1,
arrows: true,
prevArrow: '<i class="prev_arrow fa fa-angle-left" aria-hidden="true"></i>',
nextArrow: '<i class="next_arrow fa fa-angle-right" aria-hidden="true"></i>',
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 3,
slidesToScroll: 1,
},
},
  {
breakpoint: 640,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
centerPadding: '0px',
},
},
],  
});

$j('.review-list-slider').slick({
  dots: false,
  infinite: $j('.review-list-slider').data('loop'),
  speed: 300,
  autoplay:true,
  autoplaySpeed:5000,
  pauseOnHover:true,
  slidesToShow: 3,
  slidesToScroll: 1,
  nextArrow: '<svg class="arrow-right" width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5 16.4941L29.5 25.4941L20.5 34.4941" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><rect x="49" y="49.4941" width="48" height="48" rx="24" transform="rotate(-180 49 49.4941)" stroke="white" stroke-width="2"/></svg>',
  prevArrow: '<svg class="arrow-left" width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.5 34.4941L20.5 25.4941L29.5 16.4941" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><rect x="1" y="1.49414" width="48" height="48" rx="24" stroke="white" stroke-width="2"/></svg>',
  responsive: [
  	{
      breakpoint: 1300,
      settings: {
      	dots: false,
      	arrows: true,	
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: false,
      	arrows: true,
      }
    },
    {
      breakpoint: 991,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
      	arrows: false,
        centerMode: true,
        centerPadding: '15px',
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
      	arrows: false,

      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});  

$j('.plan_popup').click(function(){
  $j('#myBtn').trigger('click');
});

$j('.redirect_ticket').click(function(){
  //window.location.href = "/pages/ticket";
  window.open('https://support.nomadinternet.com/', '_blank');
}); 

$j(document).on('click','.open-popup',function(){
$j(".popup").addClass("active");
$j('body').addClass('stopscroll');  
});
  
$j(document).on('click','.close-button',function(){  
$j('body').removeClass('stopscroll');
$j(".popup").removeClass("active"); 
});   

/*$j(document).on('click','#plan1',function(e){
e.preventDefault();
$j.cookie("selected_plan", '100mbps');
window.location.href = "/pages/configuration#service-section";
});

$j(document).on('click','#plan2',function(e){
e.preventDefault();
$j.cookie("selected_plan", '200mbps');    
window.location.href = "/pages/configuration#service-section";  
});  */
  
});
</script>

{% schema %}
{
  "name": "Home Image Banner",
  "presets": [
    {
      "name": "Home Image Banner"
    }
  ],
  "blocks": [
    {
      "type": "home_image_banner_block",
      "name": "Home Image Banner Block",
      "settings": [
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "Enter heading text here"
        },
        {
          "type": "text",
          "id": "content_heading_text",
          "label": "Content Heading Text",
          "default": "Enter content heading text here"
        },
        {
          "type": "textarea",
          "id": "content_description_text",
          "label": "Content Description Text",
          "default": "Enter content description text here"
        },
        {
          "type": "textarea",
          "id": "icon_path",
          "label": "Icon Path"
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}