{{ '02plancss.css' | asset_url | stylesheet_tag }}
{{ '02customisecss.css' | asset_url | stylesheet_tag }}
{{ '02checkoutcss.css' | asset_url | stylesheet_tag }}

<div id="plan">
{% include '02plan-plan' %}
</div>
<div id="customise" style="display:none;">
{% include '02plan-customise' %}
</div>
<div id="checkout" style="display:none;">
{% include '02plan-checkout' %}
</div>


<script src="https://code.jquery.com/jquery-3.7.0.min.js" defer></script>
<script src="{{ 'jquery.cookie.js' | asset_url }}"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>function floatToString(t,r){var e=t.toFixed(r).toString();return e.match(/^\.\d+/)?"0"+e:e}function attributeToString(t){return"string"!=typeof t&&"undefined"===(t+="")&&(t=""),jQuery.trim(t)}"undefined"==typeof window.Shopify&&(window.Shopify={}),Shopify.money_format="${{amount}}",Shopify.onError=function(t,r){var e=eval("("+t.responseText+")");e.message?alert(e.message+"("+e.status+"): "+e.description):alert("Error : "+Shopify.fullMessagesFromErrors(e).join("; ")+".")},Shopify.fullMessagesFromErrors=function(t){var o=[];return jQuery.each(t,function(e,t){jQuery.each(t,function(t,r){o.push(e+" "+r)})}),o},Shopify.onCartUpdate=function(t){alert("There are now "+t.item_count+" items in the cart.")},Shopify.onCartShippingRatesUpdate=function(t,r){var e="";r.zip&&(e+=r.zip+", "),r.province&&(e+=r.province+", "),e+=r.country,alert("There are "+t.length+" shipping rates available for "+e+", starting at "+Shopify.formatMoney(t[0].price)+".")},Shopify.onItemAdded=function(t){alert(t.title+" was added to your shopping cart.")},Shopify.onProduct=function(t){alert("Received everything we ever wanted to know about "+t.title)},Shopify.formatMoney=function(t,r){function n(t,r){return void 0===t?r:t}function e(t,r,e,o){if(r=n(r,2),e=n(e,","),o=n(o,"."),isNaN(t)||null==t)return 0;var a=(t=(t/100).toFixed(r)).split(".");return a[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g,"$1"+e)+(a[1]?o+a[1]:"")}"string"==typeof t&&(t=t.replace(".",""));var o="",a=/\{\{\s*(\w+)\s*\}\}/,i=r||this.money_format;switch(i.match(a)[1]){case"amount":o=e(t,2);break;case"amount_no_decimals":o=e(t,0);break;case"amount_with_comma_separator":o=e(t,2,".",",");break;case"amount_with_space_separator":o=e(t,2," ",",");break;case"amount_with_period_and_space_separator":o=e(t,2," ",".");break;case"amount_no_decimals_with_comma_separator":o=e(t,0,".",",");break;case"amount_no_decimals_with_space_separator":o=e(t,0,".","");break;case"amount_with_space_separator":o=e(t,2,",","");break;case"amount_with_apostrophe_separator":o=e(t,2,"'",".")}return i.replace(a,o)},Shopify.resizeImage=function(t,r){try{if("original"==r)return t;var e=t.match(/(.*\/[\w\-\_\.]+)\.(\w{2,4})/);return e[1]+"_"+r+"."+e[2]}catch(o){return t}},Shopify.addItem=function(t,r,e){var o={type:"POST",url:"/cart/add.js",data:"quantity="+(r=r||1)+"&id="+t,dataType:"json",success:function(t){"function"==typeof e?e(t):Shopify.onItemAdded(t)},error:function(t,r){Shopify.onError(t,r)}};jQuery.ajax(o)},Shopify.addItemFromForm=function(t,r){var e={type:"POST",url:"/cart/add.js",data:jQuery("#"+t).serialize(),dataType:"json",success:function(t){"function"==typeof r?r(t):Shopify.onItemAdded(t)},error:function(t,r){Shopify.onError(t,r)}};jQuery.ajax(e)},Shopify.getCart=function(r){jQuery.getJSON("/cart.js",function(t){"function"==typeof r?r(t):Shopify.onCartUpdate(t)})},Shopify.pollForCartShippingRatesForDestination=function(o,a,t){t=t||Shopify.onError;var n=function(){jQuery.ajax("/cart/async_shipping_rates",{dataType:"json",success:function(t,r,e){200===e.status?"function"==typeof a?a(t.shipping_rates,o):Shopify.onCartShippingRatesUpdate(t.shipping_rates,o):setTimeout(n,500)},error:t})};return n},Shopify.getCartShippingRatesForDestination=function(t,r,e){e=e||Shopify.onError;var o={type:"POST",url:"/cart/prepare_shipping_rates",data:Shopify.param({shipping_address:t}),success:Shopify.pollForCartShippingRatesForDestination(t,r,e),error:e};jQuery.ajax(o)},Shopify.getProduct=function(t,r){jQuery.getJSON("/products/"+t+".js",function(t){"function"==typeof r?r(t):Shopify.onProduct(t)})},Shopify.changeItem=function(t,r,e){var o={type:"POST",url:"/cart/change.js",data:"quantity="+r+"&id="+t,dataType:"json",success:function(t){"function"==typeof e?e(t):Shopify.onCartUpdate(t)},error:function(t,r){Shopify.onError(t,r)}};jQuery.ajax(o)},Shopify.removeItem=function(t,r){var e={type:"POST",url:"/cart/change.js",data:"quantity=0&id="+t,dataType:"json",success:function(t){"function"==typeof r?r(t):Shopify.onCartUpdate(t)},error:function(t,r){Shopify.onError(t,r)}};jQuery.ajax(e)},Shopify.clear=function(r){var t={type:"POST",url:"/cart/clear.js",data:"",dataType:"json",success:function(t){"function"==typeof r?r(t):Shopify.onCartUpdate(t)},error:function(t,r){Shopify.onError(t,r)}};jQuery.ajax(t)},Shopify.updateCartFromForm=function(t,r){var e={type:"POST",url:"/cart/update.js",data:jQuery("#"+t).serialize(),dataType:"json",success:function(t){"function"==typeof r?r(t):Shopify.onCartUpdate(t)},error:function(t,r){Shopify.onError(t,r)}};jQuery.ajax(e)},Shopify.updateCartAttributes=function(t,r){var o="";jQuery.isArray(t)?jQuery.each(t,function(t,r){var e=attributeToString(r.key);""!==e&&(o+="attributes["+e+"]="+attributeToString(r.value)+"&")}):"object"==typeof t&&null!==t&&jQuery.each(t,function(t,r){o+="attributes["+attributeToString(t)+"]="+attributeToString(r)+"&"});var e={type:"POST",url:"/cart/update.js",data:o,dataType:"json",success:function(t){"function"==typeof r?r(t):Shopify.onCartUpdate(t)},error:function(t,r){Shopify.onError(t,r)}};jQuery.ajax(e)},Shopify.updateCartNote=function(t,r){var e={type:"POST",url:"/cart/update.js",data:"note="+attributeToString(t),dataType:"json",success:function(t){"function"==typeof r?r(t):Shopify.onCartUpdate(t)},error:function(t,r){Shopify.onError(t,r)}};jQuery.ajax(e)},"1.4"<=jQuery.fn.jquery?Shopify.param=jQuery.param:(Shopify.param=function(t){var e=[],r=function(t,r){r=jQuery.isFunction(r)?r():r,e[e.length]=encodeURIComponent(t)+"="+encodeURIComponent(r)};if(jQuery.isArray(t)||t.jquery)jQuery.each(t,function(){r(this.name,this.value)});else for(var o in t)Shopify.buildParams(o,t[o],r);return e.join("&").replace(/%20/g,"+")},Shopify.buildParams=function(e,t,o){jQuery.isArray(t)&&t.length?jQuery.each(t,function(t,r){rbracket.test(e)?o(e,r):Shopify.buildParams(e+"["+("object"==typeof r||jQuery.isArray(r)?t:"")+"]",r,o)}):null!=t&&"object"==typeof t?Shopify.isEmptyObject(t)?o(e,""):jQuery.each(t,function(t,r){Shopify.buildParams(e+"["+t+"]",r,o)}):o(e,t)},Shopify.isEmptyObject=function(t){for(var r in t)return!1;return!0});</script>
<script>
var $j = jQuery.noConflict();

$j('.review-list').slick({
className: 'center',
centerMode: true,
infinite: true,
slidesToShow: 3,
speed: 500,
arrows: false,
  autoplaySpeed: 5000,
  autoplay: true,
dots: true,
centerPadding: '0px',
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
},
},
  {
breakpoint: 640,
settings: {
slidesToShow: 1,
slidesToScroll: 1,
centerPadding: '0px',
},
},
],
});
$j('.video-list').slick({
dots: false,
infinite: true,
speed: 500,
slidesToShow: 5,
slidesToScroll: 1,
arrows: true,
prevArrow: '<i class="prev_arrow fa fa-angle-left" aria-hidden="true"></i>',
nextArrow: '<i class="next_arrow fa fa-angle-right" aria-hidden="true"></i>',
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 3,
slidesToScroll: 1,
},
},
  {
breakpoint: 640,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
centerPadding: '0px',
},
},
],  
});  
  
var continue_error_status = false;  
var friend_name = '';
var discount_code = '';  
var status_rr_ref = false;
var status_rr_friend_ref = false;  

const urlParams = new URLSearchParams(window.location.search);
const myParam = urlParams.get('rr_ref');
const myParam_rr_friend_ref = urlParams.get('rr_friend_ref');

  
if (window.location.href.indexOf("rr_ref=") > -1) {
const settings = {
"async": true,
"crossDomain": true,
"url": "https://programs.nomadinternet.com/api/v1/users/-actions/friend-details?referral_code="+myParam+"&referral_type=titus",
"method": "GET",
"headers": {
"Accept": "application/vnd.api+json"
},
success: function(data){
$j('.modem-switch1').attr('data-id', '40024373198906');
$j('.modem-switch1').attr('data-price', '0.00');
$j('.normal_customer').hide();
$j('.referral_customer').show();
$j('.modem_price').text("Free Gift from : "+friend_name);
status_rr_ref = true;
},  
error: function(er){
console.log(er);
$j('.normal_customer').show();
$j('.referral_customer').hide();
}
};  
$j.ajax(settings).done(function(response){
//console.log(myParam);
//console.log(response);
friend_name = response.data.attributes.name;
$j('.referral_customer_friendname').text(friend_name);
$j('.referral_customer_friendname_modem').text(friend_name);
$j(".referral-welcom-popup").addClass("active");
$j('body').addClass('stopscroll');
$j('.referral_customer_greeting_msg').show();

fetch('/cart/update.js', {
method: "POST",
headers: {
    'X-Requested-With': 'XMLHttpRequest',
    'Content-Type': 'application/json;'
},
body: JSON.stringify({
    "attributes": {
      "rr_ref": myParam
    }
})
});

});

}
else if (window.location.href.indexOf("rr_friend_ref=") > -1) {
const settings = {
"async": true,
"crossDomain": true,
"url": "https://programs.nomadinternet.com/api/v1/users/-actions/friend-details?referral_code="+myParam_rr_friend_ref+"&referral_type=trojan",
"method": "GET",
"headers": {
"Accept": "application/vnd.api+json"
},
success: function(data){
$j('.normal_customer').show();
$j('.referral_customer').hide();
$j('.fon_referral_discount').show();
discount_code = 'FONX3YUNN1';
status_rr_friend_ref = true;
},  
error: function(er){
console.log(er);
$j('.normal_customer').show();
$j('.referral_customer').hide();
$j('.fon_referral_discount').hide();
}
};  
$j.ajax(settings).done(function(response){
friend_name = response.data.attributes.name;
$j('.referral_invited_friendname').text(friend_name);
//$j('.referral_customer_friendname_modem').text(friend_name);
$j('.fon_friend_name').text(friend_name);
$j(".referral-invitred-friend-popup").addClass("active");
$j('body').addClass('stopscroll');
$j('.referral_customer_greeting_msg').show();
$j('.normal_customer').show();
$j('.referral_customer').hide();

fetch('/cart/update.js', {
method: "POST",
headers: {
    'X-Requested-With': 'XMLHttpRequest',
    'Content-Type': 'application/json;'
},
body: JSON.stringify({
    "attributes": {
      "rr_friend_ref": myParam_rr_friend_ref
    }
})
});

});

} 
else{
$j('.normal_customer').show();
$j('.referral_customer').hide();
$j('.referral_customer_greeting_msg').hide();
$j('.fon_referral_discount').hide();

fetch('/cart/update.js', {
method: "POST",
headers: {
    'X-Requested-With': 'XMLHttpRequest',
    'Content-Type': 'application/json;'
},
body: JSON.stringify({
    "attributes": {
      "rr_ref": "",
      "rr_friend_ref": "",
      "rr_invited_emails": ""
    }
})
});

}  
$j('.see_faq').click(function(){
$j('.ip_block').hide();
$j('.first_block').hide();
$j('.faq_screen').show();
});
$j('.prev_faq').click(function(){
$j('.ip_block').show();
$j('.first_block').show();
$j('.faq_screen').hide();
});

$j(document).on('click', '.accordion-header', function () {
// Toggle the visibility of the content
var isVisible = $j(this).next('.accordion-content').is(':visible');

// Hide all accordion content
$j('.accordion-content').slideUp();
$j('.accordion').removeClass('open');
// If the clicked header's content was not visible, show it
if (!isVisible) {
$j(this).next('.accordion-content').slideDown();
$j(this).parents('.accordion').addClass('open');
}
}); 

$j(document).on('click','#referral-welcom-popup-btn',function(){
$j(".referral-welcom-popup").removeClass("active");
$j('body').removeClass('stopscroll');    
});
$j(document).on('click','#referral-invitred-popup-btn',function(){
$j(".referral-invitred-friend-popup").removeClass("active");
$j('body').removeClass('stopscroll');    
});  
$j(document).on('click','.open-popup',function(){
$j(".popup").addClass("active");
$j('body').addClass('stopscroll');  
}); 
$j(document).on('click','.plan-info-popup',function(){
$j(".plan_compare").addClass("active");
$j('body').addClass('stopscroll');
}); 
$j(document).on('click','.modem-info-popup',function(){
$j(".modem_compare").addClass("active");
$j('body').addClass('stopscroll');  
}); 
$j(document).on('click','.first-popup-open',function(){
$j(".first-popup").addClass("active");
$j('body').addClass('stopscroll');  
});
$j(document).on('click','.second-popup-open',function(){
$j(".second-popup").addClass("active");
$j('body').addClass('stopscroll');  
}); 
$j(document).on('click','.open-work-popup',function(){
$j(".introducing-popup").addClass("active");
$j('body').addClass('stopscroll');  
});
$j(document).on('click','.how_it_work_btn',function(){
//$j('.introducing-popup video').play();  
$j(".introducing-popup").addClass("active");
$j('body').addClass('stopscroll');  
});
$j(document).on('click','.faq_btn',function(){
$j(".faq-popup").addClass("active");
$j('body').addClass('stopscroll');  
});  

$j(document).on('click','.close-button',function(){  
$j('body').removeClass('stopscroll');  
$j(".referral-welcom-popup").removeClass("active");
$j(".faq-popup").removeClass("active");  
$j(".addon_trial_popup").removeClass("active");  
$j(".how-it-work-popup").removeClass("active");
$j(".introducing-popup").removeClass("active");
$j(".second-popup").removeClass("active");
$j(".first-popup").removeClass("active");
$j(".modem_compare").removeClass("active");
$j(".plan_compare").removeClass("active");
$j('.referral-invitred-friend-popup').removeClass("active");
$j(".popup").removeClass("active");  
$j('.ip_block').show();
$j('.faq_screen').hide();  
});  

function clearall(){
$j.removeCookie('invited-friends_1');
$j.removeCookie('invited-friends_2');
$j.removeCookie('invited-friends_3');
$j.removeCookie('invited-friends_4');
$j.removeCookie('invited-friends_5');
$j.removeCookie('email_body');
$j.removeCookie('customer_name');
$j.removeCookie('customer_email');
$j.removeCookie("currentUserId");
$j.removeCookie("accessTokenValue");
$j.removeCookie("invited-friends_1_referralID");
$j.removeCookie("invited-friends_2_referralID");
$j.removeCookie("invited-friends_3_referralID");
$j.removeCookie("invited-friends_4_referralID");
$j.removeCookie("invited-friends_5_referralID");  
}
clearall();  

function isEmail(email) {
var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
return regex.test(email);
}

function plan_required(){
if($j('.plan-box').hasClass('active')){  
$j('.plan_required').text('DONE');
$j('.plan_required').removeClass('required');
$j('.plan_required').addClass('done');
}
else{
$j('.plan_required').text('REQUIRED');
$j('.plan_required').addClass('required');
$j('.plan_required').removeClass('done'); 
}  
}

function modem_required(){
if($j('.modem-box').hasClass('active')){  
$j('.modem_required').text('DONE');
$j('.modem_required').removeClass('required');
$j('.modem_required').addClass('done');
$j('.addon_tab .title_tab').addClass('active');
$j('.addon_tab .inner_content').show();
}
else{
$j('.modem_required').text('REQUIRED');
$j('.modem_required').addClass('required');
$j('.modem_required').removeClass('done');
$j('.addon_tab .title_tab').removeClass('active');
$j('.addon_tab .inner_content').hide();
}  
}

function addon_required(){
if($j('.addon-box').hasClass('active')){  
$j('.addon_required').text('DONE');
$j('.addon_required').removeClass('required');
$j('.addon_required').addClass('done');
}
else{
$j('.addon_required').text('REQUIRED');
$j('.addon_required').addClass('required');
$j('.addon_required').removeClass('done');
}  
}
  

function customise_continue(){
  
const elementsToCheck = [
  { selector: '.save-plan-box', message: 'Friends of Nomad Discount' },
  { selector: '.plan-box', message: 'Internet Plans' },
  { selector: '.modem-box', message: 'Modem One-Time Membership' },
  { selector: '.addon-box', message: 'Nomad Upgrades' },
];
const continue_errors = [];
$j.each(elementsToCheck, function (index, element) {
  if (!$j(element.selector).hasClass('active')) {
    continue_errors.push(element.message);
  }
});
  
if($j('.plan-box').hasClass('active') && $j('.modem-box').hasClass('active') && $j('.addon-box').hasClass('active') && $j('.save-plan-box').hasClass('active')){
if($j('.save-plan.save-plan-box').hasClass('active')){
var total_friend = $j.cookie("total_friend");
if(total_friend > 0){
//$j('.customise_continue').removeClass('disable');
//$j('.continue-button-error').hide();
continue_error_status = false;
}
else{
//$j('.customise_continue').addClass('disable');
//$j('.continue-button-error').show();
continue_error_status = true;  
$j('.continue-button-error').text('Please add friends in Friends of Nomad Discount section.');    
}
}
if($j('.plan-features-details.save-plan-box').hasClass('active')){
//$j('.customise_continue').removeClass('disable');
//$j('.continue-button-error').hide();  
continue_error_status = false;  
}
}
else{
if($j('.customise_continue').hasClass('active')){

}
else{
//$j('.customise_continue').addClass('disable');
//$j('.continue-button-error').show(); 
continue_error_status = true;  
var total_friend = $j.cookie("total_friend");  
if(total_friend > 0){  
$j('.continue-button-error').text('Please select: '+continue_errors.join(" ,")+'.');  
}
else{
$j('.continue-button-error').text('Please add friends in Friends of Nomad Discount section. & select: '+continue_errors.join(" ,")+'.');  
}

if($j('.plan-features-details.save-plan-box').hasClass('active')){
$j('.continue-button-error').text('Please select: '+continue_errors.join(" ,")+'.');  
}
  
}
} 
  
}  

customise_continue();  
  

$j(document).on('click','#plan1',function(){
$j('#plan').hide();
$j('#customise').show();
$j('.plan-box').removeClass("active");
$j('#plan_switch1').prop('checked', true); 
if($j('#plan_switch2').is(":checked")) {
$j('#plan_switch2').prop('checked', false);  
}   
if($j('#plan_switch1').is(":checked")) {
$j('#plan_switch1').parents('.plan-box').addClass("active");  
} else {
$j('#plan_switch1').parents('.plan-box').removeClass("active");
}
plan_required(); 
customise_continue();  
});

$j(document).on('click','#plan2',function(){
$j('#plan').hide();
$j('#customise').show();
$j('.plan-box').removeClass("active");
$j('#plan_switch2').prop('checked', true); 
if($j('#plan_switch1').is(":checked")) {
$j('#plan_switch1').prop('checked', false);  
}   
if($j('#plan_switch2').is(":checked")) {
$j('#plan_switch2').parents('.plan-box').addClass("active");
} else {
$j('#plan_switch2').parents('.plan-box').removeClass("active");
}
plan_required(); 
customise_continue();  
});  

$j(document).on('click','#discount-switch1',function(){
$j('.save-plan-box').removeClass("active");
if($j(this).is(":checked")) {
$j(this).parents('.save-plan-box').addClass("active");
$j('#discount-switch2').prop('checked', false);
$j('#discount-switch2').parents('.save-plan-box').removeClass("active");
$j('.monthly-discount-details').show();
check_friends();  
} else {
$j(this).parents('.save-plan-box').removeClass("active");
$j('#discount-switch2').prop('checked', true);
$j('#discount-switch2').parents('.save-plan-box').addClass("active");  
$j('.monthly-discount-details').hide();
$j('.invite-friend-content').hide();
$j('.dy_discount').text('50');  
$j('.dy_finalpriceof100').html('99<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('119<span>.95/mo</span>');
$j('.hide_when_fullprice').hide();
$j('.saved_text').text('Save');  
}
customise_continue(); 
});
/*$j(document).on('click','.save-plan',function(e){
var container1 = $j(".open-work-popup");
var container2 = $j(".add_discount");
var container3 = $j(".add_friend"); 
var container4 = $j(".friend_email");
var container5 = $j(".friend_action");  
if (!container1.is(e.target) && container1.has(e.target).length === 0){
if (!container2.is(e.target) && container2.has(e.target).length === 0){
if (!container3.is(e.target) && container3.has(e.target).length === 0){
if (!container4.is(e.target) && container4.has(e.target).length === 0){
if (!container5.is(e.target) && container5.has(e.target).length === 0){
$j('#discount-switch1').trigger('click');
}
}
}
}
}
var container6 = $j(".toggle-switch");  
if (!container6.is(e.target) && container6.has(e.target).length === 0){
}
else{$j('#discount-switch1').trigger('click');}    
});*/
$j(document).on('click', '.save-plan', function (e) {
  var containersToCheck = [
    $j(".open-work-popup"),
    $j(".add_discount"),
    $j(".add_friend"),
    $j(".friend_email"),
    $j(".friend_action"),
    $j(".toggle-switch")
  ];
  var clickedOutsideContainers = containersToCheck.every(function (container) {
    return !container.is(e.target) && container.has(e.target).length === 0;
  });
  if (clickedOutsideContainers) {
    $j('#discount-switch1').click();
  }
});
  

$j(document).on('click','#discount-switch2',function(){
$j('.save-plan-box').removeClass("active");
if($j('#discount-switch1').is(":checked")) {
$j('#discount-switch1').prop('checked', false);  
}   
if($j(this).is(":checked")) {
$j(this).parents('.save-plan-box').addClass("active");
$j('#discount-switch1').prop('checked', false);
$j('#discount-switch1').parents('.save-plan-box').removeClass("active"); 
$j('.monthly-discount-details').hide();
$j('.invite-friend-content').hide();
$j('.dy_discount').text('50');
$j('.dy_finalpriceof100').html('99<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('119<span>.95/mo</span>');
$j('.hide_when_fullprice').hide();
$j('.saved_text').text('Save');  
} else {
$j(this).parents('.save-plan-box').removeClass("active");
$j('#discount-switch1').prop('checked', true);
$j('#discount-switch1').parents('.save-plan-box').addClass("active");  
$j('.monthly-discount-details').show();  
check_friends();
}
customise_continue();  
});

/*$j(document).on('click','.plan-features-details',function(e){
$j('#discount-switch2').trigger('click');
var container2 = $j(".toggle-switch");  
if (!container2.is(e.target) && container2.has(e.target).length === 0){
}
else{$j('#discount-switch2').trigger('click');}     
});*/
/*$j(document).on('click', '.plan-features-details', function (e) {
  var container2 = $j(".toggle-switch");
  if (!container2.is(e.target) && container2.has(e.target).length === 0) {
    $j('#discount-switch2').click();
  } else {
    $j('#discount-switch2').click();
  }
});*/
$j(document).on('click','.plan-features-details',function(e){
  var container2 = $j(".toggle-switch");
  if (!container2.is(e.target) && container2.has(e.target).length === 0) {
    $j('#discount-switch2').click(); // Trigger a click on the checkbox
  }
});  


$j('#plan_switch1').change(function(){
$j('.plan-box').removeClass("active");
if($j('#plan_switch2').is(":checked")) {
$j('#plan_switch2').prop('checked', false);  
}   
if($j(this).is(":checked")) {
$j(this).parents('.plan-box').addClass("active");
} else {
$j(this).parents('.plan-box').removeClass("active");
}
plan_required();
customise_continue();  
});

$j(document).on('click','.plan_switch1',function(e){  
var checkbox = $j('#plan_switch1');
var container1 = $j(".first-popup-open");
var container2 = $j(".toggle-switch");
if (!checkbox.is(e.target) && !container1.is(e.target) && !container2.is(e.target) && container2.has(e.target).length === 0) {
  checkbox.trigger('click');
}
});
  
/*$j(document).on('click','.plan_switch1',function(e){
var container1 = $j(".first-popup-open");
if (!container1.is(e.target)){
$j('#plan_switch1').trigger('click');
}
var container2 = $j(".toggle-switch");  
if (!container2.is(e.target) && container2.has(e.target).length === 0){
}
else{$j('#plan_switch1').trigger('click');}
});*/

$j('#plan_switch2').change(function(){
$j('.plan-box').removeClass("active");
if($j('#plan_switch1').is(":checked")) {
$j('#plan_switch1').prop('checked', false);  
}   
if($j(this).is(":checked")) {
$j(this).parents('.plan-box').addClass("active");
} else {
$j(this).parents('.plan-box').removeClass("active");
}
plan_required();
customise_continue();  
});

$j(document).on('click','.plan_switch2',function(e){  
var checkbox = $j('#plan_switch2');
var container1 = $j(".first-popup-open");
var container2 = $j(".toggle-switch");
if (!checkbox.is(e.target) && !container1.is(e.target) && !container2.is(e.target) && container2.has(e.target).length === 0) {
  checkbox.trigger('click');
}
});
/*$j(document).on('click','.plan_switch2',function(e){
var container1 = $j(".first-popup-open");
if (!container1.is(e.target)){
$j('#plan_switch1').trigger('click');
}
var container2 = $j(".toggle-switch");  
if (!container2.is(e.target) && container2.has(e.target).length === 0){
}
else{$j('#plan_switch2').trigger('click');}
});*/  

$j('#modem-switch1').change(function(){
$j('.modem-box').removeClass("active");
if($j('#modem-switch2').is(":checked") || $j('#modem-switch3').is(":checked") || $j('#modem-switch3-desktop').is(":checked")) {
$j('#modem-switch2').prop('checked', false);
$j('#modem-switch3').prop('checked', false);
$j('#modem-switch3-desktop').prop('checked', false);  
}  
if($j(this).is(":checked")) {
$j(this).parents('.modem-box').addClass("active");
} else {
$j(this).parents('.modem-box').removeClass("active");
}
modem_required();
customise_continue();  
});

$j(document).on('click','.modem-switch1',function(e){
  var container1 = $j(".toggle-switch");
  if (!container1.is(e.target) && container1.has(e.target).length === 0) {
    $j('#modem-switch1').click(); // Trigger a click on the checkbox
  }
});


$j('#modem-switch2').change(function(){
$j('.modem-box').removeClass("active");
if($j('#modem-switch1').is(":checked") || $j('#modem-switch3').is(":checked") || $j('#modem-switch3-desktop').is(":checked")) {
$j('#modem-switch1').prop('checked', false);
$j('#modem-switch3').prop('checked', false);
$j('#modem-switch3-desktop').prop('checked', false);  
}   
if($j(this).is(":checked")) {
$j(this).parents('.modem-box').addClass("active");
} else {
$j(this).parents('.modem-box').removeClass("active");
}
modem_required();
customise_continue();  
});

$j(document).on('click','.modem-switch2',function(e){
  var container1 = $j(".toggle-switch");
  if (!container1.is(e.target) && container1.has(e.target).length === 0) {
    $j('#modem-switch2').click(); // Trigger a click on the checkbox
  }
}); 


$j('#modem-switch3').change(function(){
$j('.modem-box').removeClass("active");
if($j('#modem-switch1').is(":checked") || $j('#modem-switch2').is(":checked") || $j('#modem-switch3-desktop').is(":checked")) {
$j('#modem-switch1').prop('checked', false);
$j('#modem-switch2').prop('checked', false);
$j('#modem-switch3-desktop').prop('checked', false);
}   
if($j(this).is(":checked")) {
$j(this).parents('.modem-box').addClass("active");
} else {
$j(this).parents('.modem-box').removeClass("active");
}
modem_required();
customise_continue();  
});

$j(document).on('click','.modem-switch3',function(e){
  var container1 = $j(".toggle-switch");
  if (!container1.is(e.target) && container1.has(e.target).length === 0) {
    $j('#modem-switch3').click(); // Trigger a click on the checkbox
  }
});   

$j('#modem-switch3-desktop').change(function(){
$j('.modem-box').removeClass("active");
if($j('#modem-switch1').is(":checked") || $j('#modem-switch2').is(":checked") || $j('#modem-switch3').is(":checked")) {
$j('#modem-switch1').prop('checked', false);
$j('#modem-switch2').prop('checked', false);
$j('#modem-switch3').prop('checked', false);  
}   
if($j(this).is(":checked")) {
$j(this).parents('.modem-box').addClass("active");
} else {
$j(this).parents('.modem-box').removeClass("active");
}
modem_required();
customise_continue();  
});

$j(document).on('click','.modem-switch3-desktop',function(e){
  var container1 = $j(".toggle-switch");
  if (!container1.is(e.target) && container1.has(e.target).length === 0) {
    $j('#modem-switch3-desktop').click(); // Trigger a click on the checkbox
  }
});   
  

$j('#addon-switch1').change(function(){ 
if($j(this).is(":checked")) {
$j(this).parents('.addon-box').addClass("active");
} else {
$j(this).parents('.addon-box').removeClass("active");
}
if($j('#addon-switch3').is(":checked")) {
$j('#addon-switch3').prop('checked', false);  
}
$j('.addon-box-3').removeClass('active');   
addon_required();
customise_continue();  
});

/*$j(document).on('click','.addon-box-1',function(e){
$j('#addon-switch1').trigger('click');
var container1 = $j(".toggle-switch");  
if (!container1.is(e.target) && container1.has(e.target).length === 0){
}
else{$j('#addon-switch1').trigger('click');}   
});*/
$j(document).on('click','.addon-box-1',function(e){
  var container1 = $j(".toggle-switch");
  if (!container1.is(e.target) && container1.has(e.target).length === 0) {
    $j('#addon-switch1').click(); // Trigger a click on the checkbox
  }
});


$j('#addon-switch2').change(function(){ 
if($j(this).is(":checked")) {
$j(this).parents('.addon-box').addClass("active");
} else {
$j(this).parents('.addon-box').removeClass("active");
}
if($j('#addon-switch3').is(":checked")) {
$j('#addon-switch3').prop('checked', false);  
}
$j('.addon-box-3').removeClass('active');  
addon_required();
customise_continue();  
}); 
 
$j(document).on('click','.addon-box-2',function(e){
  var container1 = $j(".toggle-switch");
  if (!container1.is(e.target) && container1.has(e.target).length === 0) {
    $j('#addon-switch2').click(); // Trigger a click on the checkbox
  }
});

  

$j('#addon-switch3').change(function(){
$j('.addon-box').removeClass("active");
if($j('#addon-switch1').is(":checked")) {
$j('#addon-switch1').prop('checked', false);  
}
if($j('#addon-switch2').is(":checked")) {
$j('#addon-switch2').prop('checked', false);
$j('.addon-box-2').removeClass('addone-trials');  
}   
if($j(this).is(":checked")) {
$j('.addon_trial_popup').addClass('active');  
$j(this).parents('.addon-box').addClass("active");
$j('.free-trials').hide();
$j('.free_text').hide();  
$j('.addon-box-1').removeClass('addone-trials');
$j('.addon-box-2').removeClass('addone-trials');  
} else {
$j(this).parents('.addon-box').removeClass("active");
}
addon_required();
customise_continue();  
});
/*$j(document).on('click','.addon-box-3',function(e){
$j('#addon-switch3').trigger('click');
var container1 = $j(".toggle-switch");  
if (!container1.is(e.target) && container1.has(e.target).length === 0){
}
else{$j('#addon-switch3').trigger('click');}   
});*/
$j(document).on('click','.addon-box-3',function(e){
  var container7 = $j(".toggle-switch");
  if (!container7.is(e.target) && container7.has(e.target).length === 0) {
    $j('#addon-switch3').click(); // Trigger a click on the checkbox
  }
});



if (window.location.href.indexOf("find=100-air") > -1) {
  $j('#plan').hide();
  $j('#customise').show();
  $j('#plan_switch1').trigger('click');
  $j('#modem-switch2').trigger('click');
}
if (window.location.href.indexOf("find=200-air") > -1) {
  $j('#plan').hide();
  $j('#customise').show();
  $j('#plan_switch2').trigger('click');
  $j('#modem-switch2').trigger('click');
}
if (window.location.href.indexOf("find=100-omega") > -1) {
  $j('#plan').hide();
  $j('#customise').show();
  $j('#plan_switch1').trigger('click');
  $j('#modem-switch1').trigger('click');
}
if (window.location.href.indexOf("find=air-backup") > -1) {
  $j('#plan').hide();
  $j('#customise').show();
  $j('#plan_switch1').trigger('click');
  $j('#modem-switch3-desktop').click();
  $j('#modem-switch3').click();
}

  

$j(document).on('click','.customise_continue',function(){
customise_continue();  
if(continue_error_status == true){
  $j('.continue-button-error').show();
}  
else{  
$j('.continue-button-error').hide();  
$j('#plan').hide();
$j('#customise').hide();
$j('#checkout').show();

var plan_name = $j('.plan-box.active').attr('data-plan');
var plan_price = $j('.plan-box.active').attr('data-price');  
$j('.plan_title').text(plan_name);
$j('.plan_price').text('$'+plan_price);  

if($j('.addon-box-3').hasClass('active')){
$j('.addon_1').hide();
$j('.addon_2').hide();
}
else{
if($j('.addon-box-1').hasClass('active') && $j('.addon-box-2').hasClass('active')){
if($j('.addon-box-1').hasClass('addone-trials') && $j('.addon-box-2').hasClass('addone-trials')){
$j('.addon_1').show();
$j('.addon_2').show();
$j('.addon_1 .addon_price').text('$0.00');
$j('.addon_1 .addon_title').text('Nomad Prime Add-on Trials');
$j('.addon_2 .addon_price').text('$0.00');
$j('.addon_2 .addon_title').text('Nomad Internet Travel Add-on Trials');
}
else{
var addon_1_name = $j('.addon-box-1.active').attr('data-addon');
var addon_1_price = $j('.addon-box-1.active').attr('data-price');
var addon_2_name = $j('.addon-box-2.active').attr('data-addon');
var addon_2_price = $j('.addon-box-2.active').attr('data-price');
$j('.addon_1 .addon_title').text(addon_1_name);
$j('.addon_1 .addon_price').text('$'+addon_1_price);
$j('.addon_2 .addon_title').text(addon_2_name);
$j('.addon_2 .addon_price').text('$'+addon_2_price);
$j('.addon_1').show();
$j('.addon_2').show();
}
}
else{
if($j('.addon-box-1').hasClass('active')){
if($j('.addon-box-1').hasClass('addone-trials')){
$j('.addon_1').show();
$j('.addon_2').hide();
$j('.addon_1 .addon_price').text('$0.00');
$j('.addon_1 .addon_title').text('Nomad Prime Add-on Trials');
}
else{
var addon_1_name = $j('.addon-box-1.active').attr('data-addon');
var addon_1_price = $j('.addon-box-1.active').attr('data-price');
$j('.addon_1 .addon_title').text(addon_1_name);
$j('.addon_1 .addon_price').text('$'+addon_1_price);
$j('.addon_1').show();
$j('.addon_2').hide();
}
}
if($j('.addon-box-2').hasClass('active')){
if($j('.addon-box-1').hasClass('addone-trials')){
$j('.addon_1').hide();
$j('.addon_2').show();
$j('.addon_2 .addon_price').text('$0.00');
$j('.addon_2 .addon_title').text('Nomad Internet Travel Add-on Trials');
}
else{
var addon_2_name = $j('.addon-box-2.active').attr('data-addon');
var addon_2_price = $j('.addon-box-2.active').attr('data-price');
$j('.addon_2 .addon_title').text(addon_2_name);
$j('.addon_2 .addon_price').text('$'+addon_2_price);
$j('.addon_1').hide();
$j('.addon_2').show();
}  
}  
}
}

var total_friend = $j.cookie("total_friend");

var modem_price = $j('.modem-box.active').attr('data-price');
if (window.location.href.indexOf("rr_ref=") > -1) {
if(status_rr_ref == true){
$j('.modem_price').text("Free Gift from : "+friend_name);
$j('.modem_price').css("text-align", "right");  
}
else{$j('.modem_price').text('$'+modem_price);}
}
else{  
$j('.modem_price').text('$'+modem_price);
}

var total = 0;
var price_plan = $j('.plan-box.active').attr('data-price');
if($j('.addon-box-1').hasClass('active')){
if($j('.addon-box-1').hasClass('addone-trials')){
var price_addon1 = 0;    
}
else{
var price_addon1 = $j('.addon-box-1.active').attr('data-price');    
}
}
else{
var price_addon1 = 0;  
}
if($j('.addon-box-2').hasClass('active')){  
if($j('.addon-box-2').hasClass('addone-trials')){
var price_addon2 = 0;    
}
else{
var price_addon2 = $j('.addon-box-2.active').attr('data-price');    
}
}
else{
var price_addon2 = 0;  
}  


var price_discount = $j('.nomad_discount').attr('data-price');
if(total_friend == 0){
total = parseFloat(price_plan) + parseFloat(price_addon1) + parseFloat(price_addon2);
}
else{
total = parseFloat(price_plan) + parseFloat(price_addon1) + parseFloat(price_addon2) - parseFloat(price_discount);  
}

if(window.location.href.indexOf("rr_friend_ref=") > -1){  
/*var newoff = (parseFloat(total)/100)*15;
total = parseFloat(total) - parseFloat(newoff);
$j('.fon_referral_discount_price').text('- $'+parseFloat(newoff).toFixed(2));*/
$j('.monthly_total').text('$'+parseFloat(total).toFixed(2));
}
else{
$j('.monthly_total').text('$'+parseFloat(total).toFixed(2));  
}  
var initial_total = 0;
var service_activation = 29.99;
var wifi_activation = 19.99;
if(total_friend == 0){
initial_total = parseFloat(price_plan) + parseFloat(modem_price) + parseFloat(price_addon1) + parseFloat(price_addon2) + parseFloat(service_activation) + parseFloat(wifi_activation);  
}
else{
initial_total = parseFloat(price_plan) + parseFloat(modem_price) + parseFloat(price_addon1) + parseFloat(price_addon2) + parseFloat(service_activation) + parseFloat(wifi_activation) - parseFloat(price_discount);  
}  

if(window.location.href.indexOf("rr_friend_ref=") > -1){
if(status_rr_friend_ref == true){  
var newoff1 = (parseFloat(initial_total)/100)*15;
initial_total = parseFloat(initial_total) - parseFloat(newoff1);
$j('.fon_referral_discount_price').text('- $'+parseFloat(newoff1).toFixed(2));
$j('.initial_total').text('$'+parseFloat(initial_total).toFixed(2));  
}
else{$j('.initial_total').text('$'+parseFloat(initial_total).toFixed(2));  }
}
else{  
$j('.initial_total').text('$'+parseFloat(initial_total).toFixed(2));  
}

$j("html, body").animate({ scrollTop: 0 }, "fast");
}
}); 

$j(document).on("click", ".final_checkout", function(){
const item_arr = {
"attributes": {},
"items": []
};
if (window.location.href.indexOf("rr_friend_ref=") > -1) {

}
else{  
discount_code = '';
}

var plan_id = $j('.plan-box.active').attr('data-id');  
var total_friend = $j.cookie("total_friend");  
if(total_friend == 1){
plan_id = $j('.plan-box.active').attr('data-10id');
}
else if(total_friend == 2){
plan_id = $j('.plan-box.active').attr('data-20id');
}
else if(total_friend == 3){
plan_id = $j('.plan-box.active').attr('data-30id');
}
else if(total_friend == 4){
plan_id = $j('.plan-box.active').attr('data-40id');
}
else if(total_friend == 5){
plan_id = $j('.plan-box.active').attr('data-50id');
}  
else{
} 


var modem_id = $j('.modem-box.active').attr('data-id');
var wifi_id = $j('.modem-box.active').attr('data-wifi');
var service_id = $j('.modem-box.active').attr('data-service');

if($j('.addon-box-1').hasClass('active')){  
if($j('.addon-box-1').hasClass('addone-trials')){ 
var addon1_id = $j('.addon-box-1.addone-trials').attr('data-addon1-id');
}
else{
var addon1_id = $j('.addon-box-1.active').attr('data-id'); 
}

}
else{
var addon1_id = ''; 
}
if($j('.addon-box-2').hasClass('active')){
if($j('.addon-box-2').hasClass('addone-trials')){ 
var addon2_id = $j('.addon-box-2.addone-trials').attr('data-addon2-id');
}
else{
var addon2_id = $j('.addon-box-2.active').attr('data-id');      
}
}
else{
var addon2_id = '';
}  
if(addon1_id != '' && addon2_id != ''){
item_arr.items.push({id: plan_id, quantity: 1});
item_arr.items.push({id: modem_id, quantity: 1});
item_arr.items.push({id: addon1_id, quantity: 1});
item_arr.items.push({id: addon2_id, quantity: 1});
item_arr.items.push({id: service_id, quantity: 1});
item_arr.items.push({id: wifi_id, quantity: 1});
//var cart_link = '/cart/'+plan_id+':1,'+modem_id+':1,'+addon1_id+':1,'+addon2_id+':1,'+service_id+':1,'+wifi_id+':1';
}
else if(addon1_id == '' && addon2_id != ''){
item_arr.items.push({id: plan_id, quantity: 1});
item_arr.items.push({id: modem_id, quantity: 1});
item_arr.items.push({id: addon2_id, quantity: 1});
item_arr.items.push({id: service_id, quantity: 1});
item_arr.items.push({id: wifi_id, quantity: 1});  
//var cart_link = '/cart/'+plan_id+':1,'+modem_id+':1,'+addon2_id+':1,'+service_id+':1,'+wifi_id+':1';
}
else if(addon1_id != '' && addon2_id == ''){
item_arr.items.push({id: plan_id, quantity: 1});
item_arr.items.push({id: modem_id, quantity: 1});
item_arr.items.push({id: addon1_id, quantity: 1});
item_arr.items.push({id: service_id, quantity: 1});
item_arr.items.push({id: wifi_id, quantity: 1});  
//var cart_link = '/cart/'+plan_id+':1,'+modem_id+':1,'+addon1_id+':1,'+service_id+':1,'+wifi_id+':1';
} 
else{
item_arr.items.push({id: plan_id, quantity: 1});
item_arr.items.push({id: modem_id, quantity: 1});
item_arr.items.push({id: service_id, quantity: 1});
item_arr.items.push({id: wifi_id, quantity: 1});  
//var cart_link = '/cart/'+plan_id+':1,'+modem_id+':1,'+service_id+':1,'+wifi_id+':1';
}

//item_arr.items.push({id: 39985301225530, quantity: 1});
const friends_list = [];
if(typeof $j.cookie("invited-friends_1") == 'undefined'){
friends_list.push($j.cookie("invited-friends_1"));
}
else if(typeof $j.cookie("invited-friends_2") == 'undefined'){
friends_list.push($j.cookie("invited-friends_2"));
}
else if(typeof $j.cookie("invited-friends_3") == 'undefined'){
friends_list.push($j.cookie("invited-friends_3")); 
}
else if(typeof $j.cookie("invited-friends_4") == 'undefined'){
friends_list.push($j.cookie("invited-friends_4"));  
}
else if(typeof $j.cookie("invited-friends_5") == 'undefined'){
friends_list.push($j.cookie("invited-friends_5")); 
}  
else{

}



$j.ajax({
url: "/cart/clear.js", 
type: "GET",
dataType: "json",
contentType: "application/json; charset=utf-8",
success: function (result) {
$j.ajax({
url: "/cart/add.js", 
type: "POST",
dataType: "json",
data: JSON.stringify(item_arr),
contentType: "application/json; charset=utf-8",
success: function (results) {
fetch('/cart/update.js', {
method: "POST",
headers: {
    'X-Requested-With': 'XMLHttpRequest',
    'Content-Type': 'application/json;'
},
body: JSON.stringify({
    "attributes": {
      "rr_invited_emails": friends_list.join()
    }
})
});  
$j.ajax({
url: "/cart.js", 
type: "GET",
dataType: "json",
contentType: "application/json; charset=utf-8",
success: function (data) { 
var cart_token = data.token;
if(discount_code == ''){
var url = "https://checkout.rechargeapps.com/r/checkout?domain=nomadplus.myshopify.com&cart_token=" + cart_token;  
} 
else{  
var url = "https://checkout.rechargeapps.com/r/checkout?domain=nomadplus.myshopify.com&discount=" + discount_code + "&cart_token=" + cart_token;
}
document.location = url;
},
error: function (er) {
console.log(er)
}
});
},
error: function (errs) {
console.log(errs)
}
});
},
error: function (err) {
console.log(err)
}
});

}); 

var $titleTab = $j('.title_tab');
$j('.Accordion_item:eq(0)').find('.title_tab').addClass('active').next().stop().slideDown(300);
$j('.Accordion_item:eq(0)').find('.inner_content').find('p').addClass('show');
$titleTab.on('click', function(e) {
e.preventDefault();
if ( $j(this).hasClass('active') ) {
$j(this).removeClass('active');
$j(this).next().stop().slideUp(500);
$j(this).next().find('p').removeClass('show');
} else {
$j(this).addClass('active');
$j(this).next().stop().slideDown(500);
$j(this).parent().siblings().children('.title_tab').removeClass('active');
$j(this).parent().siblings().children('.inner_content').slideUp(500);
$j(this).parent().siblings().children('.inner_content').find('p').removeClass('show');
$j(this).next().find('p').addClass('show');
} 
});

$j(document).on('click','.chat_text',function(e){
$zoho.salesiq.floatwindow.visible("show");
});

$j(document).on('click','.edit_order',function(e){
$j('#plan').hide();
$j('#customise').show();
$j('#checkout').hide();
});  

function customer_details(){
var c_name = $j.cookie("customer_name");
var c_email = $j.cookie("customer_email");
$j('.customer_name').val(c_name);
$j('.customer_email').val(c_email);
/*$j('.email_body').removeAttr('contenteditable'); */
$j('.customer_name_email').text(c_name);
/*$j('.email_body').attr('contenteditable',true);*/
var mail = $j('.email_body').html();
$j.cookie("email_body", mail);  
var customer_email = $j.cookie("email_body");
$j('.email_body').html(customer_email);
}

$j(document).on('click','.add_discount',function(e){
if(typeof $j.cookie("customer_name") != 'undefined' && typeof $j.cookie("customer_email") != 'undefined'){
$j('.invite-friend-content').show();
$j('.discount_main').hide(); 
}
else{
$j('.invite-friend-content').hide();
$j('.discount_main').show();
}
$j('.how-it-work-popup').addClass('active'); 
$j('.first_block').show();
$j('.faq_screen').hide();  
customer_details(); 
});

$j(document).on('click','.tab-details.first',function(){  
$j('.tab-details.first').addClass('active');
$j('.tab-details.second').removeClass('active');
$j('.tab-details.third').removeClass('active');
$j('.first-stap-popup').show();
$j('.second-stap-popup').hide();
$j('.third-stap-popup').hide();
$j('.faq_screen').hide();
$j('.first_block').show();  
});
$j(document).on('click','.tab-details.second',function(){
$j('.tab-details.second').addClass('active');
$j('.tab-details.first').removeClass('active');
$j('.tab-details.third').removeClass('active');
$j('.first-stap-popup').hide();
$j('.second-stap-popup').show();
$j('.third-stap-popup').hide();
$j('.faq_screen').hide();    
});
$j(document).on('click','.faq_discount_btn',function(){
$j('.tab-details.second').addClass('active');
$j('.tab-details.first').removeClass('active');
$j('.tab-details.third').removeClass('active');
$j('.first-stap-popup').hide();
$j('.second-stap-popup').show();
$j('.third-stap-popup').hide();
$j('.faq_screen').hide();     
});
$j(document).on('click','.tab-details.third',function(){
if(typeof $j.cookie("customer_name") != 'undefined' && typeof $j.cookie("customer_email") != 'undefined'){  
$j('.tab-details.third').addClass('active');
$j('.tab-details.first').removeClass('active');
$j('.tab-details.second').removeClass('active');
$j('.first-stap-popup').hide();
$j('.second-stap-popup').hide();
$j('.third-stap-popup').show();
$j('.faq_screen').hide();
}  
});
$j(document).on('click','.how-it-work-popup-proceed',function(){  
$j('.tab-details.second').addClass('active');
$j('.tab-details.first').removeClass('active');
$j('.tab-details.third').removeClass('active');
$j('.first-stap-popup').hide();
$j('.second-stap-popup').show();
$j('.third-stap-popup').hide();
});
$j(document).on('click','.second-stap-popup .previous-button',function(){  
$j('.tab-details.first').addClass('active');
$j('.tab-details.second').removeClass('active');
$j('.tab-details.third').removeClass('active');
$j('.first-stap-popup').show();
$j('.second-stap-popup').hide();
$j('.third-stap-popup').hide();
$j('.faq_screen').hide();
$j('.first_block').show();   
});
$j(document).on('click','.third-stap-popup .previous-button',function(){
$j('.tab-details.second').addClass('active');
$j('.tab-details.first').removeClass('active');
$j('.tab-details.third').removeClass('active');
$j('.first-stap-popup').hide();
$j('.second-stap-popup').show();
$j('.third-stap-popup').hide();
$j('.faq_screen').hide();
$j('.first_block').show();   
});


$j(document).on('click','.customer_details_proceed',function(){
var customer_name = $j('.customer_name').val();
var customer_email = $j('.customer_email').val();
if(customer_name == '' || customer_email == ''){
$j('.customer_details_error').text('Please add all details to personalize your friend invites.');
$j('.customer_details_error').show();
}
else{
if(!isEmail(customer_email)){
$j('.customer_details_error').text('Please add valid email address.');
$j('.customer_details_error').show();
}
else{
const settings = {
"async": true,
"crossDomain": true,
"url": "https://programs.nomadinternet.com/api/v1/users?include=referrals",
"method": "POST",
"headers": {
"Content-Type": "application/vnd.api+json",
"Accept": "application/vnd.api+json"
},
"processData": false,
"data": JSON.stringify({
"jsonapi": {
  "version": "1.0"
},
"data": {
  "type": "users",
  "attributes": {
      "name": customer_name,
      "email": customer_email
  }
}
}),
beforeSend: function() {
$j('.rr_loader').show();
},
success: function(data){
$j.cookie("customer_name", customer_name);
$j.cookie("customer_email", customer_email);
$j('.tab-details.third').addClass('active');
$j('.tab-details.first').removeClass('active');
$j('.tab-details.second').removeClass('active');
$j('.first-stap-popup').hide();
$j('.second-stap-popup').hide();
$j('.third-stap-popup').show();
$j('.dynamic_discount').html('<span class="dollar">$</span>0<span class="month">/mo</span>');
$j('.dy_finalpriceof100').html('99<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('119<span>.95/mo</span>');
$j('.hide_when_fullprice').hide();
$j('.saved_text').text('Saved');
$j('.dy_discount').text('0');
$j('.color_bg').css('display','none');
$j('.color_bg.zero_friend').css('display','flex');
$j('.rr_loader').hide();  
customer_details();
},  
error: function(er){
console.log(er);
$j('.customer_details_error').show();
$j('.customer_details_error').text(er.responseJSON.errors[0].detail);
console.log(er.responseJSON.errors[0].detail);
},
complete: function() {

}
};

$j.ajax(settings).done(function(response){
//console.log('test');
  //console.log(response);
//console.log(response.included.length);
  //console.log(response.data.id);
//console.log(response.meta.access_token.value);
$j.cookie("currentUserId", response.data.id);
$j.cookie("accessTokenValue", response.meta.access_token.value);
  
for (let i = 1; i <= Math.min(response.included.length, 5); i++) {
  const friendIndex = i;
  const cookieName = 'invited-friends_'+friendIndex;
  const cookieReferralIDName = 'invited-friends_'+friendIndex+'_referralID';
  const friendEmail = response.included[friendIndex - 1].attributes.email;
  if (typeof $j.cookie(cookieName) === 'undefined') {
    $j.cookie(cookieName, friendEmail);
    $j('.invited-friends_'+friendIndex+' .friend_email_'+friendIndex).text(friendEmail);
    console.log(friendEmail);
  }

  if (typeof $j.cookie(cookieReferralIDName) === 'undefined') {
    $j.cookie(cookieReferralIDName, response.included[friendIndex - 1].id);
  }
}

check_friends();  
});


}
customer_details();
}  
});  

$j(document).on('click','.email_save',function(){
var mail = $j('.email_body').html();
$j.cookie("email_body", mail);
$j(".how-it-work-popup").removeClass("active");
if(typeof $j.cookie("customer_name") != 'undefined' && typeof $j.cookie("customer_email") != 'undefined'){
$j('.invite-friend-content').show();
$j('.discount_main').hide();
$j('.rr_loader').hide();  
}
else{
$j('.invite-friend-content').hide();
$j('.discount_main').show();
}  
});  

function check_friends(){
if(typeof $j.cookie("invited-friends_1") != 'undefined' || typeof $j.cookie("invited-friends_2") != 'undefined' || typeof $j.cookie("invited-friends_3") != 'undefined' || typeof $j.cookie("invited-friends_4") != 'undefined' || typeof $j.cookie("invited-friends_5") != 'undefined'){
$j('.no-friend-details').hide();
if(typeof $j.cookie("invited-friends_1") != 'undefined'){
$j('.invited-friends_1').show();
if ($j('.invited-friends_1').hasClass('active')){}else{$j('.invited-friends_1').addClass('active');}
$j('.invited-friends_1 .friend_email_1').text($j.cookie("invited-friends_1"));
$j('.discount-box-1').addClass('active');
}
if(typeof $j.cookie("invited-friends_2") != 'undefined'){
$j('.invited-friends_2').show();
if ($j('.invited-friends_2').hasClass('active')){}else{$j('.invited-friends_2').addClass('active');}
$j('.invited-friends_2 .friend_email_2').text($j.cookie("invited-friends_2"));
$j('.discount-box-2').addClass('active');
}
if(typeof $j.cookie("invited-friends_3") != 'undefined'){
$j('.invited-friends_3').show();
if ($j('.invited-friends_3').hasClass('active')){}else{$j('.invited-friends_3').addClass('active');}
$j('.invited-friends_3 .friend_email_3').text($j.cookie("invited-friends_3"));
$j('.discount-box-3').addClass('active');
}
if(typeof $j.cookie("invited-friends_4") != 'undefined'){
$j('.invited-friends_4').show();
if ($j('.invited-friends_4').hasClass('active')){}else{$j('.invited-friends_4').addClass('active');}
$j('.invited-friends_4 .friend_email_4').text($j.cookie("invited-friends_4"));
$j('.discount-box-4').addClass('active');
}
if(typeof $j.cookie("invited-friends_5") != 'undefined'){
$j('.invited-friends_5').show();
if ($j('.invited-friends_5').hasClass('active')){}else{$j('.invited-friends_5').addClass('active');}
$j('.invited-friends_5 .friend_email_5').text($j.cookie("invited-friends_5"));
$j('.discount-box-5').addClass('active');
}
}

var total_friend = 0;
$j(".invited-friends-list.active").each(function() {
total_friend++;
});
$j.cookie("total_friend", total_friend);
if(total_friend == 5){
$j('.email-form').hide();
$j('.all_done').show();
} 

if(total_friend == 1){
$j('.dynamic_discount').html('<span class="dollar">$</span>10<span class="month">/mo</span>');
$j('.dy_discount').text('10');
$j('.hide_when_fullprice').show();  
$j('.color_bg').css('display','flex');
$j('.color_bg.zero_friend').css('display','none');    
$j('.dy_finalpriceof100').html('89<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('109<span>.95/mo</span>');
$j('.sub_dis_text').show();
$j('.saved_text').text('Saved');
$j('.nomad_friends').show();    
$j('.nomad_friend_count').text('1 Nomad Friends');
$j('.nomad_discount').text('- $10.00');
$j('.nomad_discount').attr('data-price', '10.00');
$j('.no-friend-details').hide();
$j('.discount-box').removeClass('active');
$j('.discount-box-1').addClass('active');  
}
else if(total_friend == 2){
$j('.dynamic_discount').html('<span class="dollar">$</span>20<span class="month">/mo</span>');
$j('.dy_discount').text('20');
$j('.hide_when_fullprice').show();  
$j('.color_bg').css('display','flex');
$j('.color_bg.zero_friend').css('display','none');    
$j('.dy_finalpriceof100').html('79<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('99<span>.95/mo</span>');
$j('.sub_dis_text').show();
$j('.saved_text').text('Saved');  
$j('.nomad_friends').show();    
$j('.nomad_friend_count').text('2 Nomad Friends');  
$j('.nomad_discount').text('- $20.00');
$j('.nomad_discount').attr('data-price', '20.00');  
$j('.no-friend-details').hide();
$j('.discount-box').removeClass('active');
$j('.discount-box-1').addClass('active');
$j('.discount-box-2').addClass('active');  
}
else if(total_friend == 3){
$j('.dynamic_discount').html('<span class="dollar">$</span>30<span class="month">/mo</span>');
$j('.dy_discount').text('30');
$j('.hide_when_fullprice').show(); 
$j('.color_bg').css('display','flex');
$j('.color_bg.zero_friend').css('display','none');    
$j('.dy_finalpriceof100').html('69<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('89<span>.95/mo</span>');
$j('.sub_dis_text').show();
$j('.saved_text').text('Saved');  
$j('.nomad_friends').show();    
$j('.nomad_friend_count').text('3 Nomad Friends');  
$j('.nomad_discount').text('- $30.00');
$j('.nomad_discount').attr('data-price', '30.00');  
$j('.no-friend-details').hide();   
$j('.discount-box').removeClass('active');
$j('.discount-box-1').addClass('active');
$j('.discount-box-2').addClass('active'); 
$j('.discount-box-3').addClass('active');   
}
else if(total_friend == 4){
$j('.dynamic_discount').html('<span class="dollar">$</span>40<span class="month">/mo</span>');
$j('.dy_discount').text('40');
$j('.hide_when_fullprice').show();
$j('.color_bg').css('display','flex');
$j('.color_bg.zero_friend').css('display','none');    
$j('.dy_finalpriceof100').html('59<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('79<span>.95/mo</span>');
$j('.sub_dis_text').show();
$j('.saved_text').text('Saved');  
$j('.nomad_friends').show();    
$j('.nomad_friend_count').text('4 Nomad Friends');  
$j('.nomad_discount').text('- $40.00');
$j('.nomad_discount').attr('data-price', '40.00');  
$j('.no-friend-details').hide();  
$j('.discount-box').removeClass('active');
$j('.discount-box-1').addClass('active');
$j('.discount-box-2').addClass('active'); 
$j('.discount-box-3').addClass('active');
$j('.discount-box-4').addClass('active');  
}
else if(total_friend == 5){
$j('.dynamic_discount').html('<span class="dollar">$</span>50<span class="month">/mo</span>');
$j('.dy_discount').text('50');
$j('.hide_when_fullprice').show();
$j('.color_bg').css('display','flex');
$j('.color_bg.zero_friend').css('display','none');  
$j('.dy_finalpriceof100').html('49<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('69<span>.95/mo</span>');
$j('.sub_dis_text').show();
$j('.saved_text').text('Saved');  
$j('.nomad_friends').show();    
$j('.nomad_friend_count').text('5 Nomad Friends'); 
$j('.nomad_discount').text('- $50.00');
$j('.nomad_discount').attr('data-price', '50.00');  
$j('.no-friend-details').hide(); 
$j('.discount-box').removeClass('active');
$j('.discount-box-1').addClass('active');
$j('.discount-box-2').addClass('active'); 
$j('.discount-box-3').addClass('active');
$j('.discount-box-4').addClass('active');
$j('.discount-box-5').addClass('active');  
}  
else{ 
if(typeof $j.cookie("customer_name") != 'undefined' && typeof $j.cookie("customer_email") != 'undefined'){
$j('.dy_finalpriceof100').html('99<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('119<span>.95/mo</span>');
$j('.hide_when_fullprice').hide();
$j('.saved_text').text('Saved');
$j('.dy_discount').text('0');
$j('.dynamic_discount').html('<span class="dollar">$</span>0<span class="month">/mo</span>');
$j('.color_bg').css('display','none');
$j('.color_bg.zero_friend').css('display','flex');
}
else{  
$j('.dy_finalpriceof100').html('49<span>.95/mo</span>');
$j('.dy_finalpriceof200').html('69<span>.95/mo</span>');
$j('.hide_when_fullprice').show();
$j('.saved_text').text('Save');
$j('.dy_discount').text('50');
$j('.dynamic_discount').html('<span class="dollar">$</span>50<span class="month">/mo</span>');
}
/*$j('.sub_dis_text').hide();*/ 
$j('.nomad_friends').hide();
$j('.no-friend-details').show();
$j('.discount-box').removeClass('active');
}

}

check_friends();

$j(document).on('click','.add_friend',function(){
if($j('.friend_email').val().length != 0){
var f_email = $j('.friend_email').val();
if(!isEmail(f_email)){
$j('.invite_email_error').text('Please add valid email address.');
$j('.invite_email_error').show();
}
else{
$j('.invite_email_error').hide();
if($j.cookie("invited-friends_1") == f_email || $j.cookie("invited-friends_2") == f_email || $j.cookie("invited-friends_3") == f_email || $j.cookie("invited-friends_4") == f_email || $j.cookie("invited-friends_5") == f_email){
$j('.same_email_error').show();
}
else{
$j('.same_email_error').hide();

var currentUserId =  $j.cookie("currentUserId");
  //console.log('userid'+currentUserId);
var accessTokenValue =  $j.cookie("accessTokenValue");  
const settings = {
"async": true,
"crossDomain": true,
"url": "https://programs.nomadinternet.com/api/v1/users",
"method": "POST",
"headers": {
"Content-Type": "application/vnd.api+json",
"Accept": "application/vnd.api+json",
"Authorization": "Bearer "+accessTokenValue
},
"processData": false,
"data": JSON.stringify({
"jsonapi": {
  "version": "1.0"
},
"data": {
  "type": "users",
  "attributes": {
      "email": f_email
  },
  "relationships": {
      "referredBy": {
          "data": {
              "type": "users",
              "id": currentUserId
          }
      }
  }
},
}),
beforeSend: function() {
$j('.rr_loader').show();
},
success: function(data){
if(typeof $j.cookie("invited-friends_1") == 'undefined'){
$j.cookie("invited-friends_1", $j('.friend_email').val());
$j('.invited-friends_1 .friend_email_1').text($j('.friend_email').val()); 
}
else if(typeof $j.cookie("invited-friends_2") == 'undefined'){
$j.cookie("invited-friends_2", $j('.friend_email').val());
$j('.invited-friends_2 .friend_email_2').text($j('.friend_email').val());  
}
else if(typeof $j.cookie("invited-friends_3") == 'undefined'){
$j.cookie("invited-friends_3", $j('.friend_email').val());
$j('.invited-friends_3 .friend_email_3').text($j('.friend_email').val()); 
}
else if(typeof $j.cookie("invited-friends_4") == 'undefined'){
$j.cookie("invited-friends_4", $j('.friend_email').val());
$j('.invited-friends_4 .friend_email_4').text($j('.friend_email').val());  
}
else if(typeof $j.cookie("invited-friends_5") == 'undefined'){
$j.cookie("invited-friends_5", $j('.friend_email').val());
$j('.invited-friends_5 .friend_email_5').text($j('.friend_email').val()); 
}  
else{

}
$j('.friend_email').val('');
check_friends();
},  
error: function(er){
$j('.invite_email_error').show();
$j('.invite_email_error').text(er.responseJSON.errors[0].detail);
console.log(er);
},
complete: function() {
$j('.rr_loader').hide();
}
};

$j.ajax(settings).done(function (response) {
console.log('add friend response');
  console.log(response);
if(typeof $j.cookie("invited-friends_1_referralID") == 'undefined'){
$j.cookie("invited-friends_1_referralID", response.data.id);
}
else if(typeof $j.cookie("invited-friends_2_referralID") == 'undefined'){
$j.cookie("invited-friends_2_referralID", response.data.id);
}
else if(typeof $j.cookie("invited-friends_3_referralID") == 'undefined'){
$j.cookie("invited-friends_3_referralID", response.data.id);
}
else if(typeof $j.cookie("invited-friends_4_referralID") == 'undefined'){
$j.cookie("invited-friends_4_referralID", response.data.id);
}
else if(typeof $j.cookie("invited-friends_5_referralID") == 'undefined'){
$j.cookie("invited-friends_5_referralID", response.data.id);
}  
else{

}
}); 



}
}

}
check_friends();  
}); 

$j(document).on('click','.friend_action_1',function(){
var currentUserId =  $j.cookie("currentUserId");
var accessTokenValue =  $j.cookie("accessTokenValue");  
var referralID1 = $j.cookie("invited-friends_1_referralID");
const settings = {
"async": true,
"crossDomain": true,
"url": "https://programs.nomadinternet.com/api/v1/users/"+ currentUserId +"/relationships/referrals",
"method": "DELETE",
"headers": {
"Accept": "application/vnd.api+json",
"Content-Type": "application/vnd.api+json",
"Authorization": "Bearer "+accessTokenValue
},
"processData": false,
"data": JSON.stringify({
"data": [
  {
      "type": "users",
      "id": referralID1
  }
]
}),
success: function(data){
$j.removeCookie('invited-friends_1');
$j.removeCookie("invited-friends_1_referralID");
$j('.invited-friends_1').removeClass('active');
$j('.invited-friends_1').hide();
check_friends();
},  
error: function(er){
console.log(er.responseJSON.errors[0].detail);
}
};
//alert("https://programs.nomadinternet.com/api/v1/users/"+ currentUserId +"/relationships/referrals");
$.ajax(settings).done(function (response) {
console.log(response);
});
});
$j(document).on('click','.friend_action_2',function(){
var currentUserId =  $j.cookie("currentUserId");
var accessTokenValue =  $j.cookie("accessTokenValue");  
var referralID2 = $j.cookie("invited-friends_2_referralID");
const settings = {
"async": true,
"crossDomain": true,
"url": "https://programs.nomadinternet.com/api/v1/users/"+ currentUserId +"/relationships/referrals",
"method": "DELETE",
"headers": {
"Accept": "application/vnd.api+json",
"Content-Type": "application/vnd.api+json",
"Authorization": "Bearer "+accessTokenValue
},
"processData": false,
"data": JSON.stringify({
"data": [
  {
      "type": "users",
      "id": referralID2
  }
]
}),
success: function(data){
$j.removeCookie('invited-friends_2');
$j.removeCookie("invited-friends_2_referralID");
$j('.invited-friends_2').removeClass('active');
$j('.invited-friends_2').hide();
check_friends();
},  
error: function(er){
console.log(er.responseJSON.errors[0].detail);
}
};

$.ajax(settings).done(function (response) {
console.log(response);
});
});
$j(document).on('click','.friend_action_3',function(){
var currentUserId =  $j.cookie("currentUserId");
var accessTokenValue =  $j.cookie("accessTokenValue");  
var referralID3 = $j.cookie("invited-friends_3_referralID");
const settings = {
"async": true,
"crossDomain": true,
"url": "https://programs.nomadinternet.com/api/v1/users/"+ currentUserId +"/relationships/referrals",
"method": "DELETE",
"headers": {
"Accept": "application/vnd.api+json",
"Content-Type": "application/vnd.api+json",
"Authorization": "Bearer "+accessTokenValue
},
"processData": false,
"data": JSON.stringify({
"data": [
  {
      "type": "users",
      "id": referralID3
  }
]
}),
success: function(data){
$j.removeCookie('invited-friends_3');
$j.removeCookie("invited-friends_3_referralID");
$j('.invited-friends_3').removeClass('active');
$j('.invited-friends_3').hide();
check_friends();
},  
error: function(er){
console.log(er.responseJSON.errors[0].detail);
}
};

$.ajax(settings).done(function (response) {
console.log(response);
});
});
$j(document).on('click','.friend_action_4',function(){
var currentUserId =  $j.cookie("currentUserId");
var accessTokenValue =  $j.cookie("accessTokenValue");  
var referralID4 = $j.cookie("invited-friends_4_referralID");
const settings = {
"async": true,
"crossDomain": true,
"url": "https://programs.nomadinternet.com/api/v1/users/"+ currentUserId +"/relationships/referrals",
"method": "DELETE",
"headers": {
"Accept": "application/vnd.api+json",
"Content-Type": "application/vnd.api+json",
"Authorization": "Bearer "+accessTokenValue
},
"processData": false,
"data": JSON.stringify({
"data": [
  {
      "type": "users",
      "id": referralID4
  }
]
}),
success: function(data){
$j.removeCookie('invited-friends_4');
$j.removeCookie("invited-friends_4_referralID");
$j('.invited-friends_4').removeClass('active');
$j('.invited-friends_4').hide();
check_friends();
},  
error: function(er){
console.log(er.responseJSON.errors[0].detail);
}
};

$.ajax(settings).done(function (response) {
console.log(response);
});
});
$j(document).on('click','.friend_action_5',function(){
var currentUserId =  $j.cookie("currentUserId");
var accessTokenValue =  $j.cookie("accessTokenValue");  
var referralID5 = $j.cookie("invited-friends_5_referralID");
const settings = {
"async": true,
"crossDomain": true,
"url": "https://programs.nomadinternet.com/api/v1/users/"+ currentUserId +"/relationships/referrals",
"method": "DELETE",
"headers": {
"Accept": "application/vnd.api+json",
"Content-Type": "application/vnd.api+json",
"Authorization": "Bearer "+accessTokenValue
},
"processData": false,
"data": JSON.stringify({
"data": [
  {
      "type": "users",
      "id": referralID5
  }
]
}),
success: function(data){
$j.removeCookie('invited-friends_5');
$j.removeCookie("invited-friends_5_referralID");
$j('.invited-friends_5').removeClass('active');
$j('.invited-friends_5').hide();
check_friends();
},  
error: function(er){
console.log(er.responseJSON.errors[0].detail);
}
};

$.ajax(settings).done(function (response) {
console.log(response);
});
});  

$j(document).on('click','.addon_trial_btn',function(){
$j('.addon_trial_popup').removeClass('active');
$j('.addon-box-1').addClass('addone-trials');
$j('.addon-box-2').addClass('addone-trials');
$j('#addon-switch3').prop('checked', false);
$j('.addon-box-3').removeClass('active');
$j('#addon-switch1').prop('checked', true);
$j('#addon-switch2').prop('checked', true)
$j('.addon-box-1').addClass('active');
$j('.addon-box-2').addClass('active');
$j('.free-trials').show();
$j('.free_text').show();
});

$j('#cbx-12').change(function(){
if($(this).is(':checked')){
   $j('.final_checkout').removeClass('disable');
}
else{
  $j('.final_checkout').addClass('disable');
}
});


 /*var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('youtubePlayer');
    }

    // Play button click event
    $j('.how_it_work_btn').on('click', function () {
      if (player) {
        player.playVideo();
      }
    });

    // Pause button click event
    $j('.close-button').on('click', function () {
      if (player) {
        player.pauseVideo();
      }
    });*/

/*$('.how_it_work_btn').click(function(){
  $('#video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');
});

$('.close-button').click(function(){
  $('#video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');
});*/
  
</script>


{% schema %}
{
"name": "Plan 4in1",
"presets": [
{
"name": "Plan 4in1"
}
], 
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}