{{ '04image-with-text.css' | asset_url | stylesheet_tag }}

<div class="image-with-text--landing" style="background-color: {{ section.settings.bg_color }};">
  <div class="container">
    <div class="image-with-text--landing__wrapper">
      <div class="image {{ section.settings.image_pos }}">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.heading }}"/>
        {% endif %}
      </div>
      
      <div class="content" style="background-color: {{ section.settings.content_bg_color }}; --text-color: {{ section.settings.content_text_color }};">
        {% if section.settings.heading != blank %}
          <h3 class="heading">{{ section.settings.heading }}</h3>
        {% endif %}

        {% if section.settings.sub_heading != blank %}
          <div class="sub-heading">{{ section.settings.sub_heading | replace: '<li>', '<li><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none"><path d="M21.0819 6.36935L9.51265 17.9386L4.25391 12.6798" stroke="#008061" stroke-width="2.1035" stroke-linecap="round" stroke-linejoin="round"></path></svg>' }}</div>
        {% endif %}

        {% if section.settings.button_text != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" target="_blank" class="btn">
            {{ section.settings.button_text }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with text - landing",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#101010"
    },
    {
      "type": "select",
      "id": "image_pos",
      "label": "Image position",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Image / Content"
        },
        {
          "value": "image--reverse",
          "label": "Content / Image"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "color",
      "id": "content_bg_color",
      "label": "Content bg color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "content_text_color",
      "label": "Content text color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Sub heading"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Image with text - landing"
    }
  ]
}
{% endschema %}