<div class="awesome-section">
	<div class="awesome-section__content{% if section.settings.reversed %} awesome-section__content--reversed{% endif %}{% if section.settings.image-as-bg %} awesome-section--image-as-bg{% endif %}">
		{% if section.settings.image-as-bg %}
			<div class="awesome-section__image hidden-sm-d" style="background-image: url({{ section.settings.image | image_url: width: 1200 }})"></div>
			<div class="awesome-section__image hidden-md-u" style="background-image: url({{ section.settings.image | image_url: width: 1024 }})"></div>
		{% else %}
			<div class="awesome-section__image hidden-sm-d">
				{{ section.settings.image | image_url: width: 1200 | image_tag: loading: 'lazy' }}
			</div>
			<div class="awesome-section__image hidden-md-u">
				{{ section.settings.image | image_url: width: 1024 | image_tag: loading: 'lazy' }}
			</div>
		{% endif %}

		<div class="awesome-section__text">
			<div>
				<{{ section.settings.title_tag }} class="awesome-section__title">{{ section.settings.title }}</{{ section.settings.title_tag }}>
				<div class="awesome-section__description">{{ section.settings.description }}</div>
				<div class="awesome-section__cta">
					{% for btn in section.blocks %}
						<a
                          {% if btn.settings.url contains '/cart' %}data-href="{{ btn.settings.url }}"{% else %}href="{{ btn.settings.url }}"{% endif %}
              class="{% if btn.settings.url contains '/cart' %}cart_btn {% endif %}btn {{ btn.settings.class }}"
							id="{{ btn.id }}"
							{% if btn.settings.blank %}
								target="_blank"
							{% endif %}
							{% if btn.settings.on_click != blank %}
								onclick="{{ btn.settings.on_click }}"
							{% endif %}
						>
							{{- btn.settings.text -}}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{{ 'jquery.cookie.js' | asset_url }}"></script>
<script>
var $j = jQuery.noConflict();  
$j(".cart_btn").click(function(event){
  event.preventDefault();
  location.href = '/pages/plans';
 /* var cart_link = $j(this).attr('data-href');
    var discount_code = $j.cookie("discount_code");
if (discount_code){  
url = "https://np.nomadinternet.com/recharge-generate-checkout-url.php?discount_code="+discount_code+"&items=https://nomadinternet.com"+cart_link+"&jsonize=1";
}
else{
url = "https://np.nomadinternet.com/recharge-generate-checkout-url.php?items=https://nomadinternet.com"+cart_link+"&jsonize=1";
}
  $j.ajax({
    type: "GET",
    url: url,
    dataType: "json",
    success: function(response){
location.href = response[0];
    }
  });*/
});
</script>
                  
{% schema %}
{
  "name": "Awesome Section",
  "tag": "div",
  "class": "container",
  "presets": [
    {
      "name": "Awesome Section"
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "reversed",
      "label": "Reversed",
      "info": "Image to right side"
    },
    {
      "type": "checkbox",
      "id": "image-as-bg",
      "label": "Image as Background",
      "info": "Use image as a background for the section"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
		{
			"type": "select",
			"id": "title_tag",
			"label": "Title TAG",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h2"
		},
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "name": "Button",
      "limit": 50,
      "type": "hc-button",
      "settings": [
        {
          "type": "select",
          "id": "class",
          "label": "Type",
          "options": [
            {
              "label": "Solid",
              "value": "solid"
            },
            {
              "label": "Outline",
              "value": "outline"
            }
          ]
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "checkbox",
          "id": "blank",
          "label": "Target Blank",
          "info": "Open link in new tab"
        },
        {
          "type": "text",
          "id": "on_click",
          "label": "On Click",
          "info": "E.g. ga('send', 'event', 'button', 'click');"
        }
      ]
    }
  ]
}
{% endschema %}
