
{{ 'banner-slideshow.css' | asset_url | stylesheet_tag }}

<div class="banner-slideshow swiper {% if template == 'page.nomad-landing' %}page--nomad-landing{% endif %}">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% liquid
        assign image_desktop = block.settings.image
        assign image_mobile = block.settings.image_mobile
        assign show_bg_color = block.settings.show_bg_color
        assign bg_color = block.settings.bg_color
        assign shape_image = block.settings.shape_image

        if image_mobile == blank
          assign image_mobile = image_desktop
        endif
  
        assign heading = block.settings.heading
        assign description = block.settings.desc
        assign button_text = block.settings.button_text
        assign button_link = block.settings.button_link
        assign show_gradient = block.settings.show_gradient_color
      %}
  
      {% if image_desktop != blank or show_bg_color %}
        <div class="banner-slideshow__item swiper-slide {% if show_bg_color %}banner-slideshow__item--bg-color{% endif %}" {% if show_bg_color %}style="background: {{ bg_color }};"{% endif %}>
          {% if show_bg_color %}
            <img src="{{ shape_image | img_url: 'master' }}" class="banner_bg_image" height="100%" width="100%"/>
          {% else %}
            {% if show_gradient %}
              <div class="banner-slideshow__item-gradient"></div>
            {% endif %}

            <div class="hidden-sm-d ratio" style="--ratio: calc(562 / 1750 * 100%)">
              {{ image_desktop | image_url: width: 1200 | image_tag }}
            </div>

            <div class="hidden-md-u ratio" style="--ratio: calc(353/ 300 * 100%)">
              {{ image_mobile | image_url: width: 1024 | image_tag }}
            </div>
          {% endif %}
  
          <div class="inner container {{ block.settings.content_alignment }}">
            <div class="banner-slideshow__item-content">
              {% if block.settings.sub_heading != blank %}
                <span class="sub-heading" style="color: {{ block.settings.sub_heading_color }};">{{ block.settings.sub_heading }}</span>
              {% endif %}
              
              {% if heading != blank %}
                <h3 class="heading" style="
                  --text-color: {{ block.settings.heading_color }};
                  --bold-text-color: {{ block.settings.bold_color }};
                ">{{ heading }}</h3>
              {% endif %}
  
              {% if description != blank %}
                <div class="description">{{ description }}</div>
              {% endif %}

              {% assign button_count = 0 %}
              {% if block.settings.button_text1 != blank and block.settings.button_link1 != blank %}
                {% assign button_count = button_count | plus: 1 %}
              {% endif %}

              {% if block.settings.button_text2 != blank and block.settings.button_link2 != blank %}
                {% assign button_count = button_count | plus: 1 %}
              {% endif %}

{% comment %}
{% if block.settings.button_text1 != blank %}
      <div class="buttons new_style">
        <a 
          class="btn btn--one"
          href="{{ block.settings.button_link1 }}">
         {{  block.settings.button_text1 }}
        </a>
      </div>
{% endif %}
{% endcomment %}              
             
   <div class="buttons">
                {% if block.settings.button_text1 != blank and block.settings.button_link1 != blank %}
                  <a 
                    class="btn{% if button_count == 1 %} btn--one{% endif %}"
                    href="{{ block.settings.button_link1 }}" {% if block.settings.enable_new_tab1 %}target="_blank"{% endif %} 
                    {% if block.settings.button_link1 == '#how-it-works' and template == 'page.nomad-vending-machine'  %}
                      onclick="gotoStep1()"
                    {% elsif block.settings.button_link1 == '#near' and template == 'page.google-maps' %}
                      onclick="moveToMaps()"
                    {% endif %}
                    style="background-color: {{ block.settings.button_bg_color1 }}; color: {{ block.settings.button_text_color1 }}; border: 2px solid #008061"  
                  >
                    {{ block.settings.button_text1 }}
                  </a>
                {% endif %}

                {% if block.settings.button_text2 != blank and block.settings.button_link2 != blank %}
                  <a 
                    class="btn{% if button_count == 1 %} btn--one{% endif %}" 
                    href="{{ block.settings.button_link2 }}" {% if block.settings.enable_new_tab2 %}target="_blank"{% endif %} 
                    style="background-color: {{ block.settings.button_bg_color2 }}; color: {{ block.settings.button_text_color2 }}; border: 2px solid #ffffff">
                    {{ block.settings.button_text2 }}
                  </a>
                {% endif %}
              </div>

      

              {% if block.settings.show_contract %}
                <div class="banner_contact">
                  <span class="header-contact">{{ block.settings.contract_header }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                  <g id="phone-call-01">
                  <path id="Icon" d="M11.7084 5.49935C12.5223 5.65815 13.2704 6.05623 13.8568 6.64263C14.4432 7.22903 14.8412 7.97707 15 8.79102M11.7084 2.16602C13.3994 2.35388 14.9764 3.11116 16.1802 4.31352C17.3841 5.51588 18.1434 7.09186 18.3334 8.78268M8.52253 12.0519C7.52121 11.0506 6.73055 9.91839 6.15056 8.71037C6.10067 8.60647 6.07572 8.55451 6.05656 8.48877C5.98846 8.25514 6.03737 7.96826 6.17905 7.7704C6.21892 7.71472 6.26655 7.66709 6.36181 7.57183C6.65315 7.28049 6.79881 7.13483 6.89405 6.98834C7.25322 6.43593 7.25321 5.72378 6.89405 5.17138C6.79881 5.02489 6.65315 4.87923 6.36181 4.58789L6.19942 4.42549C5.75655 3.98263 5.53511 3.76119 5.2973 3.6409C4.82433 3.40168 4.26577 3.40168 3.79281 3.6409C3.55499 3.76119 3.33355 3.98263 2.89069 4.42549L2.75932 4.55686C2.31797 4.99821 2.09729 5.21889 1.92875 5.51891C1.74174 5.85183 1.60727 6.36891 1.60841 6.75076C1.60943 7.09488 1.67618 7.33007 1.80969 7.80044C2.52716 10.3283 3.88089 12.7136 5.87088 14.7036C7.86086 16.6935 10.2462 18.0473 12.774 18.7647C13.2444 18.8983 13.4795 18.965 13.8237 18.966C14.2055 18.9672 14.7226 18.8327 15.0555 18.6457C15.3555 18.4771 15.5762 18.2565 16.0176 17.8151L16.1489 17.6837C16.5918 17.2409 16.8132 17.0194 16.9335 16.7816C17.1728 16.3087 17.1728 15.7501 16.9335 15.2771C16.8132 15.0393 16.5918 14.8179 16.1489 14.375L15.9865 14.2126C15.6952 13.9213 15.5495 13.7756 15.4031 13.6804C14.8506 13.3212 14.1385 13.3212 13.5861 13.6804C13.4396 13.7756 13.2939 13.9213 13.0026 14.2126C12.9073 14.3079 12.8597 14.3555 12.804 14.3954C12.6062 14.5371 12.3193 14.586 12.0857 14.5179C12.0199 14.4987 11.968 14.4738 11.8641 14.4239C10.656 13.8439 9.52384 13.0532 8.52253 12.0519Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </g></svg>
                  <span>Call us today at&nbsp;<em><a href="tel:{{ block.settings.contract_phonenumber }}">{{ block.settings.contract_phonenumber }}</a></em></span>
                </div>
              {% endif %}
            </div>

            {% if block.settings.content_image != blank and show_bg_color %}
              <img src="{{ block.settings.content_image | img_url: 'master' }}" class="content-image {% if block.settings.content_image_radius %}rounded{% endif %}"/>
            {% endif %}
          </div>

          {% if template == 'page.nomad-landing' %}
            <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/car.webp?v=1710250650" alt="car image" class="banner-slideshow__vehicle desktop"/>
            <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/car.webp?v=1710250650" alt="car image" class="banner-slideshow__vehicle mobile"/>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% if template == 'page.free-modem' %}
  <style>
  .new_style {
  background-color: #008061; 
  color: #ffffff;
}
    .banner-slideshow .buttons a {
        width: auto;
      padding: 0.8em 1.5em;
      font-size: 18px;
    }
  </style>
{% elsif template == 'index' %}
  <style>
    @media (max-width: 990px) {
      .banner-slideshow .banner_contact .header-contact {
        display: none;
      }
    }
  </style>
{% elsif template == 'page.nomad-landing' %}
  <style>
    .banner-slideshow__item-gradient {
      background: linear-gradient(98.45deg, rgba(0, 0, 0, 0.92) 7.51%, rgba(102, 102, 102, 0) 129.66%);
    }

    .banner-slideshow .hidden-md-u {
      --ratio: calc(353 / 280 * 100%);
    }

    .banner-slideshow .hidden-md-u img {
      object-position: bottom;
    }

    @media (max-width: 767px) {
      .banner-slideshow .inner.inner--left {
        justify-content: flex-start;
      }
    }

    @media (max-width: 500px) {
      .banner-slideshow .hidden-md-u {
        --ratio: calc(353 / 260* 100%) !important;
      }
    }

    @media (max-width: 450px) {
      .banner-slideshow .hidden-md-u {
        --ratio: calc(353 / 240* 100%) !important;
      }
    }

    @media (max-width: 400px) {
      .banner-slideshow .hidden-md-u {
        --ratio: calc(353 / 220* 100%) !important;
      }
    }
  </style>
{% endif %}

{% if page.handle == 'flexpay' %}

    <style>
    @media (min-width: 1024px) {
      .banner-slideshow .inner .banner-slideshow__item-content {
        width: 50%;
      }

      .banner-slideshow__item.swiper-slide .hidden-sm-d.ratio {
        min-height: 600px !important;
      }

      .banner-slideshow__item.swiper-slide .hidden-sm-d.ratio img {
        object-position: top;
      }
    }

      @media (max-width: 990px) {
        .banner-slideshow__item .sub-heading {
          font-size: 14px;
        }

        .banner-slideshow__item .description * {
          font-size: 15px;
        }

        .banner_contact .header-contact {
          display: none !important;
        }
      }
    </style>
{% endif %}
<script>
  const swiper = document.querySelector('.banner-slideshow.swiper');
  if (swiper) {
    const swipe = new Swiper(swiper, {
      slidesPerView: 1,
      spaceBetween: 0,
      effect: "fade",
      slideShadows: false,
    });
  }
</script>

{% schema %}
{
  "name": "Banner slideshow",
  "blocks": [
    {
      "type": "slide-item",
      "name": "Slide item",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_gradient_color",
          "label": "Show gradient color",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_bg_color",
          "label": "Show bg color",
          "default": false
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default": "#00271F"
        },
        {
          "type": "image_picker",
          "id": "shape_image",
          "label": "Shape image"
        },
        {
          "type": "image_picker",
          "id": "content_image",
          "label": "Content image"
        },
        {
          "type": "checkbox",
          "id": "content_image_radius",
          "label": "Content image radius",
          "default": true
        },
        {
          "type": "header",
          "content": "Background image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image for desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image for mobile"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "default": "inner--left",
          "options": [
            {
              "value": "inner--left",
              "label": "Left"
            },
            {
              "value": "inner--center",
              "label": "Center"
            },
            {
              "value": "inner--right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub heading"
        },
        {
          "type": "color",
          "id": "sub_heading_color",
          "label": "Sub heading color",
          "default": "#00a77f"
        },
        {
          "type": "color",
          "id": "bold_color",
          "label": "Bold color",
          "default": "#FF4040"
        },
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#fff"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "button_text1",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link1",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "text_color1",
          "label": "Text color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_bg_color1",
          "label": "Button bg color",
          "default": "#E12727"
        },
        {
          "type":"color",
          "id": "button_text_color1",
          "label": "Button text color",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "enable_new_tab1",
          "label": "Open this link in a new tab",
          "default": true
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "button_text2",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link2",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "text_color2",
          "label": "Text color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_bg_color2",
          "label": "Button bg color",
          "default": "#E12727"
        },
        {
          "type":"color",
          "id": "button_text_color2",
          "label": "Button text color",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "enable_new_tab2",
          "label": "Open this link in a new tab",
          "default": true
        },
        {
          "type": "header",
          "content": "Contract"
        },
        {
          "type": "checkbox",
          "id": "show_contract",
          "label": "Show contract",
          "default": true
        },
        {
          "type": "text",
          "id": "contract_header",
          "label": "Contract header",
          "default": "Have Questions?"
        },
        {
          "type": "text",
          "id": "contract_phonenumber",
          "label": "Contract phonenumber",
          "default": "+1 210 598 5949"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner slideshow"
    }
  ]
}
{% endschema %}

<script>
    if (window.innerWidth > 766) {
      document.querySelector(".main-content").style.marginTop = "116px";
    }
    else {
      document.querySelector(".main-content").style.marginTop = "70px";
    }
</script>