<div class="ex-product-deatils-container">
  <div class="ex-product-deatils-img-container">
    {%- if section.settings.image != blank -%}
      {{- section.settings.image | image_url: width: section.settings.width | image_tag: loading: 'lazy', alt: 'nomad 1' -}}
    {% endif %}
  </div>
  <div class="ex-product-deatils-right-container">
    <h2 style="margin-bottom: 15px;">{{ section.settings.heading }}</h2>
    <h4>{{ section.settings.subheading }}</h4>
    <ul>
      <li>
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="44" height="44">
          <path d="M43.5011 0.0690918H0V43.5702H43.5011V0.0690918Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_207_4874)">
          <path d="M25.3549 8.47759L27.2559 10.1475C27.4044 10.278 27.5837 10.3687 27.7769 10.4114L30.2504 10.9564C30.6341 11.0409 30.9498 11.3118 31.0902 11.6775L31.9961 14.0344C32.0669 14.2185 32.1835 14.3819 32.3348 14.509L34.273 16.1359C34.5736 16.3883 34.727 16.7741 34.6809 17.1625L34.384 19.6664C34.3608 19.8621 34.388 20.0604 34.4629 20.2429L35.4218 22.5791C35.5704 22.9415 35.5263 23.3538 35.3042 23.676L33.8726 25.7535C33.7608 25.9158 33.6923 26.1038 33.6735 26.2998L33.4333 28.81C33.3961 29.1994 33.1646 29.5436 32.8174 29.7258L30.5791 30.9008C30.4043 30.9926 30.2558 31.1272 30.1476 31.292L28.7635 33.4011C28.5488 33.7283 28.183 33.9256 27.7901 33.9261L25.2579 33.9295C25.0601 33.9298 24.8657 33.9801 24.6929 34.0758L22.4818 35.3008C22.1389 35.4907 21.7226 35.4959 21.3742 35.3146L19.128 34.1455C18.9526 34.0542 18.7568 34.0089 18.5591 34.0135L16.0276 34.0736C15.6349 34.083 15.2635 33.8949 15.0392 33.5732L13.5938 31.4995C13.4809 31.3376 13.3285 31.2067 13.1511 31.1194L10.8792 30.0009C10.5268 29.8274 10.2853 29.4892 10.2367 29.1008L9.92306 26.5977C9.89855 26.4022 9.8246 26.2158 9.70809 26.0564L8.21622 24.0156C7.98479 23.6989 7.9286 23.288 8.06665 22.9221L8.95675 20.5627C9.02628 20.3784 9.0476 20.1794 9.01867 19.9844L8.64862 17.4888C8.5912 17.1017 8.73315 16.7122 9.02628 16.4524L10.9161 14.7774C11.0637 14.6466 11.1755 14.4805 11.2409 14.2946L12.0774 11.9158C12.2071 11.5468 12.5146 11.268 12.8958 11.1739L15.3524 10.567C15.5444 10.5197 15.7209 10.4244 15.8655 10.2903L17.7169 8.57336C18.0041 8.30699 18.4069 8.20273 18.7886 8.29583L21.2493 8.89614C21.4415 8.94298 21.6425 8.94059 21.8333 8.88889L24.2755 8.22702C24.6544 8.12436 25.06 8.21854 25.3549 8.47759Z" fill="#00B589"/>
          <path d="M15.6016 21.8668L19.6718 25.937C19.6718 25.937 25.149 20.4597 27.1709 18.4378" stroke="white" stroke-width="1.1419" stroke-miterlimit="10"/>
          <mask id="mask1_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="42" height="42">
          <path d="M1.3125 1.37024H42.2035V42.2612H1.3125V1.37024Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_207_4874)">
          <path d="M21.1797 2.68335C21.1797 2.43848 21.1797 2.2865 21.1797 2.2865" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M21.2111 40.2844C21.2111 40.2844 21.2111 40.1324 21.2111 39.8876" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M39.7969 21.2701C40.0417 21.2701 40.1937 21.2701 40.1937 21.2701" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M2.19531 21.3013C2.19531 21.3013 2.34729 21.3013 2.59216 21.3013" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3594 34.425C34.5325 34.5982 34.64 34.7057 34.64 34.7057" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.75 7.86389C7.75 7.86389 7.85748 7.97137 8.03058 8.14454" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3281 8.12274C34.5013 7.94964 34.6088 7.84216 34.6088 7.84216" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.76562 34.7355C7.76562 34.7355 7.8731 34.628 8.04621 34.4548" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          </g>
          </g>
          </svg>
          {{ section.settings.desc_1 }}
      </li>
      <li>
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="44" height="44">
          <path d="M43.5011 0.0690918H0V43.5702H43.5011V0.0690918Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_207_4874)">
          <path d="M25.3549 8.47759L27.2559 10.1475C27.4044 10.278 27.5837 10.3687 27.7769 10.4114L30.2504 10.9564C30.6341 11.0409 30.9498 11.3118 31.0902 11.6775L31.9961 14.0344C32.0669 14.2185 32.1835 14.3819 32.3348 14.509L34.273 16.1359C34.5736 16.3883 34.727 16.7741 34.6809 17.1625L34.384 19.6664C34.3608 19.8621 34.388 20.0604 34.4629 20.2429L35.4218 22.5791C35.5704 22.9415 35.5263 23.3538 35.3042 23.676L33.8726 25.7535C33.7608 25.9158 33.6923 26.1038 33.6735 26.2998L33.4333 28.81C33.3961 29.1994 33.1646 29.5436 32.8174 29.7258L30.5791 30.9008C30.4043 30.9926 30.2558 31.1272 30.1476 31.292L28.7635 33.4011C28.5488 33.7283 28.183 33.9256 27.7901 33.9261L25.2579 33.9295C25.0601 33.9298 24.8657 33.9801 24.6929 34.0758L22.4818 35.3008C22.1389 35.4907 21.7226 35.4959 21.3742 35.3146L19.128 34.1455C18.9526 34.0542 18.7568 34.0089 18.5591 34.0135L16.0276 34.0736C15.6349 34.083 15.2635 33.8949 15.0392 33.5732L13.5938 31.4995C13.4809 31.3376 13.3285 31.2067 13.1511 31.1194L10.8792 30.0009C10.5268 29.8274 10.2853 29.4892 10.2367 29.1008L9.92306 26.5977C9.89855 26.4022 9.8246 26.2158 9.70809 26.0564L8.21622 24.0156C7.98479 23.6989 7.9286 23.288 8.06665 22.9221L8.95675 20.5627C9.02628 20.3784 9.0476 20.1794 9.01867 19.9844L8.64862 17.4888C8.5912 17.1017 8.73315 16.7122 9.02628 16.4524L10.9161 14.7774C11.0637 14.6466 11.1755 14.4805 11.2409 14.2946L12.0774 11.9158C12.2071 11.5468 12.5146 11.268 12.8958 11.1739L15.3524 10.567C15.5444 10.5197 15.7209 10.4244 15.8655 10.2903L17.7169 8.57336C18.0041 8.30699 18.4069 8.20273 18.7886 8.29583L21.2493 8.89614C21.4415 8.94298 21.6425 8.94059 21.8333 8.88889L24.2755 8.22702C24.6544 8.12436 25.06 8.21854 25.3549 8.47759Z" fill="#00B589"/>
          <path d="M15.6016 21.8668L19.6718 25.937C19.6718 25.937 25.149 20.4597 27.1709 18.4378" stroke="white" stroke-width="1.1419" stroke-miterlimit="10"/>
          <mask id="mask1_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="42" height="42">
          <path d="M1.3125 1.37024H42.2035V42.2612H1.3125V1.37024Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_207_4874)">
          <path d="M21.1797 2.68335C21.1797 2.43848 21.1797 2.2865 21.1797 2.2865" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M21.2111 40.2844C21.2111 40.2844 21.2111 40.1324 21.2111 39.8876" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M39.7969 21.2701C40.0417 21.2701 40.1937 21.2701 40.1937 21.2701" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M2.19531 21.3013C2.19531 21.3013 2.34729 21.3013 2.59216 21.3013" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3594 34.425C34.5325 34.5982 34.64 34.7057 34.64 34.7057" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.75 7.86389C7.75 7.86389 7.85748 7.97137 8.03058 8.14454" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3281 8.12274C34.5013 7.94964 34.6088 7.84216 34.6088 7.84216" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.76562 34.7355C7.76562 34.7355 7.8731 34.628 8.04621 34.4548" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          </g>
          </g>
          </svg>
          {{ section.settings.desc_2 }}
      </li>
      <li>
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="44" height="44">
          <path d="M43.5011 0.0690918H0V43.5702H43.5011V0.0690918Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_207_4874)">
          <path d="M25.3549 8.47759L27.2559 10.1475C27.4044 10.278 27.5837 10.3687 27.7769 10.4114L30.2504 10.9564C30.6341 11.0409 30.9498 11.3118 31.0902 11.6775L31.9961 14.0344C32.0669 14.2185 32.1835 14.3819 32.3348 14.509L34.273 16.1359C34.5736 16.3883 34.727 16.7741 34.6809 17.1625L34.384 19.6664C34.3608 19.8621 34.388 20.0604 34.4629 20.2429L35.4218 22.5791C35.5704 22.9415 35.5263 23.3538 35.3042 23.676L33.8726 25.7535C33.7608 25.9158 33.6923 26.1038 33.6735 26.2998L33.4333 28.81C33.3961 29.1994 33.1646 29.5436 32.8174 29.7258L30.5791 30.9008C30.4043 30.9926 30.2558 31.1272 30.1476 31.292L28.7635 33.4011C28.5488 33.7283 28.183 33.9256 27.7901 33.9261L25.2579 33.9295C25.0601 33.9298 24.8657 33.9801 24.6929 34.0758L22.4818 35.3008C22.1389 35.4907 21.7226 35.4959 21.3742 35.3146L19.128 34.1455C18.9526 34.0542 18.7568 34.0089 18.5591 34.0135L16.0276 34.0736C15.6349 34.083 15.2635 33.8949 15.0392 33.5732L13.5938 31.4995C13.4809 31.3376 13.3285 31.2067 13.1511 31.1194L10.8792 30.0009C10.5268 29.8274 10.2853 29.4892 10.2367 29.1008L9.92306 26.5977C9.89855 26.4022 9.8246 26.2158 9.70809 26.0564L8.21622 24.0156C7.98479 23.6989 7.9286 23.288 8.06665 22.9221L8.95675 20.5627C9.02628 20.3784 9.0476 20.1794 9.01867 19.9844L8.64862 17.4888C8.5912 17.1017 8.73315 16.7122 9.02628 16.4524L10.9161 14.7774C11.0637 14.6466 11.1755 14.4805 11.2409 14.2946L12.0774 11.9158C12.2071 11.5468 12.5146 11.268 12.8958 11.1739L15.3524 10.567C15.5444 10.5197 15.7209 10.4244 15.8655 10.2903L17.7169 8.57336C18.0041 8.30699 18.4069 8.20273 18.7886 8.29583L21.2493 8.89614C21.4415 8.94298 21.6425 8.94059 21.8333 8.88889L24.2755 8.22702C24.6544 8.12436 25.06 8.21854 25.3549 8.47759Z" fill="#00B589"/>
          <path d="M15.6016 21.8668L19.6718 25.937C19.6718 25.937 25.149 20.4597 27.1709 18.4378" stroke="white" stroke-width="1.1419" stroke-miterlimit="10"/>
          <mask id="mask1_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="42" height="42">
          <path d="M1.3125 1.37024H42.2035V42.2612H1.3125V1.37024Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_207_4874)">
          <path d="M21.1797 2.68335C21.1797 2.43848 21.1797 2.2865 21.1797 2.2865" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M21.2111 40.2844C21.2111 40.2844 21.2111 40.1324 21.2111 39.8876" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M39.7969 21.2701C40.0417 21.2701 40.1937 21.2701 40.1937 21.2701" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M2.19531 21.3013C2.19531 21.3013 2.34729 21.3013 2.59216 21.3013" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3594 34.425C34.5325 34.5982 34.64 34.7057 34.64 34.7057" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.75 7.86389C7.75 7.86389 7.85748 7.97137 8.03058 8.14454" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3281 8.12274C34.5013 7.94964 34.6088 7.84216 34.6088 7.84216" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.76562 34.7355C7.76562 34.7355 7.8731 34.628 8.04621 34.4548" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          </g>
          </g>
          </svg>
          {{ section.settings.desc_3 }}
      </li>
      <li>
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="44" height="44">
          <path d="M43.5011 0.0690918H0V43.5702H43.5011V0.0690918Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_207_4874)">
          <path d="M25.3549 8.47759L27.2559 10.1475C27.4044 10.278 27.5837 10.3687 27.7769 10.4114L30.2504 10.9564C30.6341 11.0409 30.9498 11.3118 31.0902 11.6775L31.9961 14.0344C32.0669 14.2185 32.1835 14.3819 32.3348 14.509L34.273 16.1359C34.5736 16.3883 34.727 16.7741 34.6809 17.1625L34.384 19.6664C34.3608 19.8621 34.388 20.0604 34.4629 20.2429L35.4218 22.5791C35.5704 22.9415 35.5263 23.3538 35.3042 23.676L33.8726 25.7535C33.7608 25.9158 33.6923 26.1038 33.6735 26.2998L33.4333 28.81C33.3961 29.1994 33.1646 29.5436 32.8174 29.7258L30.5791 30.9008C30.4043 30.9926 30.2558 31.1272 30.1476 31.292L28.7635 33.4011C28.5488 33.7283 28.183 33.9256 27.7901 33.9261L25.2579 33.9295C25.0601 33.9298 24.8657 33.9801 24.6929 34.0758L22.4818 35.3008C22.1389 35.4907 21.7226 35.4959 21.3742 35.3146L19.128 34.1455C18.9526 34.0542 18.7568 34.0089 18.5591 34.0135L16.0276 34.0736C15.6349 34.083 15.2635 33.8949 15.0392 33.5732L13.5938 31.4995C13.4809 31.3376 13.3285 31.2067 13.1511 31.1194L10.8792 30.0009C10.5268 29.8274 10.2853 29.4892 10.2367 29.1008L9.92306 26.5977C9.89855 26.4022 9.8246 26.2158 9.70809 26.0564L8.21622 24.0156C7.98479 23.6989 7.9286 23.288 8.06665 22.9221L8.95675 20.5627C9.02628 20.3784 9.0476 20.1794 9.01867 19.9844L8.64862 17.4888C8.5912 17.1017 8.73315 16.7122 9.02628 16.4524L10.9161 14.7774C11.0637 14.6466 11.1755 14.4805 11.2409 14.2946L12.0774 11.9158C12.2071 11.5468 12.5146 11.268 12.8958 11.1739L15.3524 10.567C15.5444 10.5197 15.7209 10.4244 15.8655 10.2903L17.7169 8.57336C18.0041 8.30699 18.4069 8.20273 18.7886 8.29583L21.2493 8.89614C21.4415 8.94298 21.6425 8.94059 21.8333 8.88889L24.2755 8.22702C24.6544 8.12436 25.06 8.21854 25.3549 8.47759Z" fill="#00B589"/>
          <path d="M15.6016 21.8668L19.6718 25.937C19.6718 25.937 25.149 20.4597 27.1709 18.4378" stroke="white" stroke-width="1.1419" stroke-miterlimit="10"/>
          <mask id="mask1_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="42" height="42">
          <path d="M1.3125 1.37024H42.2035V42.2612H1.3125V1.37024Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_207_4874)">
          <path d="M21.1797 2.68335C21.1797 2.43848 21.1797 2.2865 21.1797 2.2865" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M21.2111 40.2844C21.2111 40.2844 21.2111 40.1324 21.2111 39.8876" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M39.7969 21.2701C40.0417 21.2701 40.1937 21.2701 40.1937 21.2701" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M2.19531 21.3013C2.19531 21.3013 2.34729 21.3013 2.59216 21.3013" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3594 34.425C34.5325 34.5982 34.64 34.7057 34.64 34.7057" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.75 7.86389C7.75 7.86389 7.85748 7.97137 8.03058 8.14454" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3281 8.12274C34.5013 7.94964 34.6088 7.84216 34.6088 7.84216" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.76562 34.7355C7.76562 34.7355 7.8731 34.628 8.04621 34.4548" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          </g>
          </g>
          </svg>
          {{ section.settings.desc_4}}
      </li>
      <li>
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="44" height="44">
          <path d="M43.5011 0.0690918H0V43.5702H43.5011V0.0690918Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_207_4874)">
          <path d="M25.3549 8.47759L27.2559 10.1475C27.4044 10.278 27.5837 10.3687 27.7769 10.4114L30.2504 10.9564C30.6341 11.0409 30.9498 11.3118 31.0902 11.6775L31.9961 14.0344C32.0669 14.2185 32.1835 14.3819 32.3348 14.509L34.273 16.1359C34.5736 16.3883 34.727 16.7741 34.6809 17.1625L34.384 19.6664C34.3608 19.8621 34.388 20.0604 34.4629 20.2429L35.4218 22.5791C35.5704 22.9415 35.5263 23.3538 35.3042 23.676L33.8726 25.7535C33.7608 25.9158 33.6923 26.1038 33.6735 26.2998L33.4333 28.81C33.3961 29.1994 33.1646 29.5436 32.8174 29.7258L30.5791 30.9008C30.4043 30.9926 30.2558 31.1272 30.1476 31.292L28.7635 33.4011C28.5488 33.7283 28.183 33.9256 27.7901 33.9261L25.2579 33.9295C25.0601 33.9298 24.8657 33.9801 24.6929 34.0758L22.4818 35.3008C22.1389 35.4907 21.7226 35.4959 21.3742 35.3146L19.128 34.1455C18.9526 34.0542 18.7568 34.0089 18.5591 34.0135L16.0276 34.0736C15.6349 34.083 15.2635 33.8949 15.0392 33.5732L13.5938 31.4995C13.4809 31.3376 13.3285 31.2067 13.1511 31.1194L10.8792 30.0009C10.5268 29.8274 10.2853 29.4892 10.2367 29.1008L9.92306 26.5977C9.89855 26.4022 9.8246 26.2158 9.70809 26.0564L8.21622 24.0156C7.98479 23.6989 7.9286 23.288 8.06665 22.9221L8.95675 20.5627C9.02628 20.3784 9.0476 20.1794 9.01867 19.9844L8.64862 17.4888C8.5912 17.1017 8.73315 16.7122 9.02628 16.4524L10.9161 14.7774C11.0637 14.6466 11.1755 14.4805 11.2409 14.2946L12.0774 11.9158C12.2071 11.5468 12.5146 11.268 12.8958 11.1739L15.3524 10.567C15.5444 10.5197 15.7209 10.4244 15.8655 10.2903L17.7169 8.57336C18.0041 8.30699 18.4069 8.20273 18.7886 8.29583L21.2493 8.89614C21.4415 8.94298 21.6425 8.94059 21.8333 8.88889L24.2755 8.22702C24.6544 8.12436 25.06 8.21854 25.3549 8.47759Z" fill="#00B589"/>
          <path d="M15.6016 21.8668L19.6718 25.937C19.6718 25.937 25.149 20.4597 27.1709 18.4378" stroke="white" stroke-width="1.1419" stroke-miterlimit="10"/>
          <mask id="mask1_207_4874" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="42" height="42">
          <path d="M1.3125 1.37024H42.2035V42.2612H1.3125V1.37024Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_207_4874)">
          <path d="M21.1797 2.68335C21.1797 2.43848 21.1797 2.2865 21.1797 2.2865" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M21.2111 40.2844C21.2111 40.2844 21.2111 40.1324 21.2111 39.8876" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M39.7969 21.2701C40.0417 21.2701 40.1937 21.2701 40.1937 21.2701" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M2.19531 21.3013C2.19531 21.3013 2.34729 21.3013 2.59216 21.3013" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3594 34.425C34.5325 34.5982 34.64 34.7057 34.64 34.7057" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.75 7.86389C7.75 7.86389 7.85748 7.97137 8.03058 8.14454" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M34.3281 8.12274C34.5013 7.94964 34.6088 7.84216 34.6088 7.84216" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          <path d="M7.76562 34.7355C7.76562 34.7355 7.8731 34.628 8.04621 34.4548" stroke="#00B589" stroke-width="0.613365" stroke-miterlimit="10"/>
          </g>
          </g>
          </svg>
          {{ section.settings.desc_5 }}
      </li>
    </ul>
    <a href="{{ section.settings.url }}" style="color: white; text-decoration: none;"><button>BUY NOW</button></a>
  </div>
</div>
{% schema %}
{
  "name": "Explore Product Detail",
  "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label":"Image"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "desc_1",
      "label": "Detail 1"
    },
    {
      "type": "text",
      "id": "desc_2",
      "label": "Detail 2"
    },
    {
      "type": "text",
      "id": "desc_3",
      "label": "Detail 3"
    },
    {
      "type": "text",
      "id": "desc_4",
      "label": "Detail 4"
    },
    {
      "type": "text",
      "id": "desc_5",
      "label": "Detail 5"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Url"
    }
  ],
  "presets": [
    {
      "name": "Explore Product Detail"
    }
  ]
}
{% endschema %}