{% comment %}
{% render 'top-block' %}
{% endcomment %}
{%- comment -%}
{% if template == 'index' or page.handle == 'configuration' or page.handle == 'plans' %}
  <a href="/pages/plans">
    <div class="top_bar">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M9 9.5H9.01M15 15.5H15.01M16 8.5L8 16.5M17.9012 5.49851C18.1071 5.99653 18.5024 6.3924 19.0001 6.59907L20.7452 7.32198C21.2433 7.52828 21.639 7.92399 21.8453 8.42206C22.0516 8.92012 22.0516 9.47974 21.8453 9.97781L21.1229 11.7218C20.9165 12.2201 20.9162 12.7803 21.1236 13.2783L21.8447 15.0218C21.9469 15.2685 21.9996 15.5329 21.9996 15.7999C21.9997 16.067 21.9471 16.3314 21.8449 16.5781C21.7427 16.8249 21.5929 17.049 21.4041 17.2378C21.2152 17.4266 20.991 17.5764 20.7443 17.6785L19.0004 18.4009C18.5023 18.6068 18.1065 19.0021 17.8998 19.4998L17.1769 21.245C16.9706 21.7431 16.575 22.1388 16.0769 22.3451C15.5789 22.5514 15.0193 22.5514 14.5212 22.3451L12.7773 21.6227C12.2792 21.4169 11.7198 21.4173 11.2221 21.6239L9.47689 22.3458C8.97912 22.5516 8.42001 22.5514 7.92237 22.3453C7.42473 22.1391 7.02925 21.7439 6.82281 21.2464L6.09972 19.5006C5.8938 19.0026 5.49854 18.6067 5.00085 18.4L3.25566 17.6771C2.75783 17.4709 2.36226 17.0754 2.15588 16.5777C1.94951 16.0799 1.94923 15.5205 2.1551 15.0225L2.87746 13.2786C3.08325 12.7805 3.08283 12.2211 2.8763 11.7233L2.15497 9.97678C2.0527 9.7301 2.00004 9.46568 2 9.19863C1.99996 8.93159 2.05253 8.66715 2.15472 8.42043C2.25691 8.17372 2.40671 7.94955 2.59557 7.76075C2.78442 7.57195 3.00862 7.42222 3.25537 7.3201L4.9993 6.59772C5.49687 6.39197 5.89248 5.9972 6.0993 5.50006L6.82218 3.75481C7.02848 3.25674 7.42418 2.86103 7.92222 2.65473C8.42027 2.44842 8.97987 2.44842 9.47792 2.65473L11.2218 3.37712C11.7199 3.58291 12.2793 3.58249 12.7771 3.37595L14.523 2.65585C15.021 2.44966 15.5804 2.4497 16.0784 2.65597C16.5763 2.86223 16.972 3.25783 17.1783 3.75576L17.9014 5.50153L17.9012 5.49851ZM9.5 9.5C9.5 9.77614 9.27614 10 9 10C8.72386 10 8.5 9.77614 8.5 9.5C8.5 9.22386 8.72386 9 9 9C9.27614 9 9.5 9.22386 9.5 9.5ZM15.5 15.5C15.5 15.7761 15.2761 16 15 16C14.7239 16 14.5 15.7761 14.5 15.5C14.5 15.2239 14.7239 15 15 15C15.2761 15 15.5 15.2239 15.5 15.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>  
      <span>
      Get a Nomad Modem today for as low as <span style="font-weight: 700">$15/mo!</span>
      </span>    
    </div>
  </a>    
{% endif %}
{%- endcomment -%}

<a href="/pages/plans">
  <div class="top_bar">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
      <path d="M9 9.5H9.01M15 15.5H15.01M16 8.5L8 16.5M17.9012 5.49851C18.1071 5.99653 18.5024 6.3924 19.0001 6.59907L20.7452 7.32198C21.2433 7.52828 21.639 7.92399 21.8453 8.42206C22.0516 8.92012 22.0516 9.47974 21.8453 9.97781L21.1229 11.7218C20.9165 12.2201 20.9162 12.7803 21.1236 13.2783L21.8447 15.0218C21.9469 15.2685 21.9996 15.5329 21.9996 15.7999C21.9997 16.067 21.9471 16.3314 21.8449 16.5781C21.7427 16.8249 21.5929 17.049 21.4041 17.2378C21.2152 17.4266 20.991 17.5764 20.7443 17.6785L19.0004 18.4009C18.5023 18.6068 18.1065 19.0021 17.8998 19.4998L17.1769 21.245C16.9706 21.7431 16.575 22.1388 16.0769 22.3451C15.5789 22.5514 15.0193 22.5514 14.5212 22.3451L12.7773 21.6227C12.2792 21.4169 11.7198 21.4173 11.2221 21.6239L9.47689 22.3458C8.97912 22.5516 8.42001 22.5514 7.92237 22.3453C7.42473 22.1391 7.02925 21.7439 6.82281 21.2464L6.09972 19.5006C5.8938 19.0026 5.49854 18.6067 5.00085 18.4L3.25566 17.6771C2.75783 17.4709 2.36226 17.0754 2.15588 16.5777C1.94951 16.0799 1.94923 15.5205 2.1551 15.0225L2.87746 13.2786C3.08325 12.7805 3.08283 12.2211 2.8763 11.7233L2.15497 9.97678C2.0527 9.7301 2.00004 9.46568 2 9.19863C1.99996 8.93159 2.05253 8.66715 2.15472 8.42043C2.25691 8.17372 2.40671 7.94955 2.59557 7.76075C2.78442 7.57195 3.00862 7.42222 3.25537 7.3201L4.9993 6.59772C5.49687 6.39197 5.89248 5.9972 6.0993 5.50006L6.82218 3.75481C7.02848 3.25674 7.42418 2.86103 7.92222 2.65473C8.42027 2.44842 8.97987 2.44842 9.47792 2.65473L11.2218 3.37712C11.7199 3.58291 12.2793 3.58249 12.7771 3.37595L14.523 2.65585C15.021 2.44966 15.5804 2.4497 16.0784 2.65597C16.5763 2.86223 16.972 3.25783 17.1783 3.75576L17.9014 5.50153L17.9012 5.49851ZM9.5 9.5C9.5 9.77614 9.27614 10 9 10C8.72386 10 8.5 9.77614 8.5 9.5C8.5 9.22386 8.72386 9 9 9C9.27614 9 9.5 9.22386 9.5 9.5ZM15.5 15.5C15.5 15.7761 15.2761 16 15 16C14.7239 16 14.5 15.7761 14.5 15.5C14.5 15.2239 14.7239 15 15 15C15.2761 15 15.5 15.2239 15.5 15.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>  
{% if section.settings.announcement_text != blank %}
    <span>
    {%- comment -%}
    Get a Nomad Modem today for as low as <span style="font-weight: 700">$15/mo!</span>
    {%- endcomment -%}

    {{ section.settings.announcement_text }} {%- comment -%}<span id="countdownnew"></span>{%- endcomment -%}
    {% comment %} <span id="countdownnew"></span> {% endcomment %}
    </span>   
{% endif %} 
  </div>
</a>    
 
<div class="container">
  <div class="header__content">
    <a href="/" class="logo logo--header">
       <img src="{% if section.settings.dark_logo != blank %}{{ section.settings.dark_logo | img_url: 'master' }}{% else %}{{ 'logo-dark.svg' | asset_url }}{% endif %}" alt="Nomad Internet" loading="lazy" width="180" height="auto" class="icon-dark">
       <img src="{% if section.settings.white_logo != blank %}{{ section.settings.white_logo | img_url: 'master' }}{% else %}{{ 'logo-white.svg' | asset_url }}{% endif %}" alt="Nomad Internet" loading="lazy" width="180" height="auto" class="icon-white" style="display: none;">
    </a>

    <nav class="navigation" id="main-navigation" style="display:none;">
      <ul>
        {%- for link in linklists['nomad-navigation'].links -%}
          <li>
            <a href="{{ link.url }}" {% if forloop.index == 5 %}style="color:#00a77f;"{% endif %}>{{ link.title }}</a>
            {%- if link.links != blank -%}
              <ul>
                {%- for childlink in link.links -%}
                  <li>
                    <a href="{{ childlink.url }}" target="_blank" {% if childlink.title == "Live Tech Support" %}class="tech_ticket"{% endif %}>{{ childlink.title }}</a>
                    {%- if childlink.links != blank -%}
                      <ul>
                        {%- for subchildlink in childlink.links -%}
                          <li>
                            <a href="{{ subchildlink.url }}">{{ subchildlink.title }}</a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>

    <div class="header__buttons">
    
     
  
              <div class="header__phone">
                {% comment %}
              <img class="live_chat" src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Desktop.svg?v=1691692108" />
              {% endcomment %}
{% if section.settings.announcement_text != blank %}
              <a class="header__phone" href="tel:{{ section.settings.header_phone }}">{{ section.settings.header_phone }}</a> 
{% endif %} 
              </div>

{% if customer %}
<a href="/account" class="login_link">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 451 515.8" style="enable-background:new 0 0 451 515.8;fill:#00a77f;" xml:space="preserve">
<g>
	<path d="M451,515.8h-48.3v-39c0-67.5-54.9-122.4-122.4-122.4H170.8c-67.5,0-122.4,54.9-122.4,122.4v39H0v-39   C0,382.6,76.6,306,170.8,306h109.5c94.1,0,170.8,76.6,170.8,170.8V515.8z"/>
</g>
<g>
	<path d="M225.5,289.9c-79.9,0-145-65-145-145s65-145,145-145s145,65,145,145S305.4,289.9,225.5,289.9z M225.5,48.3   c-53.3,0-96.6,43.4-96.6,96.6s43.4,96.6,96.6,96.6s96.6-43.4,96.6-96.6S278.8,48.3,225.5,48.3z"/>
</g>
</svg>
</a>
   {% else %}   
   <a href="/account/login" class="login_link">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 451 515.8" style="enable-background:new 0 0 451 515.8;" xml:space="preserve">
<g>
	<path d="M451,515.8h-48.3v-39c0-67.5-54.9-122.4-122.4-122.4H170.8c-67.5,0-122.4,54.9-122.4,122.4v39H0v-39   C0,382.6,76.6,306,170.8,306h109.5c94.1,0,170.8,76.6,170.8,170.8V515.8z"/>
</g>
<g>
	<path d="M225.5,289.9c-79.9,0-145-65-145-145s65-145,145-145s145,65,145,145S305.4,289.9,225.5,289.9z M225.5,48.3   c-53.3,0-96.6,43.4-96.6,96.6s43.4,96.6,96.6,96.6s96.6-43.4,96.6-96.6S278.8,48.3,225.5,48.3z"/>
</g>
</svg>
</a>   
      {% endif %}

      
      <a href="/cart" id="header-btn" class="btn sm outline hidden-lg-d hidden">Join now</a>
      <a href="/cart" class="header__cart">
        {%- if cart.item_count > 0 -%}
          <div class="header__cart-count">{{ cart.item_count }}</div>
        {%- endif -%}
        <div class="header__cart-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
          </svg>
        </div>
      </a>
      <button class="nav-toggler" id="nav-toggler" aria-label="Nav toggler">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
  </div>
</div>

<script>
let prevScrollPos = window.pageYOffset;
const header = document.querySelector('header');

window.onscroll = function() {
    setTimeout(() => {
      const currentScrollPos = window.pageYOffset;
    if (prevScrollPos > currentScrollPos) {
        // User is scrolling up, show the header
        header.style.transform = 'translateY(0)';
    } else if (prevScrollPos < currentScrollPos){
      if (prevScrollPos > 200) {
        // User is scrolling down, hide the header
        header.style.transform = 'translateY(-100%)';
      }
    }

    if (currentScrollPos === 0) {
        // If at the top of the page, instantly show the header
        header.style.transform = 'translateY(0)';
    }

    prevScrollPos = currentScrollPos;
    }, 250);
};


  
    // Function to update the countdown display
    function updateCountdown() {
      const now = new Date().getTime(); // Current timestamp in milliseconds
      const startTime = localStorage.getItem("startTime");
      
      if (!startTime) {
        // If there is no start time, set it to the current time
        localStorage.setItem("startTime", now);
      } else {
        const elapsedTime = now - parseInt(startTime);
        const remainingTime = 24 * 60 * 60 * 1000 - elapsedTime; // 24 hours in milliseconds
        
        if (remainingTime <= 0) {
          // Countdown has finished, restart it
          localStorage.setItem("startTime", now);
        } else {
          const hours = Math.floor(remainingTime / (60 * 60 * 1000));
          const minutes = Math.floor((remainingTime % (60 * 60 * 1000)) / (60 * 1000));
          const seconds = Math.floor((remainingTime % (60 * 1000)) / 1000);
          
          const countdownElement = document.getElementById("countdownnew");
          // if (minutes < 10) minutes = `0${minutes}`;
          // if(seconds < 10) seconds = `0${seconds}`;

          countdownElement.innerHTML = `${hours}:${minutes}:${seconds}`;
        }
      }
      
      setTimeout(updateCountdown, 1000); // Update every second
    }

    // Start the countdown
    updateCountdown();
  </script>
            
{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Enter your announcement here"
    },
    {
      "type": "image_picker",
      "id": "dark_logo",
      "label": "Dark Logo",
      "info": "Upload the dark version of your logo"
    },
    {
      "type": "image_picker",
      "id": "white_logo",
      "label": "White Logo",
      "info": "Upload the white version of your logo"
    },
    {
      "type": "text",
      "id": "header_phone",
      "label": "Header Phone Number",
      "info": "Upload the phone number for header"
    }
  ]
}
{% endschema %}


