{% comment %}
File name:
	lp - landing page
	number - section number
{% endcomment %}

<div class="lp-5">
	<div class="lp-5__content">
		{% if section.settings.title %}
			<h2 class="lp-5__title">{{ section.settings.title }}</h2>
		{% endif %}
		{% if section.blocks %}
			<div class="row v-gutters justify-center">
				{% for block in section.blocks %}
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="lp-5__card">
							{% if block.settings.icon %}
								<div class="card__icon">
									{% assign img = block.settings.icon %}
									{{ img | image_url: width: img.width | image_tag }}
								</div>
							{% endif %}
							{% if block.settings.title %}
								<h3 class="card__title">{{ block.settings.title }}</h3>
							{% endif %}
							{% if block.settings.description %}
								<div class="card__description">
									<p>{{ block.settings.description }}</p>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if section.settings.button_text != blank %}
			<div class="text-center">
				<a href="{{ section.settings.button_url }}" class="btn lg red" id="button-{{ section.id }}">{{ section.settings.button_text }}</a>
			</div>
		{% endif %}
	</div>
</div>

{% schema %}
{
  "name": "lp-5",
  "class": "container",
  "tag": "div",
  "presets": [
    {
      "name": "LP / SECT 5"
    }
	],
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button Text"
		},
		{
			"type": "url",
			"id": "button_url",
			"label": "Button URL"
		}
	],
	"blocks": [
		{
			"type": "card",
			"name": "Card",
			"limit": 6,
			"settings": [
				{
					"type": "image_picker",
					"id": "icon",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "text",
					"id": "description",
					"label": "Description"
				}
			]
		}
	]
}
{% endschema %}
