<div class="awesome-table">
	<div class="row">
		<div class="col-12">
			<div class="row__title">
				<div class="h4 uppercase">Explanation of Symbols</div>
				<div class="row justify-center v-gutters" style="--gutter-x:30px;gutter-y:30px">
					<div class="col-auto">
						<div class="cell" style="background-color:transparent">
							<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
							&nbsp;
							<span style="font-size:22px;line-height:44px">• 10/10</span>
						</div>
					</div>

					<div class="col-auto">
						<div class="cell" style="background-color:transparent">
							<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
							&nbsp;
							<span style="font-size:22px;line-height:44px">• 5/10</span>
						</div>
					</div>

					<div class="col-auto">
						<div class="cell" style="background-color:transparent">
							<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
							&nbsp;
							<span style="font-size:22px;line-height:44px">• 2/10</span>
						</div>
					</div>

					<div class="col-auto">
						<div class="cell" style="background-color:transparent">
							<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
							<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
							&nbsp;
							<span style="font-size:22px;line-height:44px">• 1-5/10</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="awesome-table">
	<div class="awesome-table__header">
		<div class="row">

			<div class="col-4">
				<div class="awesome-table__card card">
					<div class="card__image">
						<div class="ratio" style="--ratio: calc(274 / 360 * 100%)">
							<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/4_08ef1c2f-29c1-433a-8340-8ab2f0e5f6b3.jpg?v=1679414263" alt="Nomad" loading="lazy" width="360" height="274">
						</div>
					</div>
					<div class="card__content">
						<h3>NOMAD INTERNET</h3>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="awesome-table__card card">
					<div class="card__image">
						<div class="ratio" style="--ratio: calc(274 / 360 * 100%)">
							<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/4-1.jpg?v=1679414262" alt="Starlink" loading="lazy" width="360" height="274">
						</div>
					</div>
					<div class="card__content">
						<h3>Standard Starlink</h3>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="awesome-table__card card">
					<div class="card__image">
						<div class="ratio" style="--ratio: calc(274 / 360 * 100%)">
							<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/4-2.jpg?v=1679414262" alt="Starlink" loading="lazy" width="360" height="274">
						</div>
					</div>
					<div class="card__content">
						<h3>Flat High Performance Starlink</h3>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">Immediately access high-speed, low-latency internet</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">IN-MOTION USE</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
						<span class="star"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
						<span class="star"></span>
						<span class="star"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">PORTABLE USE</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="text-center" style="color: gray; margin: 0 0 2rem">
	<p>*The Standard Starlink is not made for in-motion use.  ** Under certain conditions.</p>
</div>

<h4 class="h4 uppercase text-center">If there is a physical interference with the signal:</h4>

<div class="awesome-table">
	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">BUILDING, WALL, MOUNTAIN</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">CLOUD COVER</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">Strong winds possibly causing interference</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h4 class="h4 uppercase text-center">Quality and speed of Internet</h4>

<div class="awesome-table">
	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">in Parking</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">in Motion</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">on the boat</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h4 class="h4 uppercase text-center">Take the Internet with you when you travel</h4>

<div class="awesome-table">
	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">Easy Set UP</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-gray.png' | asset_url }}"></span>
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">Can be carried in a backpack</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">Powered by a small solar panel</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-green.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="smile" data-mood="{{ 'smile-red.png' | asset_url }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h4 class="h4 uppercase text-center">Cost of equipment and services</h4>

<div class="awesome-table">
	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">Cost of equipment</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--theme-color);margin:0">$299</span> <span class="star"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--red-color);margin:0">$599</span></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--red-color);margin:0">$2500</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">Subscription fee ( Year)</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--theme-color);margin:0">$1548</span> <span class="star"></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--red-color);margin:0">$2400</span></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--red-color);margin:0">$2400</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">How many times has the cost gone up in a year?</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--theme-color);margin:0">0</span></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--red-color);margin:0">2</span></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--gray-color);margin:0">-</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h3 class="row__title uppercase">Total per year</h3>

			<div class="row">
				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--theme-color);margin:0">$1,847</span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--red-color);margin:0">$2,999</span></span>
					</div>
				</div>

				<div class="col">
					<div class="cell">
						<span class="h4" style="color:var(--red-color);margin:0">$4,900</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="text-center" style="color: gray; margin: 0 0 2rem">
	<p>*Nomad Air.  **NomadTravel</p>
</div>

{% schema %}
{
  "name": "nvs-table",
  "class": "container",
  "tag": "div",
  "limit": 1,
  "presets": [
    {
      "name": "NvS Table"
    }
	]
}
{% endschema %}
