<section class="faq-section">
  <div class="container">
      <div class="section-title">
          <h2 class="page-title">Frequently Asked Questions (FAQs)</h2>
          <p>Here are our most frequently asked questions</p>
      </div>
      <div class="faq-list">
        {% if page.handle == 'coverage-map' %}
        <div class="accordion">
              <div class="accordion-header">
                  <span>Why do I need to enter my exact address?</span>
                  <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </div>
              <div class="accordion-content">
                  We need your address to find offers in your specific location. We will never sell or distribute your information. Specific location data is necessary to determine what you may already have and other services you can get with Nomad Internet.
              </div>
          </div>
        {% endif %}
          {% unless page.handle == 'coverage-map' %}
              <div class="accordion">
                  <div class="accordion-header">
                      <span>{{section.settings.list_1}}</span>
                      <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                  </div>
                  <div class="accordion-content">
                      <!-- <strong>Experience High-Speed Wireless Internet with Nomad</strong>
                      <ul>
                          <li><strong>Leading Provider:</strong> America's Largest Wireless Internet Service.</li>
                          <li><strong>Rural Connectivity:</strong> Specializing in High-Speed Internet for Rural Communities.</li>
                          <li><strong>Traveler-Friendly:</strong> Seamless Internet Access for On-the-Road Travelers.</li>
                          <li><strong>Low Start-Up Costs:</strong> Affordable Access to Quality Internet Service.</li>
                          <li><strong>Rapid Connection Speeds:</strong> Experience Fast and Reliable Internet Anywhere.</li>
                      </ul> -->
                      <p>{{section.settings.list_item_1}}</p>
                  </div>
              </div>
              <div class="accordion">
                  <div class="accordion-header">
                      <span>{{section.settings.list_2}}</span>
                      <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                  </div>
                  <div class="accordion-content">
                      <!-- <strong>Revolutionize Your Internet Connection</strong>
                      <ul>
                          <li><strong>Wireless Connectivity:</strong> Direct to your home, business, or on-the-go</li>
                          <li><strong>Advanced Technology:</strong> Utilizing the latest innovations for optimal speed.</li>
                          <li><strong>Nationwide Network:</strong> Access high-speed internet even in rural areas other providers cannot reach.</li>
                          <li><strong>Tailored Plans:</strong> Variety of options to suit every unique need.</li>
                          <li><strong>Stay Connected Everywhere:</strong> Reliable service for both stationery and nomadic lifestyles.</li>
                      </ul> -->
                      <p>{{section.settings.list_item_2}}</p>
                  </div>
              </div>
          {% endunless %}

          <div class="accordion">
              <div class="accordion-header">
                  <span>{{section.settings.list_3}}</span>
                  <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </div>
              <div class="accordion-content">
                  <p>{{section.settings.list_item_3}}</p>
              </div>
          </div>

          <div class="accordion">
              <div class="accordion-header">
                  <span>{{section.settings.list_4}}</span>
                  <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </div>
              <div class="accordion-content">
                  <p>{{section.settings.list_item_4}}</p>
                  
              </div>
          </div>

          
          <div class="accordion">
              <div class="accordion-header">
                  <span>{{section.settings.list_5}}</span>
                  <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </div>
              <div class="accordion-content">
                  <p>{{section.settings.list_item_5}}</p>
                  
              </div>
          </div>
          <div class="accordion">
              <div class="accordion-header">
                  <span>{{section.settings.list_6}}</span>
                  <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </div>
              <div class="accordion-content">
                  <p>{{section.settings.list_item_6}}</p>
                  
              </div>
          </div>
          <div class="accordion">
              <div class="accordion-header">
                  <span>{{section.settings.list_7}}</span>
                  <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </div>
              <div class="accordion-content">
                  <p>{{section.settings.list_item_7}}</p>
                  
              </div>
          </div>
          <div class="accordion">
              <div class="accordion-header">
                  <span>{{section.settings.list_8}}</span>
                  <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </div>
              <div class="accordion-content">
                  <p>{{section.settings.list_item_8}}</p>
                  
              </div>
          </div>
          <div class="accordion">
            <div class="accordion-header">
                <span>{{section.settings.list_9}}</span>
                <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="accordion-content">
                <p>{{section.settings.list_item_9}}</p>
                
            </div>
        </div>

          <!-- <div class="accordion">
              <div class="accordion-header">
                  <span>Can I Use Nomad Internet for RVing, Off-Trail Hiking, and More?</span>
                  <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </div>
              <div class="accordion-content">
                  <p>Yes: Nomad Internet users can bring the same high-speed, low-latency service they have at home to any location covered by Nomad Internet.</p>
                  <ul>
                      <li>
                          <strong>Flexible Connectivity on the Go:</strong> Nomad Internet for RVers and travelers offers the convenience of pausing and un-pausing service based on individual travel needs.
                      </li>
                      <li>
                          <strong>Ideal for Remote Adventures:</strong> Whether RVing, off-trail hiking, or exploring remote locations, Nomad Internet ensures reliable connectivity for work or leisure activities on the move.
                      </li>
                  </ul>
              </div>
          </div> -->
      </div>
      {% comment %} <div class="more-button"><a href="/pages/plans">View Plans</a></div> {% endcomment %}
  </div>
</section>

{% unless page.handle == 'coverage-map' %}
<script>
$j(document).ready(function(){
$j(document).on('click', '.accordion-header', function () {
      // Toggle the visibility of the content
      var isVisible = $j(this).next('.accordion-content').is(':visible');

      // Hide all accordion content
      $j('.accordion-content').slideUp();
      $j('.accordion').removeClass('open');
      // If the clicked header's content was not visible, show it
      if (!isVisible) {
        $j(this).next('.accordion-content').slideDown();
        $j(this).parents('.accordion').addClass('open');
      }
    });
});
</script>
{% endunless %}

{% schema %}
{
"name": "Page FAQ",
"presets": [
{
  "name": "Page FAQ"
}
],  
"settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "text",
    "id": "subtitle",
    "label": "Subtitle"
  },
  {
    "type": "text",
    "id": "popuptext",
    "label": "Popup Text"
  },
  {
    "type": "text",
    "id": "list_1",
    "label": "List 1"
  },
  {
    "type": "text",
    "id": "list_item_1",
    "label": "List Item 1"
  },
  {
    "type": "text",
    "id": "list_2",
    "label": "List 2"
  },
  {
    "type": "text",
    "id": "list_item_2",
    "label": "List Item 2"
  },
  {
    "type": "text",
    "id": "list_3",
    "label": "List 3"
  },
  {
    "type": "text",
    "id": "list_item_3",
    "label": "List Item 3"
  },
  {
    "type": "text",
    "id": "list_4",
    "label": "List 4"
  },
  {
    "type": "text",
    "id": "list_item_4",
    "label": "List Item 4"
  },
  {
    "type": "text",
    "id": "list_5",
    "label": "List 5"
  },
  {
    "type": "text",
    "id": "list_item_5",
    "label": "List Item 5"
  },
  {
    "type": "text",
    "id": "list_6",
    "label": "List 6"
  },
  {
    "type": "text",
    "id": "list_item_6",
    "label": "List Item 6"
  },
  {
    "type": "text",
    "id": "list_7",
    "label": "List 7"
  },
  {
    "type": "text",
    "id": "list_item_7",
    "label": "List Item 7"
  },
  {
    "type": "text",
    "id": "list_8",
    "label": "List 8"
  },
  {
    "type": "text",
    "id": "list_item_8",
    "label": "List Item 8"
  },
  {
    "type": "text",
    "id": "list_9",
    "label": "List 9"
  },
  {
    "type": "text",
    "id": "list_item_9",
    "label": "List Item 9"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}