<section class="review-section" id="parallax">
    <div class="container">
        <div class="section-title">
            <h2 class="page-title">Reviews from Verified Users</h2>
            {% comment %} <p>Here are reviews from our fellow Nomad users</p> {% endcomment %}
        </div>
        <div class="review-list-slider" data-loop="{{ section.settings.loop }}">
            {% if section.settings.name_1 != blank %}
                <div class="review-box">
                    <div class="image-and-title">
                        <div class="title">
                            <h3>{{section.settings.name_1}}</h3>
                            <svg width="136" height="21" viewBox="0 0 136 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7796 7.21498L14.3422 6.27942L11.4646 0.445452C11.386 0.285722 11.2567 0.156416 11.0969 0.0778184C10.6963 -0.119943 10.2095 0.0448581 10.0092 0.445452L7.13155 6.27942L0.694154 7.21498C0.516676 7.24034 0.35441 7.32401 0.230175 7.45078C0.0799821 7.60515 -0.00278111 7.81283 7.13613e-05 8.02819C0.00292383 8.24356 0.0911586 8.44898 0.245388 8.59931L4.90293 13.1402L3.80256 19.5523C3.77676 19.7014 3.79326 19.8548 3.85021 19.9951C3.90715 20.1353 4.00225 20.2568 4.12473 20.3458C4.24721 20.4347 4.39216 20.4876 4.54315 20.4984C4.69414 20.5091 4.84513 20.4774 4.97899 20.4067L10.7369 17.3794L16.4948 20.4067C16.652 20.4904 16.8345 20.5183 17.0095 20.4878C17.4506 20.4118 17.7473 19.9934 17.6712 19.5523L16.5709 13.1402L21.2284 8.59931C21.3552 8.47508 21.4388 8.31281 21.4642 8.13534C21.5326 7.69164 21.2233 7.2809 20.7796 7.21498Z" fill="#DF8600"/>
                                <path d="M49.2533 7.21498L42.8159 6.27942L39.9382 0.445452C39.8596 0.285722 39.7303 0.156416 39.5706 0.0778184C39.17 -0.119943 38.6832 0.0448581 38.4829 0.445452L35.6052 6.27942L29.1678 7.21498C28.9903 7.24034 28.828 7.32401 28.7038 7.45078C28.5536 7.60515 28.4709 7.81283 28.4737 8.02819C28.4766 8.24356 28.5648 8.44898 28.719 8.59931L33.3766 13.1402L32.2762 19.5523C32.2504 19.7014 32.2669 19.8548 32.3238 19.9951C32.3808 20.1353 32.4759 20.2568 32.5984 20.3458C32.7208 20.4347 32.8658 20.4876 33.0168 20.4984C33.1678 20.5091 33.3188 20.4774 33.4526 20.4067L39.2105 17.3794L44.9684 20.4067C45.1256 20.4904 45.3082 20.5183 45.4831 20.4878C45.9243 20.4118 46.2209 19.9934 46.1449 19.5523L45.0445 13.1402L49.702 8.59931C49.8288 8.47508 49.9125 8.31281 49.9378 8.13534C50.0063 7.69164 49.697 7.2809 49.2533 7.21498Z" fill="#DF8600"/>
                                <path d="M77.7269 7.21498L71.2895 6.27942L68.4118 0.445452C68.3332 0.285722 68.2039 0.156416 68.0442 0.0778184C67.6436 -0.119943 67.1568 0.0448581 66.9565 0.445452L64.0788 6.27942L57.6414 7.21498C57.4639 7.24034 57.3017 7.32401 57.1774 7.45078C57.0272 7.60515 56.9445 7.81283 56.9473 8.02819C56.9502 8.24356 57.0384 8.44898 57.1927 8.59931L61.8502 13.1402L60.7498 19.5523C60.724 19.7014 60.7405 19.8548 60.7975 19.9951C60.8544 20.1353 60.9495 20.2568 61.072 20.3458C61.1945 20.4347 61.3394 20.4876 61.4904 20.4984C61.6414 20.5091 61.7924 20.4774 61.9263 20.4067L67.6842 17.3794L73.4421 20.4067C73.5993 20.4904 73.7818 20.5183 73.9568 20.4878C74.3979 20.4118 74.6946 19.9934 74.6185 19.5523L73.5181 13.1402L78.1757 8.59931C78.3024 8.47508 78.3861 8.31281 78.4115 8.13534C78.4799 7.69164 78.1706 7.2809 77.7269 7.21498Z" fill="#DF8600"/>
                                <path d="M106.201 7.21498L99.7631 6.27942L96.8855 0.445452C96.8069 0.285722 96.6776 0.156416 96.5178 0.0778184C96.1172 -0.119943 95.6304 0.0448581 95.4301 0.445452L92.5524 6.27942L86.1151 7.21498C85.9376 7.24034 85.7753 7.32401 85.6511 7.45078C85.5009 7.60515 85.4181 7.81283 85.421 8.02819C85.4238 8.24356 85.5121 8.44898 85.6663 8.59931L90.3238 13.1402L89.2235 19.5523C89.1977 19.7014 89.2142 19.8548 89.2711 19.9951C89.328 20.1353 89.4232 20.2568 89.5456 20.3458C89.6681 20.4347 89.8131 20.4876 89.9641 20.4984C90.115 20.5091 90.266 20.4774 90.3999 20.4067L96.1578 17.3794L101.916 20.4067C102.073 20.4904 102.255 20.5183 102.43 20.4878C102.872 20.4118 103.168 19.9934 103.092 19.5523L101.992 13.1402L106.649 8.59931C106.776 8.47508 106.86 8.31281 106.885 8.13534C106.954 7.69164 106.644 7.2809 106.201 7.21498Z" fill="#DF8600"/>
                                <path d="M134.674 7.21498L128.237 6.27942L125.359 0.445452C125.28 0.285722 125.151 0.156416 124.991 0.0778184C124.591 -0.119943 124.104 0.0448581 123.904 0.445452L121.026 6.27942L114.589 7.21498C114.411 7.24034 114.249 7.32401 114.125 7.45078C113.975 7.60515 113.892 7.81283 113.895 8.02819C113.897 8.24356 113.986 8.44898 114.14 8.59931L118.797 13.1402L117.697 19.5523C117.671 19.7014 117.688 19.8548 117.745 19.9951C117.802 20.1353 117.897 20.2568 118.019 20.3458C118.142 20.4347 118.287 20.4876 118.438 20.4984C118.589 20.5091 118.74 20.4774 118.874 20.4067L124.631 17.3794L130.389 20.4067C130.547 20.4904 130.729 20.5183 130.904 20.4878C131.345 20.4118 131.642 19.9934 131.566 19.5523L130.465 13.1402L135.123 8.59931C135.25 8.47508 135.333 8.31281 135.359 8.13534C135.427 7.69164 135.118 7.2809 134.674 7.21498Z" fill="#DF8600"/>
                            </svg>
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/google-review-icon.png?v=1696929218" width="30" height="30">
                    </div>
                    <p>{{section.settings.review_1}}</p>
                </div>
            {% endif %}
            {% if section.settings.name_2 != blank %}
                <div class="review-box">
                    <div class="image-and-title">
                        <div class="title">
                            <h3>{{section.settings.name_2}}</h3>
                            <svg width="136" height="21" viewBox="0 0 136 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7796 7.21498L14.3422 6.27942L11.4646 0.445452C11.386 0.285722 11.2567 0.156416 11.0969 0.0778184C10.6963 -0.119943 10.2095 0.0448581 10.0092 0.445452L7.13155 6.27942L0.694154 7.21498C0.516676 7.24034 0.35441 7.32401 0.230175 7.45078C0.0799821 7.60515 -0.00278111 7.81283 7.13613e-05 8.02819C0.00292383 8.24356 0.0911586 8.44898 0.245388 8.59931L4.90293 13.1402L3.80256 19.5523C3.77676 19.7014 3.79326 19.8548 3.85021 19.9951C3.90715 20.1353 4.00225 20.2568 4.12473 20.3458C4.24721 20.4347 4.39216 20.4876 4.54315 20.4984C4.69414 20.5091 4.84513 20.4774 4.97899 20.4067L10.7369 17.3794L16.4948 20.4067C16.652 20.4904 16.8345 20.5183 17.0095 20.4878C17.4506 20.4118 17.7473 19.9934 17.6712 19.5523L16.5709 13.1402L21.2284 8.59931C21.3552 8.47508 21.4388 8.31281 21.4642 8.13534C21.5326 7.69164 21.2233 7.2809 20.7796 7.21498Z" fill="#DF8600"/>
                                <path d="M49.2533 7.21498L42.8159 6.27942L39.9382 0.445452C39.8596 0.285722 39.7303 0.156416 39.5706 0.0778184C39.17 -0.119943 38.6832 0.0448581 38.4829 0.445452L35.6052 6.27942L29.1678 7.21498C28.9903 7.24034 28.828 7.32401 28.7038 7.45078C28.5536 7.60515 28.4709 7.81283 28.4737 8.02819C28.4766 8.24356 28.5648 8.44898 28.719 8.59931L33.3766 13.1402L32.2762 19.5523C32.2504 19.7014 32.2669 19.8548 32.3238 19.9951C32.3808 20.1353 32.4759 20.2568 32.5984 20.3458C32.7208 20.4347 32.8658 20.4876 33.0168 20.4984C33.1678 20.5091 33.3188 20.4774 33.4526 20.4067L39.2105 17.3794L44.9684 20.4067C45.1256 20.4904 45.3082 20.5183 45.4831 20.4878C45.9243 20.4118 46.2209 19.9934 46.1449 19.5523L45.0445 13.1402L49.702 8.59931C49.8288 8.47508 49.9125 8.31281 49.9378 8.13534C50.0063 7.69164 49.697 7.2809 49.2533 7.21498Z" fill="#DF8600"/>
                                <path d="M77.7269 7.21498L71.2895 6.27942L68.4118 0.445452C68.3332 0.285722 68.2039 0.156416 68.0442 0.0778184C67.6436 -0.119943 67.1568 0.0448581 66.9565 0.445452L64.0788 6.27942L57.6414 7.21498C57.4639 7.24034 57.3017 7.32401 57.1774 7.45078C57.0272 7.60515 56.9445 7.81283 56.9473 8.02819C56.9502 8.24356 57.0384 8.44898 57.1927 8.59931L61.8502 13.1402L60.7498 19.5523C60.724 19.7014 60.7405 19.8548 60.7975 19.9951C60.8544 20.1353 60.9495 20.2568 61.072 20.3458C61.1945 20.4347 61.3394 20.4876 61.4904 20.4984C61.6414 20.5091 61.7924 20.4774 61.9263 20.4067L67.6842 17.3794L73.4421 20.4067C73.5993 20.4904 73.7818 20.5183 73.9568 20.4878C74.3979 20.4118 74.6946 19.9934 74.6185 19.5523L73.5181 13.1402L78.1757 8.59931C78.3024 8.47508 78.3861 8.31281 78.4115 8.13534C78.4799 7.69164 78.1706 7.2809 77.7269 7.21498Z" fill="#DF8600"/>
                                <path d="M106.201 7.21498L99.7631 6.27942L96.8855 0.445452C96.8069 0.285722 96.6776 0.156416 96.5178 0.0778184C96.1172 -0.119943 95.6304 0.0448581 95.4301 0.445452L92.5524 6.27942L86.1151 7.21498C85.9376 7.24034 85.7753 7.32401 85.6511 7.45078C85.5009 7.60515 85.4181 7.81283 85.421 8.02819C85.4238 8.24356 85.5121 8.44898 85.6663 8.59931L90.3238 13.1402L89.2235 19.5523C89.1977 19.7014 89.2142 19.8548 89.2711 19.9951C89.328 20.1353 89.4232 20.2568 89.5456 20.3458C89.6681 20.4347 89.8131 20.4876 89.9641 20.4984C90.115 20.5091 90.266 20.4774 90.3999 20.4067L96.1578 17.3794L101.916 20.4067C102.073 20.4904 102.255 20.5183 102.43 20.4878C102.872 20.4118 103.168 19.9934 103.092 19.5523L101.992 13.1402L106.649 8.59931C106.776 8.47508 106.86 8.31281 106.885 8.13534C106.954 7.69164 106.644 7.2809 106.201 7.21498Z" fill="#DF8600"/>
                                <path d="M134.674 7.21498L128.237 6.27942L125.359 0.445452C125.28 0.285722 125.151 0.156416 124.991 0.0778184C124.591 -0.119943 124.104 0.0448581 123.904 0.445452L121.026 6.27942L114.589 7.21498C114.411 7.24034 114.249 7.32401 114.125 7.45078C113.975 7.60515 113.892 7.81283 113.895 8.02819C113.897 8.24356 113.986 8.44898 114.14 8.59931L118.797 13.1402L117.697 19.5523C117.671 19.7014 117.688 19.8548 117.745 19.9951C117.802 20.1353 117.897 20.2568 118.019 20.3458C118.142 20.4347 118.287 20.4876 118.438 20.4984C118.589 20.5091 118.74 20.4774 118.874 20.4067L124.631 17.3794L130.389 20.4067C130.547 20.4904 130.729 20.5183 130.904 20.4878C131.345 20.4118 131.642 19.9934 131.566 19.5523L130.465 13.1402L135.123 8.59931C135.25 8.47508 135.333 8.31281 135.359 8.13534C135.427 7.69164 135.118 7.2809 134.674 7.21498Z" fill="#DF8600"/>
                            </svg>
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/google-review-icon.png?v=1696929218" width="30" height="30">
                    </div>
                    <p>{{section.settings.review_2}}</p>
                </div>
            {% endif %}
            {% if section.settings.name_3 != blank %}
                <div class="review-box">
                    <div class="image-and-title">
                        <div class="title">
                            <h3>{{section.settings.name_3}}</h3>
                            <svg width="136" height="21" viewBox="0 0 136 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7796 7.21498L14.3422 6.27942L11.4646 0.445452C11.386 0.285722 11.2567 0.156416 11.0969 0.0778184C10.6963 -0.119943 10.2095 0.0448581 10.0092 0.445452L7.13155 6.27942L0.694154 7.21498C0.516676 7.24034 0.35441 7.32401 0.230175 7.45078C0.0799821 7.60515 -0.00278111 7.81283 7.13613e-05 8.02819C0.00292383 8.24356 0.0911586 8.44898 0.245388 8.59931L4.90293 13.1402L3.80256 19.5523C3.77676 19.7014 3.79326 19.8548 3.85021 19.9951C3.90715 20.1353 4.00225 20.2568 4.12473 20.3458C4.24721 20.4347 4.39216 20.4876 4.54315 20.4984C4.69414 20.5091 4.84513 20.4774 4.97899 20.4067L10.7369 17.3794L16.4948 20.4067C16.652 20.4904 16.8345 20.5183 17.0095 20.4878C17.4506 20.4118 17.7473 19.9934 17.6712 19.5523L16.5709 13.1402L21.2284 8.59931C21.3552 8.47508 21.4388 8.31281 21.4642 8.13534C21.5326 7.69164 21.2233 7.2809 20.7796 7.21498Z" fill="#DF8600"/>
                                <path d="M49.2533 7.21498L42.8159 6.27942L39.9382 0.445452C39.8596 0.285722 39.7303 0.156416 39.5706 0.0778184C39.17 -0.119943 38.6832 0.0448581 38.4829 0.445452L35.6052 6.27942L29.1678 7.21498C28.9903 7.24034 28.828 7.32401 28.7038 7.45078C28.5536 7.60515 28.4709 7.81283 28.4737 8.02819C28.4766 8.24356 28.5648 8.44898 28.719 8.59931L33.3766 13.1402L32.2762 19.5523C32.2504 19.7014 32.2669 19.8548 32.3238 19.9951C32.3808 20.1353 32.4759 20.2568 32.5984 20.3458C32.7208 20.4347 32.8658 20.4876 33.0168 20.4984C33.1678 20.5091 33.3188 20.4774 33.4526 20.4067L39.2105 17.3794L44.9684 20.4067C45.1256 20.4904 45.3082 20.5183 45.4831 20.4878C45.9243 20.4118 46.2209 19.9934 46.1449 19.5523L45.0445 13.1402L49.702 8.59931C49.8288 8.47508 49.9125 8.31281 49.9378 8.13534C50.0063 7.69164 49.697 7.2809 49.2533 7.21498Z" fill="#DF8600"/>
                                <path d="M77.7269 7.21498L71.2895 6.27942L68.4118 0.445452C68.3332 0.285722 68.2039 0.156416 68.0442 0.0778184C67.6436 -0.119943 67.1568 0.0448581 66.9565 0.445452L64.0788 6.27942L57.6414 7.21498C57.4639 7.24034 57.3017 7.32401 57.1774 7.45078C57.0272 7.60515 56.9445 7.81283 56.9473 8.02819C56.9502 8.24356 57.0384 8.44898 57.1927 8.59931L61.8502 13.1402L60.7498 19.5523C60.724 19.7014 60.7405 19.8548 60.7975 19.9951C60.8544 20.1353 60.9495 20.2568 61.072 20.3458C61.1945 20.4347 61.3394 20.4876 61.4904 20.4984C61.6414 20.5091 61.7924 20.4774 61.9263 20.4067L67.6842 17.3794L73.4421 20.4067C73.5993 20.4904 73.7818 20.5183 73.9568 20.4878C74.3979 20.4118 74.6946 19.9934 74.6185 19.5523L73.5181 13.1402L78.1757 8.59931C78.3024 8.47508 78.3861 8.31281 78.4115 8.13534C78.4799 7.69164 78.1706 7.2809 77.7269 7.21498Z" fill="#DF8600"/>
                                <path d="M106.201 7.21498L99.7631 6.27942L96.8855 0.445452C96.8069 0.285722 96.6776 0.156416 96.5178 0.0778184C96.1172 -0.119943 95.6304 0.0448581 95.4301 0.445452L92.5524 6.27942L86.1151 7.21498C85.9376 7.24034 85.7753 7.32401 85.6511 7.45078C85.5009 7.60515 85.4181 7.81283 85.421 8.02819C85.4238 8.24356 85.5121 8.44898 85.6663 8.59931L90.3238 13.1402L89.2235 19.5523C89.1977 19.7014 89.2142 19.8548 89.2711 19.9951C89.328 20.1353 89.4232 20.2568 89.5456 20.3458C89.6681 20.4347 89.8131 20.4876 89.9641 20.4984C90.115 20.5091 90.266 20.4774 90.3999 20.4067L96.1578 17.3794L101.916 20.4067C102.073 20.4904 102.255 20.5183 102.43 20.4878C102.872 20.4118 103.168 19.9934 103.092 19.5523L101.992 13.1402L106.649 8.59931C106.776 8.47508 106.86 8.31281 106.885 8.13534C106.954 7.69164 106.644 7.2809 106.201 7.21498Z" fill="#DF8600"/>
                                <path d="M134.674 7.21498L128.237 6.27942L125.359 0.445452C125.28 0.285722 125.151 0.156416 124.991 0.0778184C124.591 -0.119943 124.104 0.0448581 123.904 0.445452L121.026 6.27942L114.589 7.21498C114.411 7.24034 114.249 7.32401 114.125 7.45078C113.975 7.60515 113.892 7.81283 113.895 8.02819C113.897 8.24356 113.986 8.44898 114.14 8.59931L118.797 13.1402L117.697 19.5523C117.671 19.7014 117.688 19.8548 117.745 19.9951C117.802 20.1353 117.897 20.2568 118.019 20.3458C118.142 20.4347 118.287 20.4876 118.438 20.4984C118.589 20.5091 118.74 20.4774 118.874 20.4067L124.631 17.3794L130.389 20.4067C130.547 20.4904 130.729 20.5183 130.904 20.4878C131.345 20.4118 131.642 19.9934 131.566 19.5523L130.465 13.1402L135.123 8.59931C135.25 8.47508 135.333 8.31281 135.359 8.13534C135.427 7.69164 135.118 7.2809 134.674 7.21498Z" fill="#DF8600"/>
                            </svg>
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/google-review-icon.png?v=1696929218" width="30" height="30">
                    </div>
                    <p>{{section.settings.review_3}}</p>
                </div>
            {% endif %}
            {% if section.settings.name_4 != blank %}
                <div class="review-box">
                    <div class="image-and-title">
                        <div class="title">
                            <h3>{{section.settings.name_4}}</h3>
                            <svg width="136" height="21" viewBox="0 0 136 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7796 7.21498L14.3422 6.27942L11.4646 0.445452C11.386 0.285722 11.2567 0.156416 11.0969 0.0778184C10.6963 -0.119943 10.2095 0.0448581 10.0092 0.445452L7.13155 6.27942L0.694154 7.21498C0.516676 7.24034 0.35441 7.32401 0.230175 7.45078C0.0799821 7.60515 -0.00278111 7.81283 7.13613e-05 8.02819C0.00292383 8.24356 0.0911586 8.44898 0.245388 8.59931L4.90293 13.1402L3.80256 19.5523C3.77676 19.7014 3.79326 19.8548 3.85021 19.9951C3.90715 20.1353 4.00225 20.2568 4.12473 20.3458C4.24721 20.4347 4.39216 20.4876 4.54315 20.4984C4.69414 20.5091 4.84513 20.4774 4.97899 20.4067L10.7369 17.3794L16.4948 20.4067C16.652 20.4904 16.8345 20.5183 17.0095 20.4878C17.4506 20.4118 17.7473 19.9934 17.6712 19.5523L16.5709 13.1402L21.2284 8.59931C21.3552 8.47508 21.4388 8.31281 21.4642 8.13534C21.5326 7.69164 21.2233 7.2809 20.7796 7.21498Z" fill="#DF8600"/>
                                <path d="M49.2533 7.21498L42.8159 6.27942L39.9382 0.445452C39.8596 0.285722 39.7303 0.156416 39.5706 0.0778184C39.17 -0.119943 38.6832 0.0448581 38.4829 0.445452L35.6052 6.27942L29.1678 7.21498C28.9903 7.24034 28.828 7.32401 28.7038 7.45078C28.5536 7.60515 28.4709 7.81283 28.4737 8.02819C28.4766 8.24356 28.5648 8.44898 28.719 8.59931L33.3766 13.1402L32.2762 19.5523C32.2504 19.7014 32.2669 19.8548 32.3238 19.9951C32.3808 20.1353 32.4759 20.2568 32.5984 20.3458C32.7208 20.4347 32.8658 20.4876 33.0168 20.4984C33.1678 20.5091 33.3188 20.4774 33.4526 20.4067L39.2105 17.3794L44.9684 20.4067C45.1256 20.4904 45.3082 20.5183 45.4831 20.4878C45.9243 20.4118 46.2209 19.9934 46.1449 19.5523L45.0445 13.1402L49.702 8.59931C49.8288 8.47508 49.9125 8.31281 49.9378 8.13534C50.0063 7.69164 49.697 7.2809 49.2533 7.21498Z" fill="#DF8600"/>
                                <path d="M77.7269 7.21498L71.2895 6.27942L68.4118 0.445452C68.3332 0.285722 68.2039 0.156416 68.0442 0.0778184C67.6436 -0.119943 67.1568 0.0448581 66.9565 0.445452L64.0788 6.27942L57.6414 7.21498C57.4639 7.24034 57.3017 7.32401 57.1774 7.45078C57.0272 7.60515 56.9445 7.81283 56.9473 8.02819C56.9502 8.24356 57.0384 8.44898 57.1927 8.59931L61.8502 13.1402L60.7498 19.5523C60.724 19.7014 60.7405 19.8548 60.7975 19.9951C60.8544 20.1353 60.9495 20.2568 61.072 20.3458C61.1945 20.4347 61.3394 20.4876 61.4904 20.4984C61.6414 20.5091 61.7924 20.4774 61.9263 20.4067L67.6842 17.3794L73.4421 20.4067C73.5993 20.4904 73.7818 20.5183 73.9568 20.4878C74.3979 20.4118 74.6946 19.9934 74.6185 19.5523L73.5181 13.1402L78.1757 8.59931C78.3024 8.47508 78.3861 8.31281 78.4115 8.13534C78.4799 7.69164 78.1706 7.2809 77.7269 7.21498Z" fill="#DF8600"/>
                                <path d="M106.201 7.21498L99.7631 6.27942L96.8855 0.445452C96.8069 0.285722 96.6776 0.156416 96.5178 0.0778184C96.1172 -0.119943 95.6304 0.0448581 95.4301 0.445452L92.5524 6.27942L86.1151 7.21498C85.9376 7.24034 85.7753 7.32401 85.6511 7.45078C85.5009 7.60515 85.4181 7.81283 85.421 8.02819C85.4238 8.24356 85.5121 8.44898 85.6663 8.59931L90.3238 13.1402L89.2235 19.5523C89.1977 19.7014 89.2142 19.8548 89.2711 19.9951C89.328 20.1353 89.4232 20.2568 89.5456 20.3458C89.6681 20.4347 89.8131 20.4876 89.9641 20.4984C90.115 20.5091 90.266 20.4774 90.3999 20.4067L96.1578 17.3794L101.916 20.4067C102.073 20.4904 102.255 20.5183 102.43 20.4878C102.872 20.4118 103.168 19.9934 103.092 19.5523L101.992 13.1402L106.649 8.59931C106.776 8.47508 106.86 8.31281 106.885 8.13534C106.954 7.69164 106.644 7.2809 106.201 7.21498Z" fill="#DF8600"/>
                                <path d="M134.674 7.21498L128.237 6.27942L125.359 0.445452C125.28 0.285722 125.151 0.156416 124.991 0.0778184C124.591 -0.119943 124.104 0.0448581 123.904 0.445452L121.026 6.27942L114.589 7.21498C114.411 7.24034 114.249 7.32401 114.125 7.45078C113.975 7.60515 113.892 7.81283 113.895 8.02819C113.897 8.24356 113.986 8.44898 114.14 8.59931L118.797 13.1402L117.697 19.5523C117.671 19.7014 117.688 19.8548 117.745 19.9951C117.802 20.1353 117.897 20.2568 118.019 20.3458C118.142 20.4347 118.287 20.4876 118.438 20.4984C118.589 20.5091 118.74 20.4774 118.874 20.4067L124.631 17.3794L130.389 20.4067C130.547 20.4904 130.729 20.5183 130.904 20.4878C131.345 20.4118 131.642 19.9934 131.566 19.5523L130.465 13.1402L135.123 8.59931C135.25 8.47508 135.333 8.31281 135.359 8.13534C135.427 7.69164 135.118 7.2809 134.674 7.21498Z" fill="#DF8600"/>
                            </svg>
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/google-review-icon.png?v=1696929218" width="30" height="30">
                    </div>
                    <p>{{section.settings.review_4}}</p>
                </div>
            {% endif %}
            {% if section.settings.name_5 != blank %}
                <div class="review-box">
                    <div class="image-and-title">
                        <div class="title">
                            <h3>{{section.settings.name_5}}</h3>
                            <svg width="136" height="21" viewBox="0 0 136 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7796 7.21498L14.3422 6.27942L11.4646 0.445452C11.386 0.285722 11.2567 0.156416 11.0969 0.0778184C10.6963 -0.119943 10.2095 0.0448581 10.0092 0.445452L7.13155 6.27942L0.694154 7.21498C0.516676 7.24034 0.35441 7.32401 0.230175 7.45078C0.0799821 7.60515 -0.00278111 7.81283 7.13613e-05 8.02819C0.00292383 8.24356 0.0911586 8.44898 0.245388 8.59931L4.90293 13.1402L3.80256 19.5523C3.77676 19.7014 3.79326 19.8548 3.85021 19.9951C3.90715 20.1353 4.00225 20.2568 4.12473 20.3458C4.24721 20.4347 4.39216 20.4876 4.54315 20.4984C4.69414 20.5091 4.84513 20.4774 4.97899 20.4067L10.7369 17.3794L16.4948 20.4067C16.652 20.4904 16.8345 20.5183 17.0095 20.4878C17.4506 20.4118 17.7473 19.9934 17.6712 19.5523L16.5709 13.1402L21.2284 8.59931C21.3552 8.47508 21.4388 8.31281 21.4642 8.13534C21.5326 7.69164 21.2233 7.2809 20.7796 7.21498Z" fill="#DF8600"/>
                                <path d="M49.2533 7.21498L42.8159 6.27942L39.9382 0.445452C39.8596 0.285722 39.7303 0.156416 39.5706 0.0778184C39.17 -0.119943 38.6832 0.0448581 38.4829 0.445452L35.6052 6.27942L29.1678 7.21498C28.9903 7.24034 28.828 7.32401 28.7038 7.45078C28.5536 7.60515 28.4709 7.81283 28.4737 8.02819C28.4766 8.24356 28.5648 8.44898 28.719 8.59931L33.3766 13.1402L32.2762 19.5523C32.2504 19.7014 32.2669 19.8548 32.3238 19.9951C32.3808 20.1353 32.4759 20.2568 32.5984 20.3458C32.7208 20.4347 32.8658 20.4876 33.0168 20.4984C33.1678 20.5091 33.3188 20.4774 33.4526 20.4067L39.2105 17.3794L44.9684 20.4067C45.1256 20.4904 45.3082 20.5183 45.4831 20.4878C45.9243 20.4118 46.2209 19.9934 46.1449 19.5523L45.0445 13.1402L49.702 8.59931C49.8288 8.47508 49.9125 8.31281 49.9378 8.13534C50.0063 7.69164 49.697 7.2809 49.2533 7.21498Z" fill="#DF8600"/>
                                <path d="M77.7269 7.21498L71.2895 6.27942L68.4118 0.445452C68.3332 0.285722 68.2039 0.156416 68.0442 0.0778184C67.6436 -0.119943 67.1568 0.0448581 66.9565 0.445452L64.0788 6.27942L57.6414 7.21498C57.4639 7.24034 57.3017 7.32401 57.1774 7.45078C57.0272 7.60515 56.9445 7.81283 56.9473 8.02819C56.9502 8.24356 57.0384 8.44898 57.1927 8.59931L61.8502 13.1402L60.7498 19.5523C60.724 19.7014 60.7405 19.8548 60.7975 19.9951C60.8544 20.1353 60.9495 20.2568 61.072 20.3458C61.1945 20.4347 61.3394 20.4876 61.4904 20.4984C61.6414 20.5091 61.7924 20.4774 61.9263 20.4067L67.6842 17.3794L73.4421 20.4067C73.5993 20.4904 73.7818 20.5183 73.9568 20.4878C74.3979 20.4118 74.6946 19.9934 74.6185 19.5523L73.5181 13.1402L78.1757 8.59931C78.3024 8.47508 78.3861 8.31281 78.4115 8.13534C78.4799 7.69164 78.1706 7.2809 77.7269 7.21498Z" fill="#DF8600"/>
                                <path d="M106.201 7.21498L99.7631 6.27942L96.8855 0.445452C96.8069 0.285722 96.6776 0.156416 96.5178 0.0778184C96.1172 -0.119943 95.6304 0.0448581 95.4301 0.445452L92.5524 6.27942L86.1151 7.21498C85.9376 7.24034 85.7753 7.32401 85.6511 7.45078C85.5009 7.60515 85.4181 7.81283 85.421 8.02819C85.4238 8.24356 85.5121 8.44898 85.6663 8.59931L90.3238 13.1402L89.2235 19.5523C89.1977 19.7014 89.2142 19.8548 89.2711 19.9951C89.328 20.1353 89.4232 20.2568 89.5456 20.3458C89.6681 20.4347 89.8131 20.4876 89.9641 20.4984C90.115 20.5091 90.266 20.4774 90.3999 20.4067L96.1578 17.3794L101.916 20.4067C102.073 20.4904 102.255 20.5183 102.43 20.4878C102.872 20.4118 103.168 19.9934 103.092 19.5523L101.992 13.1402L106.649 8.59931C106.776 8.47508 106.86 8.31281 106.885 8.13534C106.954 7.69164 106.644 7.2809 106.201 7.21498Z" fill="#DF8600"/>
                                <path d="M134.674 7.21498L128.237 6.27942L125.359 0.445452C125.28 0.285722 125.151 0.156416 124.991 0.0778184C124.591 -0.119943 124.104 0.0448581 123.904 0.445452L121.026 6.27942L114.589 7.21498C114.411 7.24034 114.249 7.32401 114.125 7.45078C113.975 7.60515 113.892 7.81283 113.895 8.02819C113.897 8.24356 113.986 8.44898 114.14 8.59931L118.797 13.1402L117.697 19.5523C117.671 19.7014 117.688 19.8548 117.745 19.9951C117.802 20.1353 117.897 20.2568 118.019 20.3458C118.142 20.4347 118.287 20.4876 118.438 20.4984C118.589 20.5091 118.74 20.4774 118.874 20.4067L124.631 17.3794L130.389 20.4067C130.547 20.4904 130.729 20.5183 130.904 20.4878C131.345 20.4118 131.642 19.9934 131.566 19.5523L130.465 13.1402L135.123 8.59931C135.25 8.47508 135.333 8.31281 135.359 8.13534C135.427 7.69164 135.118 7.2809 134.674 7.21498Z" fill="#DF8600"/>
                            </svg>
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/google-review-icon.png?v=1696929218" width="30" height="30">
                    </div>
                    <p>{{section.settings.review_5}}</p>
                </div>
            {% endif %}
            {% if section.settings.name_6 != blank %}                
                <div class="review-box">
                    <div class="image-and-title">
                        <div class="title">
                            <h3>{{section.settings.name_6}}</h3>
                            <svg width="136" height="21" viewBox="0 0 136 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7796 7.21498L14.3422 6.27942L11.4646 0.445452C11.386 0.285722 11.2567 0.156416 11.0969 0.0778184C10.6963 -0.119943 10.2095 0.0448581 10.0092 0.445452L7.13155 6.27942L0.694154 7.21498C0.516676 7.24034 0.35441 7.32401 0.230175 7.45078C0.0799821 7.60515 -0.00278111 7.81283 7.13613e-05 8.02819C0.00292383 8.24356 0.0911586 8.44898 0.245388 8.59931L4.90293 13.1402L3.80256 19.5523C3.77676 19.7014 3.79326 19.8548 3.85021 19.9951C3.90715 20.1353 4.00225 20.2568 4.12473 20.3458C4.24721 20.4347 4.39216 20.4876 4.54315 20.4984C4.69414 20.5091 4.84513 20.4774 4.97899 20.4067L10.7369 17.3794L16.4948 20.4067C16.652 20.4904 16.8345 20.5183 17.0095 20.4878C17.4506 20.4118 17.7473 19.9934 17.6712 19.5523L16.5709 13.1402L21.2284 8.59931C21.3552 8.47508 21.4388 8.31281 21.4642 8.13534C21.5326 7.69164 21.2233 7.2809 20.7796 7.21498Z" fill="#DF8600"/>
                                <path d="M49.2533 7.21498L42.8159 6.27942L39.9382 0.445452C39.8596 0.285722 39.7303 0.156416 39.5706 0.0778184C39.17 -0.119943 38.6832 0.0448581 38.4829 0.445452L35.6052 6.27942L29.1678 7.21498C28.9903 7.24034 28.828 7.32401 28.7038 7.45078C28.5536 7.60515 28.4709 7.81283 28.4737 8.02819C28.4766 8.24356 28.5648 8.44898 28.719 8.59931L33.3766 13.1402L32.2762 19.5523C32.2504 19.7014 32.2669 19.8548 32.3238 19.9951C32.3808 20.1353 32.4759 20.2568 32.5984 20.3458C32.7208 20.4347 32.8658 20.4876 33.0168 20.4984C33.1678 20.5091 33.3188 20.4774 33.4526 20.4067L39.2105 17.3794L44.9684 20.4067C45.1256 20.4904 45.3082 20.5183 45.4831 20.4878C45.9243 20.4118 46.2209 19.9934 46.1449 19.5523L45.0445 13.1402L49.702 8.59931C49.8288 8.47508 49.9125 8.31281 49.9378 8.13534C50.0063 7.69164 49.697 7.2809 49.2533 7.21498Z" fill="#DF8600"/>
                                <path d="M77.7269 7.21498L71.2895 6.27942L68.4118 0.445452C68.3332 0.285722 68.2039 0.156416 68.0442 0.0778184C67.6436 -0.119943 67.1568 0.0448581 66.9565 0.445452L64.0788 6.27942L57.6414 7.21498C57.4639 7.24034 57.3017 7.32401 57.1774 7.45078C57.0272 7.60515 56.9445 7.81283 56.9473 8.02819C56.9502 8.24356 57.0384 8.44898 57.1927 8.59931L61.8502 13.1402L60.7498 19.5523C60.724 19.7014 60.7405 19.8548 60.7975 19.9951C60.8544 20.1353 60.9495 20.2568 61.072 20.3458C61.1945 20.4347 61.3394 20.4876 61.4904 20.4984C61.6414 20.5091 61.7924 20.4774 61.9263 20.4067L67.6842 17.3794L73.4421 20.4067C73.5993 20.4904 73.7818 20.5183 73.9568 20.4878C74.3979 20.4118 74.6946 19.9934 74.6185 19.5523L73.5181 13.1402L78.1757 8.59931C78.3024 8.47508 78.3861 8.31281 78.4115 8.13534C78.4799 7.69164 78.1706 7.2809 77.7269 7.21498Z" fill="#DF8600"/>
                                <path d="M106.201 7.21498L99.7631 6.27942L96.8855 0.445452C96.8069 0.285722 96.6776 0.156416 96.5178 0.0778184C96.1172 -0.119943 95.6304 0.0448581 95.4301 0.445452L92.5524 6.27942L86.1151 7.21498C85.9376 7.24034 85.7753 7.32401 85.6511 7.45078C85.5009 7.60515 85.4181 7.81283 85.421 8.02819C85.4238 8.24356 85.5121 8.44898 85.6663 8.59931L90.3238 13.1402L89.2235 19.5523C89.1977 19.7014 89.2142 19.8548 89.2711 19.9951C89.328 20.1353 89.4232 20.2568 89.5456 20.3458C89.6681 20.4347 89.8131 20.4876 89.9641 20.4984C90.115 20.5091 90.266 20.4774 90.3999 20.4067L96.1578 17.3794L101.916 20.4067C102.073 20.4904 102.255 20.5183 102.43 20.4878C102.872 20.4118 103.168 19.9934 103.092 19.5523L101.992 13.1402L106.649 8.59931C106.776 8.47508 106.86 8.31281 106.885 8.13534C106.954 7.69164 106.644 7.2809 106.201 7.21498Z" fill="#DF8600"/>
                                <path d="M134.674 7.21498L128.237 6.27942L125.359 0.445452C125.28 0.285722 125.151 0.156416 124.991 0.0778184C124.591 -0.119943 124.104 0.0448581 123.904 0.445452L121.026 6.27942L114.589 7.21498C114.411 7.24034 114.249 7.32401 114.125 7.45078C113.975 7.60515 113.892 7.81283 113.895 8.02819C113.897 8.24356 113.986 8.44898 114.14 8.59931L118.797 13.1402L117.697 19.5523C117.671 19.7014 117.688 19.8548 117.745 19.9951C117.802 20.1353 117.897 20.2568 118.019 20.3458C118.142 20.4347 118.287 20.4876 118.438 20.4984C118.589 20.5091 118.74 20.4774 118.874 20.4067L124.631 17.3794L130.389 20.4067C130.547 20.4904 130.729 20.5183 130.904 20.4878C131.345 20.4118 131.642 19.9934 131.566 19.5523L130.465 13.1402L135.123 8.59931C135.25 8.47508 135.333 8.31281 135.359 8.13534C135.427 7.69164 135.118 7.2809 134.674 7.21498Z" fill="#DF8600"/>
                            </svg>
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/google-review-icon.png?v=1696929218" width="30" height="30">
                    </div>
                    <p>{{section.settings.review_6}}</p>
                </div>
            {% endif %}
            {% if section.settings.name_7 != blank %}
                <div class="review-box">
                    <div class="image-and-title">
                        <div class="title">
                            <h3>{{section.settings.name_7}}</h3>
                            <svg width="136" height="21" viewBox="0 0 136 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7796 7.21498L14.3422 6.27942L11.4646 0.445452C11.386 0.285722 11.2567 0.156416 11.0969 0.0778184C10.6963 -0.119943 10.2095 0.0448581 10.0092 0.445452L7.13155 6.27942L0.694154 7.21498C0.516676 7.24034 0.35441 7.32401 0.230175 7.45078C0.0799821 7.60515 -0.00278111 7.81283 7.13613e-05 8.02819C0.00292383 8.24356 0.0911586 8.44898 0.245388 8.59931L4.90293 13.1402L3.80256 19.5523C3.77676 19.7014 3.79326 19.8548 3.85021 19.9951C3.90715 20.1353 4.00225 20.2568 4.12473 20.3458C4.24721 20.4347 4.39216 20.4876 4.54315 20.4984C4.69414 20.5091 4.84513 20.4774 4.97899 20.4067L10.7369 17.3794L16.4948 20.4067C16.652 20.4904 16.8345 20.5183 17.0095 20.4878C17.4506 20.4118 17.7473 19.9934 17.6712 19.5523L16.5709 13.1402L21.2284 8.59931C21.3552 8.47508 21.4388 8.31281 21.4642 8.13534C21.5326 7.69164 21.2233 7.2809 20.7796 7.21498Z" fill="#DF8600"/>
                                <path d="M49.2533 7.21498L42.8159 6.27942L39.9382 0.445452C39.8596 0.285722 39.7303 0.156416 39.5706 0.0778184C39.17 -0.119943 38.6832 0.0448581 38.4829 0.445452L35.6052 6.27942L29.1678 7.21498C28.9903 7.24034 28.828 7.32401 28.7038 7.45078C28.5536 7.60515 28.4709 7.81283 28.4737 8.02819C28.4766 8.24356 28.5648 8.44898 28.719 8.59931L33.3766 13.1402L32.2762 19.5523C32.2504 19.7014 32.2669 19.8548 32.3238 19.9951C32.3808 20.1353 32.4759 20.2568 32.5984 20.3458C32.7208 20.4347 32.8658 20.4876 33.0168 20.4984C33.1678 20.5091 33.3188 20.4774 33.4526 20.4067L39.2105 17.3794L44.9684 20.4067C45.1256 20.4904 45.3082 20.5183 45.4831 20.4878C45.9243 20.4118 46.2209 19.9934 46.1449 19.5523L45.0445 13.1402L49.702 8.59931C49.8288 8.47508 49.9125 8.31281 49.9378 8.13534C50.0063 7.69164 49.697 7.2809 49.2533 7.21498Z" fill="#DF8600"/>
                                <path d="M77.7269 7.21498L71.2895 6.27942L68.4118 0.445452C68.3332 0.285722 68.2039 0.156416 68.0442 0.0778184C67.6436 -0.119943 67.1568 0.0448581 66.9565 0.445452L64.0788 6.27942L57.6414 7.21498C57.4639 7.24034 57.3017 7.32401 57.1774 7.45078C57.0272 7.60515 56.9445 7.81283 56.9473 8.02819C56.9502 8.24356 57.0384 8.44898 57.1927 8.59931L61.8502 13.1402L60.7498 19.5523C60.724 19.7014 60.7405 19.8548 60.7975 19.9951C60.8544 20.1353 60.9495 20.2568 61.072 20.3458C61.1945 20.4347 61.3394 20.4876 61.4904 20.4984C61.6414 20.5091 61.7924 20.4774 61.9263 20.4067L67.6842 17.3794L73.4421 20.4067C73.5993 20.4904 73.7818 20.5183 73.9568 20.4878C74.3979 20.4118 74.6946 19.9934 74.6185 19.5523L73.5181 13.1402L78.1757 8.59931C78.3024 8.47508 78.3861 8.31281 78.4115 8.13534C78.4799 7.69164 78.1706 7.2809 77.7269 7.21498Z" fill="#DF8600"/>
                                <path d="M106.201 7.21498L99.7631 6.27942L96.8855 0.445452C96.8069 0.285722 96.6776 0.156416 96.5178 0.0778184C96.1172 -0.119943 95.6304 0.0448581 95.4301 0.445452L92.5524 6.27942L86.1151 7.21498C85.9376 7.24034 85.7753 7.32401 85.6511 7.45078C85.5009 7.60515 85.4181 7.81283 85.421 8.02819C85.4238 8.24356 85.5121 8.44898 85.6663 8.59931L90.3238 13.1402L89.2235 19.5523C89.1977 19.7014 89.2142 19.8548 89.2711 19.9951C89.328 20.1353 89.4232 20.2568 89.5456 20.3458C89.6681 20.4347 89.8131 20.4876 89.9641 20.4984C90.115 20.5091 90.266 20.4774 90.3999 20.4067L96.1578 17.3794L101.916 20.4067C102.073 20.4904 102.255 20.5183 102.43 20.4878C102.872 20.4118 103.168 19.9934 103.092 19.5523L101.992 13.1402L106.649 8.59931C106.776 8.47508 106.86 8.31281 106.885 8.13534C106.954 7.69164 106.644 7.2809 106.201 7.21498Z" fill="#DF8600"/>
                                <path d="M134.674 7.21498L128.237 6.27942L125.359 0.445452C125.28 0.285722 125.151 0.156416 124.991 0.0778184C124.591 -0.119943 124.104 0.0448581 123.904 0.445452L121.026 6.27942L114.589 7.21498C114.411 7.24034 114.249 7.32401 114.125 7.45078C113.975 7.60515 113.892 7.81283 113.895 8.02819C113.897 8.24356 113.986 8.44898 114.14 8.59931L118.797 13.1402L117.697 19.5523C117.671 19.7014 117.688 19.8548 117.745 19.9951C117.802 20.1353 117.897 20.2568 118.019 20.3458C118.142 20.4347 118.287 20.4876 118.438 20.4984C118.589 20.5091 118.74 20.4774 118.874 20.4067L124.631 17.3794L130.389 20.4067C130.547 20.4904 130.729 20.5183 130.904 20.4878C131.345 20.4118 131.642 19.9934 131.566 19.5523L130.465 13.1402L135.123 8.59931C135.25 8.47508 135.333 8.31281 135.359 8.13534C135.427 7.69164 135.118 7.2809 134.674 7.21498Z" fill="#DF8600"/>
                            </svg>
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/google-review-icon.png?v=1696929218" width="30" height="30">
                    </div>
                    <p>{{section.settings.review_7}}</p>
                </div>
            {% endif %}
            {% if section.settings.name_8 != blank %}
                <div class="review-box">
                    <div class="image-and-title">
                        <div class="title">
                            <h3>{{section.settings.name_8}}</h3>
                            <svg width="136" height="21" viewBox="0 0 136 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7796 7.21498L14.3422 6.27942L11.4646 0.445452C11.386 0.285722 11.2567 0.156416 11.0969 0.0778184C10.6963 -0.119943 10.2095 0.0448581 10.0092 0.445452L7.13155 6.27942L0.694154 7.21498C0.516676 7.24034 0.35441 7.32401 0.230175 7.45078C0.0799821 7.60515 -0.00278111 7.81283 7.13613e-05 8.02819C0.00292383 8.24356 0.0911586 8.44898 0.245388 8.59931L4.90293 13.1402L3.80256 19.5523C3.77676 19.7014 3.79326 19.8548 3.85021 19.9951C3.90715 20.1353 4.00225 20.2568 4.12473 20.3458C4.24721 20.4347 4.39216 20.4876 4.54315 20.4984C4.69414 20.5091 4.84513 20.4774 4.97899 20.4067L10.7369 17.3794L16.4948 20.4067C16.652 20.4904 16.8345 20.5183 17.0095 20.4878C17.4506 20.4118 17.7473 19.9934 17.6712 19.5523L16.5709 13.1402L21.2284 8.59931C21.3552 8.47508 21.4388 8.31281 21.4642 8.13534C21.5326 7.69164 21.2233 7.2809 20.7796 7.21498Z" fill="#DF8600"/>
                                <path d="M49.2533 7.21498L42.8159 6.27942L39.9382 0.445452C39.8596 0.285722 39.7303 0.156416 39.5706 0.0778184C39.17 -0.119943 38.6832 0.0448581 38.4829 0.445452L35.6052 6.27942L29.1678 7.21498C28.9903 7.24034 28.828 7.32401 28.7038 7.45078C28.5536 7.60515 28.4709 7.81283 28.4737 8.02819C28.4766 8.24356 28.5648 8.44898 28.719 8.59931L33.3766 13.1402L32.2762 19.5523C32.2504 19.7014 32.2669 19.8548 32.3238 19.9951C32.3808 20.1353 32.4759 20.2568 32.5984 20.3458C32.7208 20.4347 32.8658 20.4876 33.0168 20.4984C33.1678 20.5091 33.3188 20.4774 33.4526 20.4067L39.2105 17.3794L44.9684 20.4067C45.1256 20.4904 45.3082 20.5183 45.4831 20.4878C45.9243 20.4118 46.2209 19.9934 46.1449 19.5523L45.0445 13.1402L49.702 8.59931C49.8288 8.47508 49.9125 8.31281 49.9378 8.13534C50.0063 7.69164 49.697 7.2809 49.2533 7.21498Z" fill="#DF8600"/>
                                <path d="M77.7269 7.21498L71.2895 6.27942L68.4118 0.445452C68.3332 0.285722 68.2039 0.156416 68.0442 0.0778184C67.6436 -0.119943 67.1568 0.0448581 66.9565 0.445452L64.0788 6.27942L57.6414 7.21498C57.4639 7.24034 57.3017 7.32401 57.1774 7.45078C57.0272 7.60515 56.9445 7.81283 56.9473 8.02819C56.9502 8.24356 57.0384 8.44898 57.1927 8.59931L61.8502 13.1402L60.7498 19.5523C60.724 19.7014 60.7405 19.8548 60.7975 19.9951C60.8544 20.1353 60.9495 20.2568 61.072 20.3458C61.1945 20.4347 61.3394 20.4876 61.4904 20.4984C61.6414 20.5091 61.7924 20.4774 61.9263 20.4067L67.6842 17.3794L73.4421 20.4067C73.5993 20.4904 73.7818 20.5183 73.9568 20.4878C74.3979 20.4118 74.6946 19.9934 74.6185 19.5523L73.5181 13.1402L78.1757 8.59931C78.3024 8.47508 78.3861 8.31281 78.4115 8.13534C78.4799 7.69164 78.1706 7.2809 77.7269 7.21498Z" fill="#DF8600"/>
                                <path d="M106.201 7.21498L99.7631 6.27942L96.8855 0.445452C96.8069 0.285722 96.6776 0.156416 96.5178 0.0778184C96.1172 -0.119943 95.6304 0.0448581 95.4301 0.445452L92.5524 6.27942L86.1151 7.21498C85.9376 7.24034 85.7753 7.32401 85.6511 7.45078C85.5009 7.60515 85.4181 7.81283 85.421 8.02819C85.4238 8.24356 85.5121 8.44898 85.6663 8.59931L90.3238 13.1402L89.2235 19.5523C89.1977 19.7014 89.2142 19.8548 89.2711 19.9951C89.328 20.1353 89.4232 20.2568 89.5456 20.3458C89.6681 20.4347 89.8131 20.4876 89.9641 20.4984C90.115 20.5091 90.266 20.4774 90.3999 20.4067L96.1578 17.3794L101.916 20.4067C102.073 20.4904 102.255 20.5183 102.43 20.4878C102.872 20.4118 103.168 19.9934 103.092 19.5523L101.992 13.1402L106.649 8.59931C106.776 8.47508 106.86 8.31281 106.885 8.13534C106.954 7.69164 106.644 7.2809 106.201 7.21498Z" fill="#DF8600"/>
                                <path d="M134.674 7.21498L128.237 6.27942L125.359 0.445452C125.28 0.285722 125.151 0.156416 124.991 0.0778184C124.591 -0.119943 124.104 0.0448581 123.904 0.445452L121.026 6.27942L114.589 7.21498C114.411 7.24034 114.249 7.32401 114.125 7.45078C113.975 7.60515 113.892 7.81283 113.895 8.02819C113.897 8.24356 113.986 8.44898 114.14 8.59931L118.797 13.1402L117.697 19.5523C117.671 19.7014 117.688 19.8548 117.745 19.9951C117.802 20.1353 117.897 20.2568 118.019 20.3458C118.142 20.4347 118.287 20.4876 118.438 20.4984C118.589 20.5091 118.74 20.4774 118.874 20.4067L124.631 17.3794L130.389 20.4067C130.547 20.4904 130.729 20.5183 130.904 20.4878C131.345 20.4118 131.642 19.9934 131.566 19.5523L130.465 13.1402L135.123 8.59931C135.25 8.47508 135.333 8.31281 135.359 8.13534C135.427 7.69164 135.118 7.2809 134.674 7.21498Z" fill="#DF8600"/>
                            </svg>
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/google-review-icon.png?v=1696929218" width="30" height="30">
                    </div>
                    <p>{{section.settings.review_8}}</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>


{% comment %}
<section class="review-section">
<div class="container">
<div class="section-title">
<h2 class="page-title">Reviews from verified users</h2>
<p>Here are reviews from our fellow Nomad users</p>
</div>
<div class="review-list">

<div>
<div class="review-box">

<div class="image-and-name">
   <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/review_1.jpg?v=1690181521" alt="customer" loading="lazy">
   <h3>Oliver</h3>
</div>

<svg width="136" height="22" viewBox="0 0 136 22" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M20.7796 7.9677L14.3422 7.03214L11.4646 1.19817C11.386 1.03844 11.2567 0.909132 11.0969 0.830534C10.6963 0.632773 10.2095 0.797574 10.0092 1.19817L7.13155 7.03214L0.694154 7.9677C0.516676 7.99305 0.35441 8.07672 0.230175 8.20349C0.0799821 8.35786 -0.00278111 8.56555 7.13613e-05 8.78091C0.00292383 8.99627 0.0911586 9.20169 0.245388 9.35203L4.90293 13.8929L3.80256 20.305C3.77676 20.4541 3.79326 20.6075 3.85021 20.7478C3.90715 20.8881 4.00225 21.0095 4.12473 21.0985C4.24721 21.1875 4.39216 21.2403 4.54315 21.2511C4.69414 21.2618 4.84513 21.2301 4.97899 21.1594L10.7369 18.1321L16.4948 21.1594C16.652 21.2431 16.8345 21.271 17.0095 21.2405C17.4506 21.1645 17.7473 20.7461 17.6712 20.305L16.5709 13.8929L21.2284 9.35203C21.3552 9.2278 21.4388 9.06553 21.4642 8.88805C21.5326 8.44436 21.2233 8.03362 20.7796 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M49.2533 7.9677L42.8159 7.03214L39.9382 1.19817C39.8596 1.03844 39.7303 0.909132 39.5706 0.830534C39.17 0.632773 38.6832 0.797574 38.4829 1.19817L35.6052 7.03214L29.1678 7.9677C28.9903 7.99305 28.828 8.07672 28.7038 8.20349C28.5536 8.35786 28.4709 8.56555 28.4737 8.78091C28.4766 8.99627 28.5648 9.20169 28.719 9.35203L33.3766 13.8929L32.2762 20.305C32.2504 20.4541 32.2669 20.6075 32.3238 20.7478C32.3808 20.8881 32.4759 21.0095 32.5984 21.0985C32.7208 21.1875 32.8658 21.2403 33.0168 21.2511C33.1678 21.2618 33.3188 21.2301 33.4526 21.1594L39.2105 18.1321L44.9684 21.1594C45.1256 21.2431 45.3082 21.271 45.4831 21.2405C45.9243 21.1645 46.2209 20.7461 46.1449 20.305L45.0445 13.8929L49.702 9.35203C49.8288 9.2278 49.9125 9.06553 49.9378 8.88805C50.0063 8.44436 49.697 8.03362 49.2533 7.9677Z" fill="#DF8600"></path>
   <path d="M77.7269 7.9677L71.2895 7.03214L68.4118 1.19817C68.3332 1.03844 68.2039 0.909132 68.0442 0.830534C67.6436 0.632773 67.1568 0.797574 66.9565 1.19817L64.0788 7.03214L57.6414 7.9677C57.4639 7.99305 57.3017 8.07672 57.1774 8.20349C57.0272 8.35786 56.9445 8.56555 56.9473 8.78091C56.9502 8.99627 57.0384 9.20169 57.1927 9.35203L61.8502 13.8929L60.7498 20.305C60.724 20.4541 60.7405 20.6075 60.7975 20.7478C60.8544 20.8881 60.9495 21.0095 61.072 21.0985C61.1945 21.1875 61.3394 21.2403 61.4904 21.2511C61.6414 21.2618 61.7924 21.2301 61.9263 21.1594L67.6842 18.1321L73.4421 21.1594C73.5993 21.2431 73.7818 21.271 73.9568 21.2405C74.3979 21.1645 74.6946 20.7461 74.6185 20.305L73.5181 13.8929L78.1757 9.35203C78.3024 9.2278 78.3861 9.06553 78.4115 8.88805C78.4799 8.44436 78.1706 8.03362 77.7269 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M106.201 7.9677L99.7631 7.03214L96.8855 1.19817C96.8069 1.03844 96.6776 0.909132 96.5178 0.830534C96.1172 0.632773 95.6304 0.797574 95.4301 1.19817L92.5524 7.03214L86.1151 7.9677C85.9376 7.99305 85.7753 8.07672 85.6511 8.20349C85.5009 8.35786 85.4181 8.56555 85.421 8.78091C85.4238 8.99627 85.5121 9.20169 85.6663 9.35203L90.3238 13.8929L89.2235 20.305C89.1977 20.4541 89.2142 20.6075 89.2711 20.7478C89.328 20.8881 89.4232 21.0095 89.5456 21.0985C89.6681 21.1875 89.8131 21.2403 89.9641 21.2511C90.115 21.2618 90.266 21.2301 90.3999 21.1594L96.1578 18.1321L101.916 21.1594C102.073 21.2431 102.255 21.271 102.43 21.2405C102.872 21.1645 103.168 20.7461 103.092 20.305L101.992 13.8929L106.649 9.35203C106.776 9.2278 106.86 9.06553 106.885 8.88805C106.954 8.44436 106.644 8.03362 106.201 7.9677Z" fill="#DF8600"></path>
   <path d="M134.674 7.9677L128.237 7.03214L125.359 1.19817C125.28 1.03844 125.151 0.909132 124.991 0.830534C124.591 0.632773 124.104 0.797574 123.904 1.19817L121.026 7.03214L114.589 7.9677C114.411 7.99305 114.249 8.07672 114.125 8.20349C113.975 8.35786 113.892 8.56555 113.895 8.78091C113.897 8.99627 113.986 9.20169 114.14 9.35203L118.797 13.8929L117.697 20.305C117.671 20.4541 117.688 20.6075 117.745 20.7478C117.802 20.8881 117.897 21.0095 118.019 21.0985C118.142 21.1875 118.287 21.2403 118.438 21.2511C118.589 21.2618 118.74 21.2301 118.874 21.1594L124.631 18.1321L130.389 21.1594C130.547 21.2431 130.729 21.271 130.904 21.2405C131.345 21.1645 131.642 20.7461 131.566 20.305L130.465 13.8929L135.123 9.35203C135.25 9.2278 135.333 9.06553 135.359 8.88805C135.427 8.44436 135.118 8.03362 134.674 7.9677Z" fill="#DF8600"></path>
</svg>
<p>I’ve had few issues, equipment mostly, all have been remedied relatively painlessly. Not to mention great streaming service in most places I have been. I live and travel in my RV Van, Internet service is a MUST HAVE in my life.😊</p>
</div>
</div>
<div>
<div class="review-box">

<div class="image-and-name">
   <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/review_2.jpg?v=1690181521" alt="customer" loading="lazy">
   <h3>Amelia</h3>
</div>

<svg width="136" height="22" viewBox="0 0 136 22" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M20.7796 7.9677L14.3422 7.03214L11.4646 1.19817C11.386 1.03844 11.2567 0.909132 11.0969 0.830534C10.6963 0.632773 10.2095 0.797574 10.0092 1.19817L7.13155 7.03214L0.694154 7.9677C0.516676 7.99305 0.35441 8.07672 0.230175 8.20349C0.0799821 8.35786 -0.00278111 8.56555 7.13613e-05 8.78091C0.00292383 8.99627 0.0911586 9.20169 0.245388 9.35203L4.90293 13.8929L3.80256 20.305C3.77676 20.4541 3.79326 20.6075 3.85021 20.7478C3.90715 20.8881 4.00225 21.0095 4.12473 21.0985C4.24721 21.1875 4.39216 21.2403 4.54315 21.2511C4.69414 21.2618 4.84513 21.2301 4.97899 21.1594L10.7369 18.1321L16.4948 21.1594C16.652 21.2431 16.8345 21.271 17.0095 21.2405C17.4506 21.1645 17.7473 20.7461 17.6712 20.305L16.5709 13.8929L21.2284 9.35203C21.3552 9.2278 21.4388 9.06553 21.4642 8.88805C21.5326 8.44436 21.2233 8.03362 20.7796 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M49.2533 7.9677L42.8159 7.03214L39.9382 1.19817C39.8596 1.03844 39.7303 0.909132 39.5706 0.830534C39.17 0.632773 38.6832 0.797574 38.4829 1.19817L35.6052 7.03214L29.1678 7.9677C28.9903 7.99305 28.828 8.07672 28.7038 8.20349C28.5536 8.35786 28.4709 8.56555 28.4737 8.78091C28.4766 8.99627 28.5648 9.20169 28.719 9.35203L33.3766 13.8929L32.2762 20.305C32.2504 20.4541 32.2669 20.6075 32.3238 20.7478C32.3808 20.8881 32.4759 21.0095 32.5984 21.0985C32.7208 21.1875 32.8658 21.2403 33.0168 21.2511C33.1678 21.2618 33.3188 21.2301 33.4526 21.1594L39.2105 18.1321L44.9684 21.1594C45.1256 21.2431 45.3082 21.271 45.4831 21.2405C45.9243 21.1645 46.2209 20.7461 46.1449 20.305L45.0445 13.8929L49.702 9.35203C49.8288 9.2278 49.9125 9.06553 49.9378 8.88805C50.0063 8.44436 49.697 8.03362 49.2533 7.9677Z" fill="#DF8600"></path>
   <path d="M77.7269 7.9677L71.2895 7.03214L68.4118 1.19817C68.3332 1.03844 68.2039 0.909132 68.0442 0.830534C67.6436 0.632773 67.1568 0.797574 66.9565 1.19817L64.0788 7.03214L57.6414 7.9677C57.4639 7.99305 57.3017 8.07672 57.1774 8.20349C57.0272 8.35786 56.9445 8.56555 56.9473 8.78091C56.9502 8.99627 57.0384 9.20169 57.1927 9.35203L61.8502 13.8929L60.7498 20.305C60.724 20.4541 60.7405 20.6075 60.7975 20.7478C60.8544 20.8881 60.9495 21.0095 61.072 21.0985C61.1945 21.1875 61.3394 21.2403 61.4904 21.2511C61.6414 21.2618 61.7924 21.2301 61.9263 21.1594L67.6842 18.1321L73.4421 21.1594C73.5993 21.2431 73.7818 21.271 73.9568 21.2405C74.3979 21.1645 74.6946 20.7461 74.6185 20.305L73.5181 13.8929L78.1757 9.35203C78.3024 9.2278 78.3861 9.06553 78.4115 8.88805C78.4799 8.44436 78.1706 8.03362 77.7269 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M106.201 7.9677L99.7631 7.03214L96.8855 1.19817C96.8069 1.03844 96.6776 0.909132 96.5178 0.830534C96.1172 0.632773 95.6304 0.797574 95.4301 1.19817L92.5524 7.03214L86.1151 7.9677C85.9376 7.99305 85.7753 8.07672 85.6511 8.20349C85.5009 8.35786 85.4181 8.56555 85.421 8.78091C85.4238 8.99627 85.5121 9.20169 85.6663 9.35203L90.3238 13.8929L89.2235 20.305C89.1977 20.4541 89.2142 20.6075 89.2711 20.7478C89.328 20.8881 89.4232 21.0095 89.5456 21.0985C89.6681 21.1875 89.8131 21.2403 89.9641 21.2511C90.115 21.2618 90.266 21.2301 90.3999 21.1594L96.1578 18.1321L101.916 21.1594C102.073 21.2431 102.255 21.271 102.43 21.2405C102.872 21.1645 103.168 20.7461 103.092 20.305L101.992 13.8929L106.649 9.35203C106.776 9.2278 106.86 9.06553 106.885 8.88805C106.954 8.44436 106.644 8.03362 106.201 7.9677Z" fill="#DF8600"></path>
   <path d="M134.674 7.9677L128.237 7.03214L125.359 1.19817C125.28 1.03844 125.151 0.909132 124.991 0.830534C124.591 0.632773 124.104 0.797574 123.904 1.19817L121.026 7.03214L114.589 7.9677C114.411 7.99305 114.249 8.07672 114.125 8.20349C113.975 8.35786 113.892 8.56555 113.895 8.78091C113.897 8.99627 113.986 9.20169 114.14 9.35203L118.797 13.8929L117.697 20.305C117.671 20.4541 117.688 20.6075 117.745 20.7478C117.802 20.8881 117.897 21.0095 118.019 21.0985C118.142 21.1875 118.287 21.2403 118.438 21.2511C118.589 21.2618 118.74 21.2301 118.874 21.1594L124.631 18.1321L130.389 21.1594C130.547 21.2431 130.729 21.271 130.904 21.2405C131.345 21.1645 131.642 20.7461 131.566 20.305L130.465 13.8929L135.123 9.35203C135.25 9.2278 135.333 9.06553 135.359 8.88805C135.427 8.44436 135.118 8.03362 134.674 7.9677Z" fill="#DF8600"></path>
</svg>
<p>I have had excellent support and service. the coverage and quality of service has been fantastic. I have had Nomad for a few years now and all of the customer serviced and tech service  people are very quick, responsive and helpful. I travel with my wife in our RV 95 percent of the year.</p>
</div>
</div>
<div>
<div class="review-box">

<div class="image-and-name">
   <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/review_3.jpg?v=1690181521" alt="customer" loading="lazy">
   <h3>Henry</h3>
</div>

<svg width="136" height="22" viewBox="0 0 136 22" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M20.7796 7.9677L14.3422 7.03214L11.4646 1.19817C11.386 1.03844 11.2567 0.909132 11.0969 0.830534C10.6963 0.632773 10.2095 0.797574 10.0092 1.19817L7.13155 7.03214L0.694154 7.9677C0.516676 7.99305 0.35441 8.07672 0.230175 8.20349C0.0799821 8.35786 -0.00278111 8.56555 7.13613e-05 8.78091C0.00292383 8.99627 0.0911586 9.20169 0.245388 9.35203L4.90293 13.8929L3.80256 20.305C3.77676 20.4541 3.79326 20.6075 3.85021 20.7478C3.90715 20.8881 4.00225 21.0095 4.12473 21.0985C4.24721 21.1875 4.39216 21.2403 4.54315 21.2511C4.69414 21.2618 4.84513 21.2301 4.97899 21.1594L10.7369 18.1321L16.4948 21.1594C16.652 21.2431 16.8345 21.271 17.0095 21.2405C17.4506 21.1645 17.7473 20.7461 17.6712 20.305L16.5709 13.8929L21.2284 9.35203C21.3552 9.2278 21.4388 9.06553 21.4642 8.88805C21.5326 8.44436 21.2233 8.03362 20.7796 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M49.2533 7.9677L42.8159 7.03214L39.9382 1.19817C39.8596 1.03844 39.7303 0.909132 39.5706 0.830534C39.17 0.632773 38.6832 0.797574 38.4829 1.19817L35.6052 7.03214L29.1678 7.9677C28.9903 7.99305 28.828 8.07672 28.7038 8.20349C28.5536 8.35786 28.4709 8.56555 28.4737 8.78091C28.4766 8.99627 28.5648 9.20169 28.719 9.35203L33.3766 13.8929L32.2762 20.305C32.2504 20.4541 32.2669 20.6075 32.3238 20.7478C32.3808 20.8881 32.4759 21.0095 32.5984 21.0985C32.7208 21.1875 32.8658 21.2403 33.0168 21.2511C33.1678 21.2618 33.3188 21.2301 33.4526 21.1594L39.2105 18.1321L44.9684 21.1594C45.1256 21.2431 45.3082 21.271 45.4831 21.2405C45.9243 21.1645 46.2209 20.7461 46.1449 20.305L45.0445 13.8929L49.702 9.35203C49.8288 9.2278 49.9125 9.06553 49.9378 8.88805C50.0063 8.44436 49.697 8.03362 49.2533 7.9677Z" fill="#DF8600"></path>
   <path d="M77.7269 7.9677L71.2895 7.03214L68.4118 1.19817C68.3332 1.03844 68.2039 0.909132 68.0442 0.830534C67.6436 0.632773 67.1568 0.797574 66.9565 1.19817L64.0788 7.03214L57.6414 7.9677C57.4639 7.99305 57.3017 8.07672 57.1774 8.20349C57.0272 8.35786 56.9445 8.56555 56.9473 8.78091C56.9502 8.99627 57.0384 9.20169 57.1927 9.35203L61.8502 13.8929L60.7498 20.305C60.724 20.4541 60.7405 20.6075 60.7975 20.7478C60.8544 20.8881 60.9495 21.0095 61.072 21.0985C61.1945 21.1875 61.3394 21.2403 61.4904 21.2511C61.6414 21.2618 61.7924 21.2301 61.9263 21.1594L67.6842 18.1321L73.4421 21.1594C73.5993 21.2431 73.7818 21.271 73.9568 21.2405C74.3979 21.1645 74.6946 20.7461 74.6185 20.305L73.5181 13.8929L78.1757 9.35203C78.3024 9.2278 78.3861 9.06553 78.4115 8.88805C78.4799 8.44436 78.1706 8.03362 77.7269 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M106.201 7.9677L99.7631 7.03214L96.8855 1.19817C96.8069 1.03844 96.6776 0.909132 96.5178 0.830534C96.1172 0.632773 95.6304 0.797574 95.4301 1.19817L92.5524 7.03214L86.1151 7.9677C85.9376 7.99305 85.7753 8.07672 85.6511 8.20349C85.5009 8.35786 85.4181 8.56555 85.421 8.78091C85.4238 8.99627 85.5121 9.20169 85.6663 9.35203L90.3238 13.8929L89.2235 20.305C89.1977 20.4541 89.2142 20.6075 89.2711 20.7478C89.328 20.8881 89.4232 21.0095 89.5456 21.0985C89.6681 21.1875 89.8131 21.2403 89.9641 21.2511C90.115 21.2618 90.266 21.2301 90.3999 21.1594L96.1578 18.1321L101.916 21.1594C102.073 21.2431 102.255 21.271 102.43 21.2405C102.872 21.1645 103.168 20.7461 103.092 20.305L101.992 13.8929L106.649 9.35203C106.776 9.2278 106.86 9.06553 106.885 8.88805C106.954 8.44436 106.644 8.03362 106.201 7.9677Z" fill="#DF8600"></path>
   <path d="M134.674 7.9677L128.237 7.03214L125.359 1.19817C125.28 1.03844 125.151 0.909132 124.991 0.830534C124.591 0.632773 124.104 0.797574 123.904 1.19817L121.026 7.03214L114.589 7.9677C114.411 7.99305 114.249 8.07672 114.125 8.20349C113.975 8.35786 113.892 8.56555 113.895 8.78091C113.897 8.99627 113.986 9.20169 114.14 9.35203L118.797 13.8929L117.697 20.305C117.671 20.4541 117.688 20.6075 117.745 20.7478C117.802 20.8881 117.897 21.0095 118.019 21.0985C118.142 21.1875 118.287 21.2403 118.438 21.2511C118.589 21.2618 118.74 21.2301 118.874 21.1594L124.631 18.1321L130.389 21.1594C130.547 21.2431 130.729 21.271 130.904 21.2405C131.345 21.1645 131.642 20.7461 131.566 20.305L130.465 13.8929L135.123 9.35203C135.25 9.2278 135.333 9.06553 135.359 8.88805C135.427 8.44436 135.118 8.03362 134.674 7.9677Z" fill="#DF8600"></path>
</svg>
<p>I love the new raptor and the ability to connect my family’s devices to the internet simultaneously! This service has truly been a blessing for us and we will never use another service provider again. We tell all of our friends and family about Nomad and how reliable and wonderful the service has been.</p>
</div>
</div>
<div>
<div class="review-box">

<div class="image-and-name">
   <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/review_11.jpg?v=1691152794" alt="customer" loading="lazy">
   <h3>David</h3>
</div>

<svg width="136" height="22" viewBox="0 0 136 22" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M20.7796 7.9677L14.3422 7.03214L11.4646 1.19817C11.386 1.03844 11.2567 0.909132 11.0969 0.830534C10.6963 0.632773 10.2095 0.797574 10.0092 1.19817L7.13155 7.03214L0.694154 7.9677C0.516676 7.99305 0.35441 8.07672 0.230175 8.20349C0.0799821 8.35786 -0.00278111 8.56555 7.13613e-05 8.78091C0.00292383 8.99627 0.0911586 9.20169 0.245388 9.35203L4.90293 13.8929L3.80256 20.305C3.77676 20.4541 3.79326 20.6075 3.85021 20.7478C3.90715 20.8881 4.00225 21.0095 4.12473 21.0985C4.24721 21.1875 4.39216 21.2403 4.54315 21.2511C4.69414 21.2618 4.84513 21.2301 4.97899 21.1594L10.7369 18.1321L16.4948 21.1594C16.652 21.2431 16.8345 21.271 17.0095 21.2405C17.4506 21.1645 17.7473 20.7461 17.6712 20.305L16.5709 13.8929L21.2284 9.35203C21.3552 9.2278 21.4388 9.06553 21.4642 8.88805C21.5326 8.44436 21.2233 8.03362 20.7796 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M49.2533 7.9677L42.8159 7.03214L39.9382 1.19817C39.8596 1.03844 39.7303 0.909132 39.5706 0.830534C39.17 0.632773 38.6832 0.797574 38.4829 1.19817L35.6052 7.03214L29.1678 7.9677C28.9903 7.99305 28.828 8.07672 28.7038 8.20349C28.5536 8.35786 28.4709 8.56555 28.4737 8.78091C28.4766 8.99627 28.5648 9.20169 28.719 9.35203L33.3766 13.8929L32.2762 20.305C32.2504 20.4541 32.2669 20.6075 32.3238 20.7478C32.3808 20.8881 32.4759 21.0095 32.5984 21.0985C32.7208 21.1875 32.8658 21.2403 33.0168 21.2511C33.1678 21.2618 33.3188 21.2301 33.4526 21.1594L39.2105 18.1321L44.9684 21.1594C45.1256 21.2431 45.3082 21.271 45.4831 21.2405C45.9243 21.1645 46.2209 20.7461 46.1449 20.305L45.0445 13.8929L49.702 9.35203C49.8288 9.2278 49.9125 9.06553 49.9378 8.88805C50.0063 8.44436 49.697 8.03362 49.2533 7.9677Z" fill="#DF8600"></path>
   <path d="M77.7269 7.9677L71.2895 7.03214L68.4118 1.19817C68.3332 1.03844 68.2039 0.909132 68.0442 0.830534C67.6436 0.632773 67.1568 0.797574 66.9565 1.19817L64.0788 7.03214L57.6414 7.9677C57.4639 7.99305 57.3017 8.07672 57.1774 8.20349C57.0272 8.35786 56.9445 8.56555 56.9473 8.78091C56.9502 8.99627 57.0384 9.20169 57.1927 9.35203L61.8502 13.8929L60.7498 20.305C60.724 20.4541 60.7405 20.6075 60.7975 20.7478C60.8544 20.8881 60.9495 21.0095 61.072 21.0985C61.1945 21.1875 61.3394 21.2403 61.4904 21.2511C61.6414 21.2618 61.7924 21.2301 61.9263 21.1594L67.6842 18.1321L73.4421 21.1594C73.5993 21.2431 73.7818 21.271 73.9568 21.2405C74.3979 21.1645 74.6946 20.7461 74.6185 20.305L73.5181 13.8929L78.1757 9.35203C78.3024 9.2278 78.3861 9.06553 78.4115 8.88805C78.4799 8.44436 78.1706 8.03362 77.7269 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M106.201 7.9677L99.7631 7.03214L96.8855 1.19817C96.8069 1.03844 96.6776 0.909132 96.5178 0.830534C96.1172 0.632773 95.6304 0.797574 95.4301 1.19817L92.5524 7.03214L86.1151 7.9677C85.9376 7.99305 85.7753 8.07672 85.6511 8.20349C85.5009 8.35786 85.4181 8.56555 85.421 8.78091C85.4238 8.99627 85.5121 9.20169 85.6663 9.35203L90.3238 13.8929L89.2235 20.305C89.1977 20.4541 89.2142 20.6075 89.2711 20.7478C89.328 20.8881 89.4232 21.0095 89.5456 21.0985C89.6681 21.1875 89.8131 21.2403 89.9641 21.2511C90.115 21.2618 90.266 21.2301 90.3999 21.1594L96.1578 18.1321L101.916 21.1594C102.073 21.2431 102.255 21.271 102.43 21.2405C102.872 21.1645 103.168 20.7461 103.092 20.305L101.992 13.8929L106.649 9.35203C106.776 9.2278 106.86 9.06553 106.885 8.88805C106.954 8.44436 106.644 8.03362 106.201 7.9677Z" fill="#DF8600"></path>
   <path d="M134.674 7.9677L128.237 7.03214L125.359 1.19817C125.28 1.03844 125.151 0.909132 124.991 0.830534C124.591 0.632773 124.104 0.797574 123.904 1.19817L121.026 7.03214L114.589 7.9677C114.411 7.99305 114.249 8.07672 114.125 8.20349C113.975 8.35786 113.892 8.56555 113.895 8.78091C113.897 8.99627 113.986 9.20169 114.14 9.35203L118.797 13.8929L117.697 20.305C117.671 20.4541 117.688 20.6075 117.745 20.7478C117.802 20.8881 117.897 21.0095 118.019 21.0985C118.142 21.1875 118.287 21.2403 118.438 21.2511C118.589 21.2618 118.74 21.2301 118.874 21.1594L124.631 18.1321L130.389 21.1594C130.547 21.2431 130.729 21.271 130.904 21.2405C131.345 21.1645 131.642 20.7461 131.566 20.305L130.465 13.8929L135.123 9.35203C135.25 9.2278 135.333 9.06553 135.359 8.88805C135.427 8.44436 135.118 8.03362 134.674 7.9677Z" fill="#DF8600"></path>
</svg>
<p>I Live in an internet dead zone here in East Texas. This is the first service I found that actually worked. Highly recommended.</p>
</div>
</div>
<div>
<div class="review-box">

<div class="image-and-name">
   <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/review_4.jpg?v=1690181521" alt="customer" loading="lazy">
   <h3>James</h3>
</div>

<svg width="136" height="22" viewBox="0 0 136 22" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M20.7796 7.9677L14.3422 7.03214L11.4646 1.19817C11.386 1.03844 11.2567 0.909132 11.0969 0.830534C10.6963 0.632773 10.2095 0.797574 10.0092 1.19817L7.13155 7.03214L0.694154 7.9677C0.516676 7.99305 0.35441 8.07672 0.230175 8.20349C0.0799821 8.35786 -0.00278111 8.56555 7.13613e-05 8.78091C0.00292383 8.99627 0.0911586 9.20169 0.245388 9.35203L4.90293 13.8929L3.80256 20.305C3.77676 20.4541 3.79326 20.6075 3.85021 20.7478C3.90715 20.8881 4.00225 21.0095 4.12473 21.0985C4.24721 21.1875 4.39216 21.2403 4.54315 21.2511C4.69414 21.2618 4.84513 21.2301 4.97899 21.1594L10.7369 18.1321L16.4948 21.1594C16.652 21.2431 16.8345 21.271 17.0095 21.2405C17.4506 21.1645 17.7473 20.7461 17.6712 20.305L16.5709 13.8929L21.2284 9.35203C21.3552 9.2278 21.4388 9.06553 21.4642 8.88805C21.5326 8.44436 21.2233 8.03362 20.7796 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M49.2533 7.9677L42.8159 7.03214L39.9382 1.19817C39.8596 1.03844 39.7303 0.909132 39.5706 0.830534C39.17 0.632773 38.6832 0.797574 38.4829 1.19817L35.6052 7.03214L29.1678 7.9677C28.9903 7.99305 28.828 8.07672 28.7038 8.20349C28.5536 8.35786 28.4709 8.56555 28.4737 8.78091C28.4766 8.99627 28.5648 9.20169 28.719 9.35203L33.3766 13.8929L32.2762 20.305C32.2504 20.4541 32.2669 20.6075 32.3238 20.7478C32.3808 20.8881 32.4759 21.0095 32.5984 21.0985C32.7208 21.1875 32.8658 21.2403 33.0168 21.2511C33.1678 21.2618 33.3188 21.2301 33.4526 21.1594L39.2105 18.1321L44.9684 21.1594C45.1256 21.2431 45.3082 21.271 45.4831 21.2405C45.9243 21.1645 46.2209 20.7461 46.1449 20.305L45.0445 13.8929L49.702 9.35203C49.8288 9.2278 49.9125 9.06553 49.9378 8.88805C50.0063 8.44436 49.697 8.03362 49.2533 7.9677Z" fill="#DF8600"></path>
   <path d="M77.7269 7.9677L71.2895 7.03214L68.4118 1.19817C68.3332 1.03844 68.2039 0.909132 68.0442 0.830534C67.6436 0.632773 67.1568 0.797574 66.9565 1.19817L64.0788 7.03214L57.6414 7.9677C57.4639 7.99305 57.3017 8.07672 57.1774 8.20349C57.0272 8.35786 56.9445 8.56555 56.9473 8.78091C56.9502 8.99627 57.0384 9.20169 57.1927 9.35203L61.8502 13.8929L60.7498 20.305C60.724 20.4541 60.7405 20.6075 60.7975 20.7478C60.8544 20.8881 60.9495 21.0095 61.072 21.0985C61.1945 21.1875 61.3394 21.2403 61.4904 21.2511C61.6414 21.2618 61.7924 21.2301 61.9263 21.1594L67.6842 18.1321L73.4421 21.1594C73.5993 21.2431 73.7818 21.271 73.9568 21.2405C74.3979 21.1645 74.6946 20.7461 74.6185 20.305L73.5181 13.8929L78.1757 9.35203C78.3024 9.2278 78.3861 9.06553 78.4115 8.88805C78.4799 8.44436 78.1706 8.03362 77.7269 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M106.201 7.9677L99.7631 7.03214L96.8855 1.19817C96.8069 1.03844 96.6776 0.909132 96.5178 0.830534C96.1172 0.632773 95.6304 0.797574 95.4301 1.19817L92.5524 7.03214L86.1151 7.9677C85.9376 7.99305 85.7753 8.07672 85.6511 8.20349C85.5009 8.35786 85.4181 8.56555 85.421 8.78091C85.4238 8.99627 85.5121 9.20169 85.6663 9.35203L90.3238 13.8929L89.2235 20.305C89.1977 20.4541 89.2142 20.6075 89.2711 20.7478C89.328 20.8881 89.4232 21.0095 89.5456 21.0985C89.6681 21.1875 89.8131 21.2403 89.9641 21.2511C90.115 21.2618 90.266 21.2301 90.3999 21.1594L96.1578 18.1321L101.916 21.1594C102.073 21.2431 102.255 21.271 102.43 21.2405C102.872 21.1645 103.168 20.7461 103.092 20.305L101.992 13.8929L106.649 9.35203C106.776 9.2278 106.86 9.06553 106.885 8.88805C106.954 8.44436 106.644 8.03362 106.201 7.9677Z" fill="#DF8600"></path>
   <path d="M134.674 7.9677L128.237 7.03214L125.359 1.19817C125.28 1.03844 125.151 0.909132 124.991 0.830534C124.591 0.632773 124.104 0.797574 123.904 1.19817L121.026 7.03214L114.589 7.9677C114.411 7.99305 114.249 8.07672 114.125 8.20349C113.975 8.35786 113.892 8.56555 113.895 8.78091C113.897 8.99627 113.986 9.20169 114.14 9.35203L118.797 13.8929L117.697 20.305C117.671 20.4541 117.688 20.6075 117.745 20.7478C117.802 20.8881 117.897 21.0095 118.019 21.0985C118.142 21.1875 118.287 21.2403 118.438 21.2511C118.589 21.2618 118.74 21.2301 118.874 21.1594L124.631 18.1321L130.389 21.1594C130.547 21.2431 130.729 21.271 130.904 21.2405C131.345 21.1645 131.642 20.7461 131.566 20.305L130.465 13.8929L135.123 9.35203C135.25 9.2278 135.333 9.06553 135.359 8.88805C135.427 8.44436 135.118 8.03362 134.674 7.9677Z" fill="#DF8600"></path>
</svg>
<p>Nomads portability truly males it worth every penny. The ability to plug in and work or game is priceless. I definitely recommend Nomad.</p>
</div>
</div>

<div>
<div class="review-box">

<div class="image-and-name">
   <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/review_5.jpg?v=1690181521" alt="customer" loading="lazy">
   <h3>Evelyn</h3>
</div>

<svg width="136" height="22" viewBox="0 0 136 22" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M20.7796 7.9677L14.3422 7.03214L11.4646 1.19817C11.386 1.03844 11.2567 0.909132 11.0969 0.830534C10.6963 0.632773 10.2095 0.797574 10.0092 1.19817L7.13155 7.03214L0.694154 7.9677C0.516676 7.99305 0.35441 8.07672 0.230175 8.20349C0.0799821 8.35786 -0.00278111 8.56555 7.13613e-05 8.78091C0.00292383 8.99627 0.0911586 9.20169 0.245388 9.35203L4.90293 13.8929L3.80256 20.305C3.77676 20.4541 3.79326 20.6075 3.85021 20.7478C3.90715 20.8881 4.00225 21.0095 4.12473 21.0985C4.24721 21.1875 4.39216 21.2403 4.54315 21.2511C4.69414 21.2618 4.84513 21.2301 4.97899 21.1594L10.7369 18.1321L16.4948 21.1594C16.652 21.2431 16.8345 21.271 17.0095 21.2405C17.4506 21.1645 17.7473 20.7461 17.6712 20.305L16.5709 13.8929L21.2284 9.35203C21.3552 9.2278 21.4388 9.06553 21.4642 8.88805C21.5326 8.44436 21.2233 8.03362 20.7796 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M49.2533 7.9677L42.8159 7.03214L39.9382 1.19817C39.8596 1.03844 39.7303 0.909132 39.5706 0.830534C39.17 0.632773 38.6832 0.797574 38.4829 1.19817L35.6052 7.03214L29.1678 7.9677C28.9903 7.99305 28.828 8.07672 28.7038 8.20349C28.5536 8.35786 28.4709 8.56555 28.4737 8.78091C28.4766 8.99627 28.5648 9.20169 28.719 9.35203L33.3766 13.8929L32.2762 20.305C32.2504 20.4541 32.2669 20.6075 32.3238 20.7478C32.3808 20.8881 32.4759 21.0095 32.5984 21.0985C32.7208 21.1875 32.8658 21.2403 33.0168 21.2511C33.1678 21.2618 33.3188 21.2301 33.4526 21.1594L39.2105 18.1321L44.9684 21.1594C45.1256 21.2431 45.3082 21.271 45.4831 21.2405C45.9243 21.1645 46.2209 20.7461 46.1449 20.305L45.0445 13.8929L49.702 9.35203C49.8288 9.2278 49.9125 9.06553 49.9378 8.88805C50.0063 8.44436 49.697 8.03362 49.2533 7.9677Z" fill="#DF8600"></path>
   <path d="M77.7269 7.9677L71.2895 7.03214L68.4118 1.19817C68.3332 1.03844 68.2039 0.909132 68.0442 0.830534C67.6436 0.632773 67.1568 0.797574 66.9565 1.19817L64.0788 7.03214L57.6414 7.9677C57.4639 7.99305 57.3017 8.07672 57.1774 8.20349C57.0272 8.35786 56.9445 8.56555 56.9473 8.78091C56.9502 8.99627 57.0384 9.20169 57.1927 9.35203L61.8502 13.8929L60.7498 20.305C60.724 20.4541 60.7405 20.6075 60.7975 20.7478C60.8544 20.8881 60.9495 21.0095 61.072 21.0985C61.1945 21.1875 61.3394 21.2403 61.4904 21.2511C61.6414 21.2618 61.7924 21.2301 61.9263 21.1594L67.6842 18.1321L73.4421 21.1594C73.5993 21.2431 73.7818 21.271 73.9568 21.2405C74.3979 21.1645 74.6946 20.7461 74.6185 20.305L73.5181 13.8929L78.1757 9.35203C78.3024 9.2278 78.3861 9.06553 78.4115 8.88805C78.4799 8.44436 78.1706 8.03362 77.7269 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M106.201 7.9677L99.7631 7.03214L96.8855 1.19817C96.8069 1.03844 96.6776 0.909132 96.5178 0.830534C96.1172 0.632773 95.6304 0.797574 95.4301 1.19817L92.5524 7.03214L86.1151 7.9677C85.9376 7.99305 85.7753 8.07672 85.6511 8.20349C85.5009 8.35786 85.4181 8.56555 85.421 8.78091C85.4238 8.99627 85.5121 9.20169 85.6663 9.35203L90.3238 13.8929L89.2235 20.305C89.1977 20.4541 89.2142 20.6075 89.2711 20.7478C89.328 20.8881 89.4232 21.0095 89.5456 21.0985C89.6681 21.1875 89.8131 21.2403 89.9641 21.2511C90.115 21.2618 90.266 21.2301 90.3999 21.1594L96.1578 18.1321L101.916 21.1594C102.073 21.2431 102.255 21.271 102.43 21.2405C102.872 21.1645 103.168 20.7461 103.092 20.305L101.992 13.8929L106.649 9.35203C106.776 9.2278 106.86 9.06553 106.885 8.88805C106.954 8.44436 106.644 8.03362 106.201 7.9677Z" fill="#DF8600"></path>
   <path d="M134.674 7.9677L128.237 7.03214L125.359 1.19817C125.28 1.03844 125.151 0.909132 124.991 0.830534C124.591 0.632773 124.104 0.797574 123.904 1.19817L121.026 7.03214L114.589 7.9677C114.411 7.99305 114.249 8.07672 114.125 8.20349C113.975 8.35786 113.892 8.56555 113.895 8.78091C113.897 8.99627 113.986 9.20169 114.14 9.35203L118.797 13.8929L117.697 20.305C117.671 20.4541 117.688 20.6075 117.745 20.7478C117.802 20.8881 117.897 21.0095 118.019 21.0985C118.142 21.1875 118.287 21.2403 118.438 21.2511C118.589 21.2618 118.74 21.2301 118.874 21.1594L124.631 18.1321L130.389 21.1594C130.547 21.2431 130.729 21.271 130.904 21.2405C131.345 21.1645 131.642 20.7461 131.566 20.305L130.465 13.8929L135.123 9.35203C135.25 9.2278 135.333 9.06553 135.359 8.88805C135.427 8.44436 135.118 8.03362 134.674 7.9677Z" fill="#DF8600"></path>
</svg>
<p>If gives my autistic son the ability to stay connected with his online friends since he's not social in real life, I really appreciate it, has been a blessing from havin out burst of frustration with bad services.</p>
</div>
</div>

<div>
<div class="review-box">

<div class="image-and-name">
   <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/review_6.jpg?v=1690181521" alt="customer" loading="lazy">
   <h3>Kolson</h3>
</div>

<svg width="136" height="22" viewBox="0 0 136 22" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M20.7796 7.9677L14.3422 7.03214L11.4646 1.19817C11.386 1.03844 11.2567 0.909132 11.0969 0.830534C10.6963 0.632773 10.2095 0.797574 10.0092 1.19817L7.13155 7.03214L0.694154 7.9677C0.516676 7.99305 0.35441 8.07672 0.230175 8.20349C0.0799821 8.35786 -0.00278111 8.56555 7.13613e-05 8.78091C0.00292383 8.99627 0.0911586 9.20169 0.245388 9.35203L4.90293 13.8929L3.80256 20.305C3.77676 20.4541 3.79326 20.6075 3.85021 20.7478C3.90715 20.8881 4.00225 21.0095 4.12473 21.0985C4.24721 21.1875 4.39216 21.2403 4.54315 21.2511C4.69414 21.2618 4.84513 21.2301 4.97899 21.1594L10.7369 18.1321L16.4948 21.1594C16.652 21.2431 16.8345 21.271 17.0095 21.2405C17.4506 21.1645 17.7473 20.7461 17.6712 20.305L16.5709 13.8929L21.2284 9.35203C21.3552 9.2278 21.4388 9.06553 21.4642 8.88805C21.5326 8.44436 21.2233 8.03362 20.7796 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M49.2533 7.9677L42.8159 7.03214L39.9382 1.19817C39.8596 1.03844 39.7303 0.909132 39.5706 0.830534C39.17 0.632773 38.6832 0.797574 38.4829 1.19817L35.6052 7.03214L29.1678 7.9677C28.9903 7.99305 28.828 8.07672 28.7038 8.20349C28.5536 8.35786 28.4709 8.56555 28.4737 8.78091C28.4766 8.99627 28.5648 9.20169 28.719 9.35203L33.3766 13.8929L32.2762 20.305C32.2504 20.4541 32.2669 20.6075 32.3238 20.7478C32.3808 20.8881 32.4759 21.0095 32.5984 21.0985C32.7208 21.1875 32.8658 21.2403 33.0168 21.2511C33.1678 21.2618 33.3188 21.2301 33.4526 21.1594L39.2105 18.1321L44.9684 21.1594C45.1256 21.2431 45.3082 21.271 45.4831 21.2405C45.9243 21.1645 46.2209 20.7461 46.1449 20.305L45.0445 13.8929L49.702 9.35203C49.8288 9.2278 49.9125 9.06553 49.9378 8.88805C50.0063 8.44436 49.697 8.03362 49.2533 7.9677Z" fill="#DF8600"></path>
   <path d="M77.7269 7.9677L71.2895 7.03214L68.4118 1.19817C68.3332 1.03844 68.2039 0.909132 68.0442 0.830534C67.6436 0.632773 67.1568 0.797574 66.9565 1.19817L64.0788 7.03214L57.6414 7.9677C57.4639 7.99305 57.3017 8.07672 57.1774 8.20349C57.0272 8.35786 56.9445 8.56555 56.9473 8.78091C56.9502 8.99627 57.0384 9.20169 57.1927 9.35203L61.8502 13.8929L60.7498 20.305C60.724 20.4541 60.7405 20.6075 60.7975 20.7478C60.8544 20.8881 60.9495 21.0095 61.072 21.0985C61.1945 21.1875 61.3394 21.2403 61.4904 21.2511C61.6414 21.2618 61.7924 21.2301 61.9263 21.1594L67.6842 18.1321L73.4421 21.1594C73.5993 21.2431 73.7818 21.271 73.9568 21.2405C74.3979 21.1645 74.6946 20.7461 74.6185 20.305L73.5181 13.8929L78.1757 9.35203C78.3024 9.2278 78.3861 9.06553 78.4115 8.88805C78.4799 8.44436 78.1706 8.03362 77.7269 7.9677V7.9677Z" fill="#DF8600"></path>
   <path d="M106.201 7.9677L99.7631 7.03214L96.8855 1.19817C96.8069 1.03844 96.6776 0.909132 96.5178 0.830534C96.1172 0.632773 95.6304 0.797574 95.4301 1.19817L92.5524 7.03214L86.1151 7.9677C85.9376 7.99305 85.7753 8.07672 85.6511 8.20349C85.5009 8.35786 85.4181 8.56555 85.421 8.78091C85.4238 8.99627 85.5121 9.20169 85.6663 9.35203L90.3238 13.8929L89.2235 20.305C89.1977 20.4541 89.2142 20.6075 89.2711 20.7478C89.328 20.8881 89.4232 21.0095 89.5456 21.0985C89.6681 21.1875 89.8131 21.2403 89.9641 21.2511C90.115 21.2618 90.266 21.2301 90.3999 21.1594L96.1578 18.1321L101.916 21.1594C102.073 21.2431 102.255 21.271 102.43 21.2405C102.872 21.1645 103.168 20.7461 103.092 20.305L101.992 13.8929L106.649 9.35203C106.776 9.2278 106.86 9.06553 106.885 8.88805C106.954 8.44436 106.644 8.03362 106.201 7.9677Z" fill="#DF8600"></path>
   <path d="M134.674 7.9677L128.237 7.03214L125.359 1.19817C125.28 1.03844 125.151 0.909132 124.991 0.830534C124.591 0.632773 124.104 0.797574 123.904 1.19817L121.026 7.03214L114.589 7.9677C114.411 7.99305 114.249 8.07672 114.125 8.20349C113.975 8.35786 113.892 8.56555 113.895 8.78091C113.897 8.99627 113.986 9.20169 114.14 9.35203L118.797 13.8929L117.697 20.305C117.671 20.4541 117.688 20.6075 117.745 20.7478C117.802 20.8881 117.897 21.0095 118.019 21.0985C118.142 21.1875 118.287 21.2403 118.438 21.2511C118.589 21.2618 118.74 21.2301 118.874 21.1594L124.631 18.1321L130.389 21.1594C130.547 21.2431 130.729 21.271 130.904 21.2405C131.345 21.1645 131.642 20.7461 131.566 20.305L130.465 13.8929L135.123 9.35203C135.25 9.2278 135.333 9.06553 135.359 8.88805C135.427 8.44436 135.118 8.03362 134.674 7.9677Z" fill="#DF8600"></path>
</svg>
<p>Super easy set up. Fast internet speeds. unlike dish and direct TV I can work, watch tv, my kids can be on ipads and my husband can be watching videos on his phone and the internet doesnt slow down.</p>
</div>
</div>

</div>
</div>
</section>
{% endcomment %}

{% schema %}
{
    "name": "Page Reviews",
    "presets": [
        {
        "name": "Page Reviews"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "name_1",
            "label": "Name 1"
        },
        {
            "type": "text",
            "id": "review_1",
            "label": "Review 1"
        },
        {
            "type": "text",
            "id": "name_2",
            "label": "Name 2"
        },
        {
            "type": "text",
            "id": "review_2",
            "label": "Review 2"
        },
        {
            "type": "text",
            "id": "name_3",
            "label": "Name 3"
        },
        {
            "type": "text",
            "id": "review_3",
            "label": "Review 3"
        },
        {
            "type": "text",
            "id": "name_4",
            "label": "Name 4"
        },
        {
            "type": "text",
            "id": "review_4",
            "label": "Review 4"
        },
        {
            "type": "text",
            "id": "name_5",
            "label": "Name 5"
        },
        {
            "type": "text",
            "id": "review_5",
            "label": "Review 5"
        },
        {
            "type": "text",
            "id": "name_6",
            "label": "Name 6"
        },
        {
            "type": "text",
            "id": "review_6",
            "label": "Review 6"
        },
        {
            "type": "text",
            "id": "name_7",
            "label": "Name 7"
        },
        {
            "type": "text",
            "id": "review_7",
            "label": "Review 7"
        },
        {
            "type": "text",
            "id": "name_8",
            "label": "Name 8"
        },
        {
            "type": "text",
            "id": "review_8",
            "label": "Review 8"
        },
        {
            "type": "checkbox",
            "id": "loop",
            "label": "Slider loop",
            "default": true
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}