<script>
    var shopCurrency = "$";
  {% for currency in shop.enabled_currencies %}
        {% if currency.iso_code == shop.currency %} 
            shopCurrency ="{{ currency.symbol }}";
            {% break %}
        {% endif %}
        {% endfor %}
    window.salesteam_bo_props = {
      "baseUrlShopName" : "{{ shop.domain }}",
      "shopName": window.Shopify.shop,
      "customerId": "{{customer.id}}",
      "customerName": "{{customer.name}}",
      "customerFirstName": "{{customer.first_name }}",
      "customerLastName": "Kanawade",
      "customerEmail": "{{customer.email }}",
      "shopCurrency": shopCurrency
    }
  console.log("check backoffice")
</script>
<div id="css-backoffice" height='900px' width='100%'></div>

{{ 'salesteam-bo.css' | asset_url | stylesheet_tag }}
{{ 'salesteam-bo.js' | asset_url | script_tag }}