<div class="container">
	<div class="ice-header" style="background-image: url({{ 'ice-cover.jpg' | asset_url }})">
		<div class="ice-header__content">
			<h1>How to Survive When There is No Light and No Internet</h1>
			<a href="/pages/preorder" id="LyMeHh8t" class="btn lg red">Place order</a>
		</div>
	</div>
</div>

<div class="container">
	<h2 class="ice-title">Assembling an emergency kit for sudden Power and Internet outages</h2>

	<div class="ice-white-block">
		<div class="row v-gutters align-center">
			<div class="col-md-7 col-12">
				<div class="ice-white-block__image">
					<img src="{{ 'ice-bag.png' | asset_url }}" alt="Ice Bag" width="614" height="320" loading="lazy">
				</div>
			</div>

			<div class="col-md-5 col-12">
				<div class="ice-white-block__text">
					<p>Nomads, face the challenge of extended power outages due to severe ice storms with confidence; Nomad Air is here for you! Our Travel Kit comes fully equipped to ensure that your connection stays up and running. With a travel bag, high-capacity fast charger, solar panel included in every kit - enjoy uninterrupted internet access even when away from home! Don't let rough weather slow down your next outdoor adventure: embrace it by staying connected with our reliable Air Traveler's Kit.</p>
				</div>
			</div>

			<div class="col-12">
				<div class="text-center">
					<a href="/pages/preorder" id="dblHnxUU" class="btn red lg">Place order</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="ice-bg-block" style="background-image: url({{ 'freeze-car.jpg' | asset_url }})">
		<h2 class="ice-bg-block__title">7 days offline use</h2>
		<div class="ice-bg-block__description">
			<p>Introducing the Nomad Air outdoorsman kit with a 7 day battery back up! Now you can use your Nomad Air anywhere and without power and go completely off-grid!</p>
		</div>
		<a href="/pages/preorder" id="8VRuiSQF" class="btn blue lg">Place order</a>
	</div>
</div>

<div class="ice-cards-block">
	<div class="container">
		<h2 class="ice-title">Enjoy stable internet</h2>

		<div class="row v-gutters" style="--gutter-x:20px;--gutter-y:20px">
			<div class="col-lg-4 col-12">
				<div class="ice-card" style="background-image: url({{ 'ice-1.jpg' | asset_url }})">
					<div class="ratio">
						<div class="ice-card__text">
							<h3 class="ice-card__title">In severe weather</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="ice-card" style="background-image: url({{ 'ice-2.jpg' | asset_url }})">
					<div class="ratio">
						<div class="ice-card__text">
							<h3 class="ice-card__title">Without light and internet</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="ice-card" style="background-image: url({{ 'ice-3.jpg' | asset_url }})">
					<div class="ratio">
						<div class="ice-card__text">
							<h3 class="ice-card__title">On a hard road</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ice-included">
	<div class="container">
		<h2 class="ice-title">What is included</h2>

		<div class="row v-gutters" style="--gutter-x:20px;--gutter-y:20px">
			<div class="col-lg-7 col-12">
				<div class="row v-gutters">
					<div class="col-12">
						<div class="ice-included__tile">
							<div class="row justify-center v-gutters" style="--gutter-x:40px;--gutter-y:40px">
								<div class="col-md-6 col-auto">
									<img src="{{ 'ice-tile-1.png' | asset_url }}" alt="Ice Bag" width="614" height="320" loading="lazy">
								</div>
								<div class="col-md-6 col-auto">
									<h3>TRAVEL BAG</h3>
									<strong>$200</strong>
									<ol>
										<li>Nomad Air travel bag</li>
										<li>One Week Backup Battery</li>
										<li>On/Off Switch with blue LED</li>
										<li>Space saver power adapter</li>
                                        <li>Fast AC wall charger</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="ice-included__tile">
							<div class="row v-gutters align-center justify-center" style="--gutter-x: 0">
								<div class="col-1">
									<img src="{{ 'ice-tile-4.png' | asset_url }}" alt="Ice Bag" width="614" height="320" loading="lazy">
								</div>
								<div class="col-lg-10 col-12">
									<div class="text-center">
										<h3>Nomad plan</h3>
										<strong>$109/month</strong>
									</div>
								</div>
								<div class="col-lg-1 col-1 hidden-md-d">
									<img src="{{ 'ice-tile-5.png' | asset_url }}" alt="Ice Bag" width="614" height="320" loading="lazy">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-12">
				<div class="ice-included__tile" style="height: 100%">
					<h3>NOMAD AIR MODEM & membership in the Nomad club</h3>
					<strong>$199 - one time</strong>
					<div class="row justify-center v-gutters" style="--gutter-x:40px;--gutter-y:40px">
						<div class="col-12">
							<img src="{{ 'ice-tile-2.png' | asset_url }}" alt="Ice Bag" width="614" height="320" loading="lazy">
						</div>
						<div class="col-12">
							<img src="{{ 'ice-tile-3.png' | asset_url }}" alt="Ice Bag" width="614" height="320" loading="lazy">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="ice-total">
		<h3>Total price  "NOMAD AIR TRAVEL BAG" - <span>$458</span></h3>
		<a href="/pages/preorder" id="VOykoQfX" class="btn lg red">Place order</a>
	</div>
</div>
