 
<section class="section-membership section-overlay-plan pb-5 mb-5">
  <div class="container">
    <div class="section-title text-center pt-3 pb-3">
      <h1 class="title text-white pt-5 pb-5 mb-0">Unlimited Boat Internet</h1>
    </div>
    <div class="row">
      <div class="col col-12 col-sm-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card card-body h-100 rounded">
          <h4 class="mb-3 mt-1"><i class="far fa-circle"></i> <span>Which Plan Is Right for Me?</span></h4>
          <p>Each color represents one of the major cellular carrier networks. Therefore, the primary difference between each plan is the coverage each network provides. View each of our plans’ coverage to identify which is most likely to work at your usage location(s). For help with selecting a plan, visit the <a href="/pages/help-me-choose"> Help Me Choose </a> page. If you need help just “chat” us.</p>
        </div>
      </div>
      <div class="col col-12 col-sm-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card card-body h-100 rounded">
          <h4 class="mb-3 mt-1"><i class="far fa-circle"></i> Which Device Is Right for Me?</h4>
          <p>The two main device types we offer can be used at the same places but have slight differences. The “Travel WiFi Router” has a battery and can be used anywhere you are, but the “WiFi Router” has external antennas so it can achieve faster speeds. All of our devices ship pre-configured ready to plug in. Keep in mind the device you receive might differ from the ones displayed here as we choose the one that works best in your area.</p>
        </div>
      </div>
      <div class="col col-12 col-sm-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card card-body h-100 rounded">
          <h4 class="mb-3 mt-1"><i class="far fa-circle"></i> What if It Doesn’t Work for Me?</h4>
          <p>If the plan you initially choose does not connect or is slower than expected we have you covered! You can change plans until you get the speeds you need and we will ship you new plans until we find the best one for you. Finally, if you are not 100% happy our 14-Day No-Risk Return Policy allows you to return your device for a full refund.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="membership-plans boat-internet-plans pb-lg-5 pt-lg-5 mt-5 mb-lg-5">
  <div class="container">
    <div class="section-title col-12 col-lg-6 pl-lg-0 pt-lg-5 pb-5">
      <h2 class="title">Membership Plans</h2>
      <p style="color:#000; font-weight:500;">Browse below to find the coverage plan that best fits you.<br class="d-none d-md-block">
        Devices may vary as we strive to find the one that works best in your area.</p>
      <ul class="list-unstyled row mt-5">
        <li class="col-md-4 col-lg-6 mb-4 d-flex align-items-center"><i class="fas fa-check"></i> Unlimited 4G LTE</li>
        <li class="col-md-4 col-lg-6 mb-4 d-flex align-items-center"><i class="fas fa-check"></i> No Contract</li>
        <li class="col-md-4 col-lg-6 mb-4 d-flex align-items-center"><i class="fas fa-check"></i> No Data Limit</li>
        <li class="col-md-4 col-lg-6 mb-4 d-flex align-items-center"><i class="fas fa-check"></i> No Credit Check</li>
        <li class="col-md-4 col-lg-6 mb-4 d-flex align-items-center"><i class="fas fa-check"></i> Home & On-The-Go</li>
        <li class="col-md-4 col-lg-6 mb-4 d-flex align-items-center"><i class="fas fa-check"></i> 7-Day No Risk</li>
      </ul>
    </div>
    <div class="col-12 d-block d-lg-none">
      {% render 'image' with imageSrc: 'membership-plan.png', classes: 'img-fluid', altTag: 'membership plan', isAsset: 'true' %}
    </div>
  </div>
</section> 
 <section class="section-availability mb-4">
  <div class="container">
  <div class="section-availability-bg border rounded">
    <div class="col-lg-5 p-5">
      <h2 class="unsure-title font-weight-bold text-black">
      Unsure of which plan is best at your address?</h2>
      <p class="text-black mb-5">Let us recommend the right plan for you.</p>
        <a href="#address-lookup-request"  data-toggle="modal"  class="modal-link btn btn-primary rounded text-uppercase mb-5 font-weight-bold">Check availability</a>
    </div>
    </div>
  </div>
</section>
<section id="section_plan" class="section-plan">
<a href="#address-lookup-request"  id="help_link"  data-toggle="modal"  class="modal-link btn btn-lg btn-primary btn-block help-link-sticky"><i class="fas fa-life-ring" aria-hidden="true"></i>&nbsp;&nbsp;Help Me Choose </a>
  <div class="container">
    <div class="row ml-0 mr-0 align-items-center border-bottom pb-4 mb-4">
      <div class="col-12 col-lg-4 pl-md-0">
        <div class="section-title">
          <h2 class="title">All Routers2</h2>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <ul class="row list-unstyled plan-label mb-0">
          <li class="mr-5 ml-4"><i class="fas fa-circle" style="color:#F9006E; border:4px solid rgba(249, 0, 110, 0.15)"></i> STRONG PINK PLAN</li>
          <li class="mr-5 ml-4"><i class="fas fa-circle" style="color:#0078BA; border:4px solid rgba(0, 120, 186, 0.15)"></i> VERY BLUE PLAN</li>
          <!-- <li><i class="fas fa-circle" style="color:#E20000; border:4px solid rgba(226, 0, 0, 0.15)"></i> DEEP RED PLAN</li>
          <li><i class="fas fa-circle" style="color:#FFCB00; border:4px solid rgba(255, 203, 0, 0.15)"></i> BRIGHT YELLOW PLAN</li> -->
        </ul>
      </div>
    </div>
    <div class="row ml-0 mr-0 align-items-center pb-3 mb-5">
      <div class="col-12 ">
        <ul class=" list-unstyled justify-content-between plan-short mb-0 filter-list">
          <li class="hidder all-selected active">All</li>
          <li class="hidder gl-travel-wifi">Travel WiFi Router</li>
          <li class="hidder gl-wifi">WiFi Router</li>
          <li class="hidder gl-sim-only">Sim Only</li>
          <li class="hidder gl-night-walk">Nighthawk LTE Mobile Hotspot Router</li>
        </ul>
      </div>
    </div>
    
    <script>
     $(".hidder").click(function(){
       if($(this).hasClass("gl-travel-wifi")){
         $("li.hidder").removeClass("active")
         $(this).addClass("active")
         $(".form-selecter form").hide()
         $(".form-selecter form.gl-travel-wifi").show()
       }else if($(this).hasClass("gl-wifi")){
         $("li.hidder").removeClass("active")
         $(this).addClass("active")
         $(".form-selecter form").hide()
         $(".form-selecter form.gl-wifi").show()
       }else if($(this).hasClass("gl-sim-only")){
         $("li.hidder").removeClass("active")
         $(this).addClass("active")
         $(".form-selecter form").hide()
         $(".form-selecter form.gl-sim-only").show()
       }else if($(this).hasClass("gl-night-walk")){
         $("li.hidder").removeClass("active")
         $(this).addClass("active")
         $(".form-selecter form").hide()
         $(".form-selecter form.gl-night-walk").show()
       }else if($(this).hasClass("all-selected")){
         $("li.hidder").removeClass("active")
         $(this).addClass("active")
         $(".form-selecter form").show()
       }
     })
    
    </script>
    
    <div class="row form-selecter">
      <form id="pink-wifi-router-form" class="col-lg-4 col-md-6 col-sm-12 gl-wifi" method="post" action="/cart/add">
        <div>
          <div class="plan-listing card-plan-list   rounded card-pink">
            <div class="card-body">
              <div class="plan-row">
                <div class="text-right"><i class="fas fa-battery-half" style="color:#19191B;"></i></div>
                  <div class="col img-setter-pro mx-auto">
                    <img src="//cdn.shopify.com/s/files/1/0414/3238/3650/products/mifi_v2_500x500_3_df60edd3-63f8-4b04-bf4f-5f3bf31aabe3.jpg?v=1593667413">
                  </div>
                  <h6 class="row font-weight-bold text-black text-uppercase">Strong Pink Plan</h6>
                  <div class="row align-items-end border-bottom">
                    <div class="col-7 p-0">
                      
                        <p class="small font-weight">Travel WiFi Router</p>
                      
                    </div>
                    <div class="col-5 p-0 text-right">
                      <p class="small"><a href="/pages/compare-devices" style="color:#696871">Compare Devices</a></p>
                    </div>
                  </div>
                  <div class="row d-block"> <sub class="sub-dollar" style="font-size:18px; color:#000">$</sub> <span style="font-size:3rem; font-weight:700; color:#000">99</span> <sub style="font-size:18px; color:#000">/mo</sub>
                    <p class="small strike-between" style="font-size:12px">+ <span style="color:#000"> $199.00 One-Time Membership Fee </p>
                    <p class="small font-red-col" style="font-size:12px">+ $149.00</span> One-Time Membership Fee <a href="#fee_modal" data-toggle="modal" class="money-back1 modal-link"><i class="fas fa-question-circle" style="color: #0F9E59;padding: 0px;border-radius: 50px;font-size: 1.25rem;"></i></a></p>
                  </div>
                  <div class="features row ">
                    <div class="col-md">
                      <ul class="list-unstyled border-top">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Unlimited 4G LTE</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Data Limit</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> All Your Devices</li>
                      </ul>
                    </div>
                    <div class="col-md">
                      <ul class="list-unstyled column-collapse">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Credit Check</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Anywhere You Are</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> <a class="text-400 modal-link" href="#guarantee_modal" data-toggle="modal">7-Day No Risk</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 pl-0"><a href="https://href.li/?https://www.t-mobile.com/coverage-map.html" target="_blank" class="w-100 plan-coverage text-capitalize">Plan Coverage</a></div>
                    <div class="col-6 pr-0">
                       
                      <input name="id" value="31851636228154" type="hidden">
                      
                      
                      <div class="button-add-to-cart"  id="pink-wifi-router"> Add to Cart </div>
                         
                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form>



      <form id="pink-travel-wifi-router-form" class="col-lg-4 col-md-6 col-sm-12 gl-wifi" method="post" action="/cart/add">
        <div>
          <div class="plan-listing card-plan-list   rounded card-pink">
            <div class="card-body">
              <div class="plan-row">
                <div class="text-right"><img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/wifi-icon.JPG?v=1595349872" style="max-width:30px"/></div>
                  <div class="col img-setter-pro mx-auto">
                    <img src="//cdn.shopify.com/s/files/1/0414/3238/3650/products/X750-2_db8e0bcf-e4a7-4c1c-8af8-d16980f18642_medium.jpg?v=1593667396">
                  </div>
                  <h6 class="row font-weight-bold text-black text-uppercase">Strong Pink Plan</h6>
                  <div class="row align-items-end border-bottom">
                    <div class="col-7 p-0">
                      
                        <p class="small font-weight">WiFi Router</p>
                      
                    </div>
                    <div class="col-5 p-0 text-right">
                      <p class="small"><a href="/pages/compare-devices" style="color:#696871">Compare Devices</a></p>
                    </div>
                  </div>
                  <div class="row d-block"> <sub class="sub-dollar" style="font-size:18px; color:#000">$</sub> <span style="font-size:3rem; font-weight:700; color:#000">99</span> <sub style="font-size:18px; color:#000">/mo</sub>
                    <p class="small strike-between" style="font-size:12px">+ $249.00 One-Time Membership Fee </p>
                    <p class="small font-red-col" style="font-size:12px">+ <span >$199.00</span> One-Time Membership Fee <a href="#fee_modal" data-toggle="modal" class="money-back1 modal-link"><i class="fas fa-question-circle" style="color: #0F9E59;padding: 0px;border-radius: 50px;font-size: 1.25rem;"></i></a></p>
                  </div>
                  <div class="features row ">
                    <div class="col-md">
                      <ul class="list-unstyled border-top">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Unlimited 4G LTE</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Data Limit</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> All Your Devices</li>
                      </ul>
                    </div>
                    <div class="col-md">
                      <ul class="list-unstyled column-collapse">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Credit Check</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Anywhere You Are</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> <a class="text-400 modal-link" href="#guarantee_modal" data-toggle="modal">7-Day No Risk</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 pl-0"><a href="https://href.li/?https://www.t-mobile.com/coverage-map.html" target="_blank" class="w-100 plan-coverage text-capitalize">Plan Coverage</a></div>
                    <div class="col-6 pr-0">
                       
                      <input name="id" value="31403862327354" type="hidden">
                      
                      
                      <div class="button-add-to-cart"  id="pink-travel-wifi-router"> Add to Cart </div>
                         
                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form> 
 
  	  {% comment %}
      <form  id="add-item-form-blue-sim"  class="col-lg-4 col-md-6 col-sm-12 gl-sim-only" method="post" action="/cart/add/" data-productid="31606269935674">
      {% if product.available %}{% include 'subscription-product' %}{% endif %} 
        <div>
          <div class="plan-listing card-plan-list   rounded card-blue">
            <div class="card-body">
              <div class="plan-row">
                <div class="text-right"><i class="fas fa-battery-half" style="color:#19191B;"></i></div>
                  <div class="col img-setter-pro mx-auto">
                    <img src="//cdn.shopify.com/s/files/1/0414/3238/3650/products/sim-card-bundle_f9d48a69-8a93-442a-a5cb-0de486348a07.jpg?v=1593667413">
                  </div>
                  <h6 class="row font-weight-bold text-black text-uppercase">Sim Only (bring your own device)</h6>
                  <div class="row align-items-end border-bottom">
                    <div class="col-7 p-0">
                        <p class="small font-weight"><br></p>
                    </div>
                    <div class="col-5 p-0 text-right">
                      <p class="small"><a href="/pages/compare-devices" style="color:#696871">Compare Devices</a></p>
                    </div>
                  </div>
                  <div class="row d-block"> <sub class="sub-dollar" style="font-size:18px; color:#000">$</sub> <span style="font-size:3rem; font-weight:700; color:#000">129</span> <sub style="font-size:18px; color:#000">/mo</sub>
                    <p class="small font-red-col" style="font-size:12px">+ Free One-Time Membership Fee <a href="#fee_modal" data-toggle="modal" class="money-back1 modal-link"><i class="fas fa-question-circle" style="color: #0F9E59;padding: 0px;border-radius: 50px;font-size: 1.25rem;"></i></a></p>
                  </div>
                  <div class="features row ">
                    <div class="col-md">
                      <ul class="list-unstyled border-top">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Unlimited 4G LTE</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Data Limit</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> All Your Devices</li>
                      </ul>
                    </div>
                    <div class="col-md">
                      <ul class="list-unstyled column-collapse">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Credit Check</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Anywhere You Are</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> <a class="text-400 modal-link" href="#guarantee_modal" data-toggle="modal">7-Day No Risk</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 pl-0"><a href="https://www.att.com/maps/wireless-coverage.html" target="_blank" class="w-100 plan-coverage text-capitalize">Plan Coverage</a></div>
                    <div class="col-6 pr-0">
                       
                      <input name="id" value="31606269935674" type="hidden" data-productid="31606269935674">
                      <div class="button-add-to-cart" id="sim-activator">Add to Cart</div>
                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form> 
  	  {% endcomment %}
  
      <form id="blue--travel-GL-WiFi-Router-form" class="col-lg-4 col-md-6 col-sm-12 gl-travel-wifi" method="post" action="/cart/add">
        <div>
          <div class="plan-listing card-plan-list   rounded card-blue">
            <div class="card-body">
              <div class="plan-row">
                <div class="text-right"><i class="fas fa-battery-half" style="color:#19191B;"></i></div>
                  <div class="col img-setter-pro mx-auto">
                    <img src="//cdn.shopify.com/s/files/1/0414/3238/3650/products/mifi_v2_500x500_3_df60edd3-63f8-4b04-bf4f-5f3bf31aabe3.jpg?v=1593667413">
                  </div>
                  <h6 class="row font-weight-bold text-black text-uppercase">Very Blue Plan</h6>
                  <div class="row align-items-end border-bottom">
                    <div class="col-7 p-0">
                      
                        <p class="small font-weight">Travel WiFi Router</p>
                      
                    </div>
                    <div class="col-5 p-0 text-right">
                      <p class="small"><a href="/pages/compare-devices" style="color:#696871">Compare Devices</a></p>
                    </div>
                  </div>
                  <div class="row d-block"> <sub class="sub-dollar" style="font-size:18px; color:#000">$</sub> <span style="font-size:3rem; font-weight:700; color:#000">129</span> <sub style="font-size:18px; color:#000">/mo</sub>
                    <p class="small  strike-between" style="font-size:12px">+ $199.00 One-Time Membership Fee </p>
                    <p class="small font-red-col" style="font-size:12px">+ <span >$149.00</span> One-Time Membership Fee <a href="#fee_modal" data-toggle="modal" class="money-back1 modal-link"><i class="fas fa-question-circle" style="color: #0F9E59;padding: 0px;border-radius: 50px;font-size: 1.25rem;"></i></a></p>
                  </div>
                  <div class="features row ">
                    <div class="col-md">
                      <ul class="list-unstyled border-top">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Unlimited 4G LTE</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Data Limit</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> All Your Devices</li>
                      </ul>
                    </div>
                    <div class="col-md">
                      <ul class="list-unstyled column-collapse">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Credit Check</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Anywhere You Are</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> <a class="text-400 modal-link" href="#guarantee_modal" data-toggle="modal">7-Day No Risk</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 pl-0"><a href="https://www.att.com/maps/wireless-coverage.html" target="_blank" class="w-100 plan-coverage text-capitalize">Plan Coverage</a></div>
                    <div class="col-6 pr-0">
                       
                      <input name="id" value="31807318687802" type="hidden">
                      
                      <div class="button-add-to-cart"  id="blue-travel-wifi-router"> Add to Cart </div>
                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form> 

      <!--  
      <form id="blue-GL-WiFi-Router-form" class="col-lg-4 col-md-6 col-sm-12 gl-wifi" method="post" action="/cart/add">
        <div>
          <div class="plan-listing card-plan-list   rounded card-blue">
            <div class="card-body">
              <div class="plan-row">
                <div class="text-right"><img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/wifi-icon.JPG?v=1595349872" style="max-width:30px"/></div>
                  <div class="col img-setter-pro mx-auto">
                    <img src="//cdn.shopify.com/s/files/1/0414/3238/3650/products/X750-2_db8e0bcf-e4a7-4c1c-8af8-d16980f18642_medium.jpg?v=1593667396">
                  </div>
                  <h6 class="row font-weight-bold text-black text-uppercase">VERY BLUE PLAN</h6>
                  <div class="row align-items-end border-bottom">
                    <div class="col-7 p-0">
                      
                        <p class="small font-weight">WiFi Router</p>
                      
                    </div>
                    <div class="col-5 p-0 text-right">
                      <p class="small"><a href="/pages/compare-devices" style="color:#696871">Compare Devices</a></p>
                    </div>
                  </div>
                  <div class="row d-block"> <sub class="sub-dollar" style="font-size:18px; color:#000">$</sub> <span style="font-size:3rem; font-weight:700; color:#000">129</span> <sub style="font-size:18px; color:#000">/mo</sub>
                    <p class="small strike-between" style="font-size:12px">+ $249.00 One-Time Membership Fee </p>
                    <p class="small font-red-col " style="font-size:12px">+ <span style=" ">$199.00</span> One-Time Membership Fee <a href="#fee_modal" data-toggle="modal" class="money-back1 modal-link"><i class="fas fa-question-circle" style="color: #0F9E59;padding: 0px;border-radius: 50px;font-size: 1.25rem;"></i></a></p>
                  </div>
                  <div class="features row ">
                    <div class="col-md">
                      <ul class="list-unstyled border-top">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Unlimited 4G LTE</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Data Limit</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> All Your Devices</li>
                      </ul>
                    </div>
                    <div class="col-md">
                      <ul class="list-unstyled column-collapse">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Credit Check</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Anywhere You Are</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> <a class="text-400 modal-link" href="#guarantee_modal" data-toggle="modal">14-Day No Risk</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 pl-0"><a href="https://www.att.com/maps/wireless-coverage.html" target="_blank" class="w-100 plan-coverage text-capitalize">Plan Coverage</a></div>
                    <div class="col-6 pr-0">
                       
                      <input name="id" value="31606259941434" type="hidden">
                      
                      <div class="button-add-to-cart"  id="blue-wifi-router"> Add to Cart </div>
                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form>
  
      {% comment %}
      <!--
      <form id="red-travel-wifi-router-form" class="col-lg-4 col-md-6 col-sm-12 gl-wifi" method="post" action="/cart/add">
        <div>
          <div class="plan-listing card-plan-list   rounded card-red">
            <div class="card-body">
              <div class="plan-row">
                <div class="text-right"><img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/wifi-icon.JPG?v=1595349872" style="max-width:30px"/></div>
                  <div class="col img-setter-pro mx-auto">
                    <img src="//cdn.shopify.com/s/files/1/0414/3238/3650/products/X750-2_db8e0bcf-e4a7-4c1c-8af8-d16980f18642_medium.jpg?v=1593667396">
                  </div>
                  <h6 class="row font-weight-bold text-black text-uppercase"> Deep Red Plan </h6>
                  <div class="row align-items-end border-bottom">
                    <div class="col-7 p-0">
                      
                        <p class="small font-weight">GL- WiFi Router</p>
                      
                    </div>
                    <div class="col-5 p-0 text-right">
                      <p class="small"><a href="/pages/compare-devices" style="color:#696871">Compare Devices</a></p>
                    </div>
                  </div>
                  <div class="row d-block"> <sub class="sub-dollar" style="font-size:18px; color:#000">$</sub> <span style="font-size:3rem; font-weight:700; color:#000">179</span> <sub style="font-size:18px; color:#000">/mo</sub>
                    <p class="small font-red-col strike-between" style="font-size:12px">+ $249.00 One-Time Membership Fee </p>
                    <p class="small" style="font-size:12px">+ <span style="color:#000">$299.00</span> One-Time Membership Fee <a href="#fee_modal" data-toggle="modal" class="money-back1 modal-link"><i class="fas fa-question-circle" style="color: #0F9E59;padding: 0px;border-radius: 50px;font-size: 1.25rem;"></i></a></p>
                  </div>
                  <div class="features row ">
                    <div class="col-md">
                      <ul class="list-unstyled border-top">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Unlimited 4G LTE</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Data Limit</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> All Your Devices</li>
                      </ul>
                    </div>
                    <div class="col-md">
                      <ul class="list-unstyled column-collapse">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Credit Check</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Anywhere You Are</li>
						<li><i class="fa fa-check text-primary" aria-hidden="true"></i> <a class="text-400 modal-link" href="#guarantee_modal" data-toggle="modal">14-Day No Risk</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 pl-0"><a href="https://href.li/?https://www.t-mobile.com/coverage-map.html" target="_blank" class="w-100 plan-coverage text-capitalize">Plan Coverage</a></div>
                    <div class="col-6 pr-0">
                       
                      <input name="id" value="31403939921978" type="hidden">
                      
                      
                      <div class="button-add-to-cart"  id="red-wifi-router"> Add to Cart </div>
                         
                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form> 
      -->
      {% endcomment %}

  	  {% comment %}
      <form id="add-item-form-blue-Nighthawk" class="col-lg-4 col-md-6 col-sm-12 gl-night-walk" method="post" action="/cart/add">
        <div>
          <div class="plan-listing card-plan-list   rounded card-blue">
            <div class="card-body">
              <div class="plan-row">
                <div class="text-right"><i class="fas fa-battery-half" style="color:#19191B;"></i></div>
                  <div class="col img-setter-pro mx-auto">
                    <img src="//cdn.shopify.com/s/files/1/0414/3238/3650/products/M1-Hero.png?v=1593667413">
                  </div>
                  <h6 class="row font-weight-bold text-black text-uppercase">Nighthawk® LTE Mobile Hotspot Router</h6>
                  <div class="row align-items-end border-bottom">
                    <div class="col-7 p-0">
                      
                        <p class="small font-weight"><br></p>
                      
                    </div>
                    <div class="col-5 p-0 text-right">
                      <p class="small"><a href="/pages/compare-devices" style="color:#696871">Compare Devices</a></p>
                    </div>
                  </div>
                  <div class="row d-block"> <sub class="sub-dollar" style="font-size:18px; color:#000">$</sub> <span style="font-size:3rem; font-weight:700; color:#000">129</span> <sub style="font-size:18px; color:#000">/mo</sub>
                  <p class="small strike-between" style="font-size:12px">+ $399.00 One-Time Membership Fee </p>
                  <p class="small font-red-col" style="font-size:12px">+ <span>$349.00</span> One-Time Membership Fee <a href="#fee_modal" data-toggle="modal" class="money-back1 modal-link"><i class="fas fa-question-circle" style="color: #0F9E59;padding: 0px;border-radius: 50px;font-size: 1.25rem;"></i></a></p>
                  </div>
                  <div class="features row ">
                    <div class="col-md">
                      <ul class="list-unstyled border-top">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Unlimited 4G LTE</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Data Limit</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> All Your Devices</li>
                      </ul>
                    </div>
                    <div class="col-md">
                      <ul class="list-unstyled column-collapse">
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> No Credit Check</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> Anywhere You Are</li>
                        <li><i class="fa fa-check text-primary" aria-hidden="true"></i> <a class="text-400 modal-link" href="#guarantee_modal" data-toggle="modal">7-Day No Risk</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 pl-0"><a href="https://www.att.com/maps/wireless-coverage.html" target="_blank" class="w-100 plan-coverage text-capitalize">Plan Coverage</a></div>
                    <div class="col-6 pr-0">
                       
                      <input name="id" value="31663701262394" type="hidden">
                      <div class="button-add-to-cart"  id="Nighthawk-activator"> Add to Cart </div>
                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form> 
	  {% endcomment %}
       
    </div>
  </div>
</section>
<section class="section-availability ">
  <div class="container">
  <div class="section-availability-bg border rounded">
    <div class="col-lg-5 p-5">
      <h2 class="unsure-title font-weight-bold text-black">
      Unsure of which plan is best at your address?</h2>
      <p class="text-black mb-5">Let us recommend the right plan for you.</p>
        <a href="#address-lookup-request"  data-toggle="modal"  class="modal-link btn btn-primary rounded text-uppercase mb-5 font-weight-bold">Check availability</a>
    </div>
    </div>
  </div>
</section>
<div class="modal fade modal-theme modal-fee" tabindex="-1" role="dialog" id="fee_modal" aria-hidden="true">
  <button class="close" data-dismiss="modal" title="Close">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"></path></svg>
  </button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-fee__content">
          <h2 class="title">One Time Membership Fee</h2>
          <p>When becoming a member you are responsible for paying for your first month of service as well as a One-Time Membership Fee that covers the administration and support of your account. Therefore, you are the owner of the membership but you don’t own the device or the carrier account your line is on.</p>
          <p>You may of course cancel your subscription with us at anytime by simply returning your device and we never charge any cancellation fees! Easy, Simple, Clean!</p>
        </div>
      </div>
    </div>
  </div>
</div>

   
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>

  window.timber = window.timber || {};

  timber.switchImage = function (src, imgObject, el) {
    // Make sure element is a jquery object
    var $el = $(el);
    $el.attr('src', src);
  };

  timber.productPagepink = function (options) {
    var moneyFormat = options.money_format,
        variant = options.variant,
        selector = options.selector;

    // Selectors
    var $productImage = $('.card-pink img'),
        $productPrice = $('.card-pink .fee .price-amount'),
        $productwasPrice = $('.card-pink .fee .price-amount_was');

    if (variant) {
      // Update variant image, if one is set
      if (variant.featured_image) {
        var newImg = variant.featured_image,
            el = $productImage[0];
        Shopify.Image.switchImage(newImg, el, timber.switchImage);
      }
      console.log(variant);
      if(variant.title  == 'Sim Only (bring your own device)'){
        $productwasPrice.html('Free');
        $('#product-form-pink .fee .price-amount').css('color','red');
        $('#product-form-pink .fee del').css('text-decoration','none');
        $('.card-pink .fee .hide_on_sim').hide();
      }
      else{
        $('.card-pink .fee .hide_on_sim').show();
        $productPrice.html(Shopify.formatMoney(variant.price, moneyFormat));
        $productwasPrice.html(Shopify.formatMoney(variant.compare_at_price, moneyFormat));
        $('#product-form-pink .fee .price-amount').css('color','#515151');
        $('#product-form-pink .fee del').css('text-decoration','line-through');
      }

    }
  };

  timber.productPageblue = function (options) {
    var moneyFormat = options.money_format,
        variant = options.variant,
        selector = options.selector;

    // Selectors
    var $productImage = $('.card-blue img'),
        $productPrice = $('.card-blue .fee .price-amount'),
        $productwasPrice = $('.card-blue .fee .price-amount_was');

    if (variant) {
      // Update variant image, if one is set
      if (variant.featured_image) {
        var newImg = variant.featured_image,
            el = $productImage[0];
        Shopify.Image.switchImage(newImg, el, timber.switchImage);
      }

      if(variant.title  == 'Sim Only (bring your own device)'){
        $productwasPrice.html('Free');
        $('#product-form-blue .fee .price-amount').css('color','red');
        $('#product-form-blue .fee del').css('text-decoration','none');
        $('.card-blue .fee .hide_on_sim').hide();
      }
      else{
        $('.card-blue .fee .hide_on_sim').show();
        $productPrice.html(Shopify.formatMoney(variant.price, moneyFormat));
        $productwasPrice.html(Shopify.formatMoney(variant.compare_at_price, moneyFormat));
        $('#product-form-blue .fee .price-amount').css('color','#515151');
        $('#product-form-blue .fee del').css('text-decoration','line-through');
      }
    }
  };

  /* timber.productPagered = function (options) {
    var moneyFormat = options.money_format,
        variant = options.variant,
        selector = options.selector;

    // Selectors
    var $productImage = $('.card-red img'),
        $productPrice = $('.card-red .fee .price-amount');

    if (variant) {
      // Update variant image, if one is set
      if (variant.featured_image) {
        var newImg = variant.featured_image,
            el = $productImage[0];
        Shopify.Image.switchImage(newImg, el, timber.switchImage);
      }

      // Regardless of stock, update the product price
      $productPrice.html(Shopify.formatMoney(variant.price, moneyFormat));
    }
  };*/

  timber.productPageyellow = function (options) {
    var moneyFormat = options.money_format,
        variant = options.variant,
        selector = options.selector;

    // Selectors
    var $productImage = $('.card-yellow img'),
        $productPrice = $('.card-yellow .fee .price-amount'),
        $productwasPrice = $('.card-yellow .fee .price-amount_was');

    if (variant) {
      // Update variant image, if one is set
      if (variant.featured_image) {
        var newImg = variant.featured_image,
            el = $productImage[0];
        Shopify.Image.switchImage(newImg, el, timber.switchImage);
      }

      // Regardless of stock, update the product price
      $productPrice.html(Shopify.formatMoney(variant.price, moneyFormat));
      //$productwasPrice.html(Shopify.formatMoney(variant.compare_at_price, moneyFormat));
    }
  };



  var selectCallbackpink = function(variant, selector) {
    timber.productPagepink({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };
  var selectCallbackblue = function(variant, selector) {
    timber.productPageblue({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };
  var selectCallbackred = function(variant, selector) {
    timber.productPagered({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };
  var selectCallbackyellow = function(variant, selector) {
    timber.productPageyellow({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };
 
</script>


<script>
  $(document).ready(function(){
	  $("#sim-activator").click(function(){
      var already_have = 0;
       
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
            $.each(cart.items, function(index, cartItem){
              if(cartItem.product_title == 'Very Blue Plan'){
                already_have = 1;
              }
            });
            if(already_have == 0)
             {
              var params = {
                type: 'POST',
                url: '/cart/add.js',
                data: $("#add-item-form-blue-sim").serialize(),
                dataType: 'json',
                success: function(line_item) { 
                    var data = {
                      "id" : 31607888773178,
                      "quantity" : 1,
                      "properties[Note]": "After 30 days $149/month",
                      "properties[shipping_interval_unit_type]": 'days',
                      "properties[shipping_interval_frequency]": 30,
                      "properties[subscription_id]": 252048
                    }; 
                  $.ajax({
                    type: 'POST',
                    url: '/cart/add.js',
                    dataType: 'json',
                    data: data,
                    success: function(){
                      window.location.href='/cart';
                    },
                    error: function (request, status, error) {
                      console.log(request.responseText);
                    }
                  });
                },
                error: function(XMLHttpRequest, textStatus) {
                  Shopify.onError(XMLHttpRequest, textStatus);
                }
              };
              jQuery.ajax(params); 

            }
          else{
            $('.already_have_plan').trigger('click');
          }
        },
      });
    });
	  
    $("#Nighthawk-activator").click(function(){
      var already_have = 0;
       
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
            $.each(cart.items, function(index, cartItem){
              if(cartItem.product_title == 'Very Blue Plan'){
                already_have = 1;
              }
            });

            if(already_have == 0) {
              var params = {
                type: 'POST',
                url: '/cart/add.js',
                data: $("#add-item-form-blue-Nighthawk").serialize(),
                dataType: 'json',
                success: function(line_item) { 
                    var data = {
                      "id" : 31501542064186,
                      "quantity" : 1,
                      "properties[Note]": "After 30 days $149/month",
                      "properties[shipping_interval_unit_type]": 'days',
                      "properties[shipping_interval_frequency]": 30,
                      "properties[subscription_id]": 240698
                    }; 
                  $.ajax({
                    type: 'POST',
                    url: '/cart/add.js',
                    dataType: 'json',
                    data: data,
                    success: function(){
                      window.location.href='/cart';
                    },
                    error: function (request, status, error) {
                      console.log(request.responseText);
                    }
                  });
                },
                error: function(XMLHttpRequest, textStatus) {
                  Shopify.onError(XMLHttpRequest, textStatus);
                }
              };
              jQuery.ajax(params); 
            }
            else{
              $('.already_have_plan').trigger('click');
            }
        },
      });
    });


	  
    $("#blue-wifi-router").click(function(){
      var already_have = 0;
       
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
          $.each(cart.items, function(index, cartItem){
            if(cartItem.product_title == 'Very Blue Plan'){
              already_have = 1;
            }
          });
            
          if(already_have == 0){
            var params = {
              type: 'POST',
              url: '/cart/add.js',
              data: $("#blue-GL-WiFi-Router-form").serialize(),
              dataType: 'json',
              success: function(line_item) { 
                  var data = {
                    "id" : 31501542064186,
                    "quantity" : 1,
                    "properties[Note]": "After 30 days $149/month",
                    "properties[shipping_interval_unit_type]": 'days',
                    "properties[shipping_interval_frequency]": 30,
                    "properties[subscription_id]": 240698
                  }; 
                $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: data,
                  success: function(){
                    window.location.href='/cart';
                  },
                  error: function (request, status, error) {
                    console.log(request.responseText);
                  }
                });
              },
              error: function(XMLHttpRequest, textStatus) {
                Shopify.onError(XMLHttpRequest, textStatus);
              }
            };
            jQuery.ajax(params); 
          }
          else{
            $('.already_have_plan').trigger('click');
          }


        },
      });
    });



	  
    $("#blue-travel-wifi-router").click(function(){
      var already_have = 0;
       
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
          $.each(cart.items, function(index, cartItem){
            if(cartItem.product_title == 'Very Blue Plan'){
              already_have = 1;
            }
          });

          if(already_have == 0){
            
            var params = {
              type: 'POST',
              url: '/cart/add.js',
              data: $("#blue--travel-GL-WiFi-Router-form").serialize(),
              dataType: 'json',
              success: function(line_item) { 
                  var data = {
                    "id" : 31501542064186,
                    "quantity" : 1,
                    "properties[Note]": "After 30 days $149/month",
                    "properties[shipping_interval_unit_type]": 'days',
                    "properties[shipping_interval_frequency]": 30,
                    "properties[subscription_id]": 240698
                  }; 
                $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: data,
                  success: function(){
                    window.location.href='/cart';
                  },
                  error: function (request, status, error) {
                    console.log(request.responseText);
                  }
                });
              },
              error: function(XMLHttpRequest, textStatus) {
                Shopify.onError(XMLHttpRequest, textStatus);
              }
            };
            jQuery.ajax(params); 
          }
          else{
            $('.already_have_plan').trigger('click');
          }

        },
      });
    });


    $("#red-wifi-router").click(function(){
      var already_have = 0;
       
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
            $.each(cart.items, function(index, cartItem){
              if(cartItem.product_title == 'Deep Red Plan'){
                already_have = 1;
              }
            });
            

            if(already_have == 0){
            var params = {
              type: 'POST',
              url: '/cart/add.js',
              data: $("#red-travel-wifi-router-form").serialize(),
              dataType: 'json',
              success: function(line_item) { 
                  var data = {
                    "id" : 31407604400186,
                    "quantity" : 1,
                    "properties[Note]": "After 30 days $149/month",
                    "properties[shipping_interval_unit_type]": 'days',
                    "properties[shipping_interval_frequency]": 30,
                    "properties[subscription_id]": 240698
                  };
                $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: data,
                  success: function(){
                    window.location.href='/cart';
                  },
                  error: function (request, status, error) {
                    console.log(request.responseText);
                  }
                });
              },
              error: function(XMLHttpRequest, textStatus) {
                Shopify.onError(XMLHttpRequest, textStatus);
              }
            };
            jQuery.ajax(params); 
          }
          else{
            $('.already_have_plan').trigger('click');
          }

        },
      });
    });


	  
    $("#pink-wifi-router").click(function(){
      var already_have = 0;
       
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
            $.each(cart.items, function(index, cartItem){
              if(cartItem.product_title == 'Strong Pink Plan'){
                already_have = 1;
              }
            });
            

            if(already_have == 0){
            var params = {
              type: 'POST',
              url: '/cart/add.js',
              data: $("#pink-wifi-router-form").serialize(),
              dataType: 'json',
              success: function(line_item) { 
                  var data = {
                    "id" : 31407604465722,
                    "quantity" : 1,
                    "properties[Note]": "After 30 days $129/month",
                    "properties[shipping_interval_unit_type]": 'days',
                    "properties[shipping_interval_frequency]": 30,
                    "properties[subscription_id]": 240698
                  };
                $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: data,
                  success: function(){
                    window.location.href='/cart';
                  },
                  error: function (request, status, error) {
                    console.log(request.responseText);
                  }
                });
              },
              error: function(XMLHttpRequest, textStatus) {
                Shopify.onError(XMLHttpRequest, textStatus);
              }
            };
            jQuery.ajax(params); 
          }
          else{
            $('.already_have_plan').trigger('click');
          }

        },
      });
    });


	  
    $("#pink-travel-wifi-router").click(function(){
      var already_have = 0;
       
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
            $.each(cart.items, function(index, cartItem){
              if(cartItem.product_title == 'Strong Pink Plan'){
                already_have = 1;
              }
            });
            

            if(already_have == 0){
            var params = {
              type: 'POST',
              url: '/cart/add.js',
              data: $("#pink-travel-wifi-router-form").serialize(),
              dataType: 'json',
              success: function(line_item) { 
                  var data = {
                    "id" : 31407604465722,
                    "quantity" : 1,
                    "properties[Note]": "After 30 days $129/month",
                    "properties[shipping_interval_unit_type]": 'days',
                    "properties[shipping_interval_frequency]": 30,
                    "properties[subscription_id]": 240698
                  };
                $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: data,
                  success: function(){
                    window.location.href='/cart';
                  },
                  error: function (request, status, error) {
                    console.log(request.responseText);
                  }
                });
              },
              error: function(XMLHttpRequest, textStatus) {
                Shopify.onError(XMLHttpRequest, textStatus);
              }
            };
            jQuery.ajax(params); 
          }
          else{
            $('.already_have_plan').trigger('click');
          }

        },
      });
    });

    $('.single_add_to_cart_button_pink').click(function(){

      var already_have = 0;
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
          $.each(cart.items, function(index, cartItem){
            if(cartItem.product_title == 'Strong Pink Plan'){
              already_have = 1;
            }
          });

          if(already_have == 0){
            var params = {
              type: 'POST',
              url: '/cart/add.js',
              data: $('#product-form-pink').serialize(),
              dataType: 'json',
              success: function(line_item) {

                if($('#productSelect_pink option:selected').text() == 'Sim Only (bring your own device)'){
                  var data = {
                    "id" : 31723159519290,
                    "quantity" : 1,
                    "properties[Note]": "After 30 days $129/month",
                    "properties[shipping_interval_unit_type]": 'days',
                    "properties[shipping_interval_frequency]": 30,
                    "properties[subscription_id]": 256060
                  };
                }
                else{
                  var data = {
                    "id" : 31407604465722,
                    "quantity" : 1,
                    "properties[Note]": "After 30 days $99/month",
                    "properties[shipping_interval_unit_type]": 'days',
                    "properties[shipping_interval_frequency]": 30,
                    "properties[subscription_id]": 240698
                  };
                }
                $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: data,
                  success: function(){
                    window.location.href='/cart';
                  },
                  error: function (request, status, error) {
                    console.log(request.responseText);
                  }
                });
              },
              error: function(XMLHttpRequest, textStatus) {
                Shopify.onError(XMLHttpRequest, textStatus);
              }
            };
            jQuery.ajax(params);
          }
          else{
            $('.already_have_plan').trigger('click');
          }

        },
      });

    });
    $('.single_add_to_cart_button_blue').click(function(){
      var already_have = 0;
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
          $.each(cart.items, function(index, cartItem){
            if(cartItem.product_title == 'Very Blue Plan'){
              already_have = 1;
            }
          });

          if(already_have == 0){
            var params = {
              type: 'POST',
              url: '/cart/add.js',
              data: $('#product-form-blue').serialize(),
              dataType: 'json',
              success: function(line_item) {
                if($('#productSelect_blue option:selected').text() == 'Sim Only (bring your own device)'){
                  var data = {
                    "id" : 31607888773178,
                    "quantity" : 1,
                    "properties[Note]": "After 30 days $149/month",
                    "properties[shipping_interval_unit_type]": 'days',
                    "properties[shipping_interval_frequency]": 30,
                    "properties[subscription_id]": 252048
                  };
                }
                else{
                  var data = {
                    "id" : 31501542064186,
                    "quantity" : 1,
                    "properties[Note]": "After 30 days $149/month",
                    "properties[shipping_interval_unit_type]": 'days',
                    "properties[shipping_interval_frequency]": 30,
                    "properties[subscription_id]": 240698
                  };
                }
                $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: data,
                  success: function(){
                    window.location.href='/cart';
                  },
                  error: function (request, status, error) {
                    console.log(request.responseText);
                  }
                });
              },
              error: function(XMLHttpRequest, textStatus) {
                Shopify.onError(XMLHttpRequest, textStatus);
              }
            };
            jQuery.ajax(params);
          }
          else{
            $('.already_have_plan').trigger('click');
          }

        },
      });

    });
    $('.single_add_to_cart_button_red').click(function(){

      var already_have = 0;
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
          $.each(cart.items, function(index, cartItem){
            if(cartItem.product_title == 'Deep Red Plan'){
              already_have = 1;
            }
          });

          if(already_have == 0){
            var params = {
              type: 'POST',
              url: '/cart/add.js',
              data: $('#product-form-red').serialize(),
              dataType: 'json',
              success: function(line_item) {
                var data = {
                  "id" : 31407604400186,
                  "quantity" : 1,
                  "properties[Note]": "After 30 days $149/month",
                  "properties[shipping_interval_unit_type]": 'days',
                  "properties[shipping_interval_frequency]": 30,
                  "properties[subscription_id]": 240698
                };

                $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: data,
                  success: function(){
                    window.location.href='/cart';
                  },
                  error: function (request, status, error) {
                    console.log(request.responseText);
                  }
                });
              },
              error: function(XMLHttpRequest, textStatus) {
                Shopify.onError(XMLHttpRequest, textStatus);
              }
            };
            jQuery.ajax(params);
          }
          else{
            $('.already_have_plan').trigger('click');
          }

        },
      });

    });
    
    $('.single_add_to_cart_button_yellow').click(function(){
      var already_have = 0;
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(cart) {
          $.each(cart.items, function(index, cartItem){
            if(cartItem.product_title == 'Bright Yellow Plan'){
              already_have = 1;
            }
          });

          if(already_have == 0){
            var params = {
              type: 'POST',
              url: '/cart/add.js',
              data: $('#product-form-yellow').serialize(),
              dataType: 'json',
              success: function(line_item) {
                var data = {
                  "id" : 31407605448762,
                  "quantity" : 1,
                  "properties[Note]": "After 30 days $179/month",
                  "properties[shipping_interval_unit_type]": 'days',
                  "properties[shipping_interval_frequency]": 30,
                  "properties[subscription_id]": 240698
                };

                $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: data,
                  success: function(){
                    window.location.href='/cart';
                  },
                  error: function (request, status, error) {
                    console.log(request.responseText);
                  }
                });
              },
              error: function(XMLHttpRequest, textStatus) {
                Shopify.onError(XMLHttpRequest, textStatus);
              }
            };
            jQuery.ajax(params);
          }
          else{
            $('.already_have_plan').trigger('click');
          }

        },
      });


    });
  });


</script>
<a class="already_have_plan" href="#already_have_plan" data-toggle="modal" style="display:none;">Already Have Plan</a>
<div class="modal fade modal-theme modal-guarantee" tabindex="-1" role="dialog" id="already_have_plan" aria-hidden="true">
  <button class="close" data-dismiss="modal" title="Close">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"></path></svg>
  </button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-fee__content" style="text-align:center">
          <h2 class="title mb-4">Attention!!</h2>
          <p>You already have this plan in your cart.</p>
          <a href="/cart" class="btn btn-primary">View Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-theme" tabindex="-1" role="dialog" id="address-lookup-request" aria-hidden="true">
  <button class="close" data-dismiss="modal" title="Close">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"></path></svg>
  </button>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-fee">
          <section class="d-flex align-items-center">
            <div class="container">
              <div class="section-title text-center mb-4">
                <h1 class="title mb-3">Address Lookup Request</h1>
                <meta charset="utf-8" />
                <p>Unsure of which plan is best at your address? <br /> Fill out the form below and let our in-house team of experts recommend the right plan for you!</p>
              </div>
            </div>
          </section>
  <div class="get-touch-formrounded form-verticals mb-5"> {% form 'contact' %}
    
    {% comment %}
    Successful message
    {% endcomment %}
    {% if form.posted_successfully? %}
    <script>
window.location = "/pages/address-found";
</script>
    {% endif %}
    
    {{ form.errors | default_errors }}
    <div class="form-row">
      <div class="col col-12 col-md-6 form-group">
        <input type="text" class="form-control" name="contact[First Name]" placeholder="First Name" value="">
      </div>
      <div class="col col-12 col-md-6 form-group">
        <input type="text" class="form-control" name="contact[Last Name]" placeholder="Last Name" value="">
      </div>
    </div>
    <div class="form-row">
      <div class="col form-group">
        <input type="text" class="form-control" name="contact[Street Address]" placeholder="Street Address" value="">
      </div>
    </div>
    <div class="form-row">
      <div class="col col-12 col-md-4 form-group">
        <input type="text" class="form-control" name="contact[City]" placeholder="City" value="">
      </div>
      <div class="col col-12 col-md-4 form-group">
        <select name="contact[State]" class="form-control" aria-required="true" aria-invalid="false">
          <option value="">State…</option>
          <option value="Alabama">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="District Of Columbia">District Of Columbia</option>
          <option value="Florida">Florida</option>
          <option value="Georgia">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illinois">Illinois</option>
          <option value="Indiana">Indiana</option>
          <option value="Iowa">Iowa</option>
          <option value="Kansas">Kansas</option>
          <option value="Kentucky">Kentucky</option>
          <option value="Louisiana">Louisiana</option>
          <option value="Maine">Maine</option>
          <option value="Maryland">Maryland</option>
          <option value="Massachusetts">Massachusetts</option>
          <option value="Michigan">Michigan</option>
          <option value="Minnesota">Minnesota</option>
          <option value="Mississippi">Mississippi</option>
          <option value="Missouri">Missouri</option>
          <option value="Montana">Montana</option>
          <option value="Nebraska">Nebraska</option>
          <option value="Nevada">Nevada</option>
          <option value="New Hampshire">New Hampshire</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New Mexico">New Mexico</option>
          <option value="New York">New York</option>
          <option value="North Carolina">North Carolina</option>
          <option value="North Dakota">North Dakota</option>
          <option value="Ohio">Ohio</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Oregon">Oregon</option>
          <option value="Pennsylvania">Pennsylvania</option>
          <option value="Rhode Island">Rhode Island</option>
          <option value="South Carolina">South Carolina</option>
          <option value="South Dakota">South Dakota</option>
          <option value="Tennessee">Tennessee</option>
          <option value="Texas">Texas</option>
          <option value="Utah">Utah</option>
          <option value="Vermont">Vermont</option>
          <option value="Virginia">Virginia</option>
          <option value="Washington">Washington</option>
          <option value="West Virginia">West Virginia</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Wyoming">Wyoming</option>
        </select>
      </div>
      <div class="col col-12 col-md-4 form-group">
        <input type="text" name="contact[Zip]" class="form-control" placeholder="Zip" value="">
      </div>
    </div>
    <div class="form-row">
      <div class="col col-12 col-md-6 form-group">
        <input type="tel" name="contact[Phone]" class="form-control" placeholder="Phone" value="">
      </div>
      <div class="col col-12 col-md-6 form-group">
        <input type="email" name="contact[email]" class="form-control" placeholder="Email" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
      </div>
    </div>
    <div class="mt-4"> 
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    {% endform %}
     </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .button-add-to-cart {
    background: #0e9e59;
    color: #fff;
    text-align: center;
    padding: 7px 6px;
    border-radius: 13px;
    font-size: 14px;
    cursor: pointer;
}
</style>

<script>
 

	jQuery(document).ready(function() {
		
		jQuery.validator.addMethod('allowalphabetandspace',
        function (value, element) {
        	return this.optional(element) || /^[a-z\s]+$/i.test(value);
        }, "Only alphabetical characters"
    );
		
		 
		// validate signup form on keyup and submit
		$("#contact_form").validate({
			 rules: {
			"contact[First Name]": {
				required: true,
				 
			},
			"contact[Last Name]": {
				required: true,
				 
			},
			"contact[email]": {
				required: true,
				 
			},
			"contact[Phone]": {
				required: true,
				 
			},
			 
		},messages: {
			"contact[First Name]": {
				required: "First Name is required",
			},
			"contact[Last Name]": {
				required: "Last Name is required",
			},
			"contact[email]": {
				required: "Email is required",
			},
			"contact[Phone]": {
				required: "Phone is required",
				 
			}, 
			 
		}
				
		});
		
		 
	})
</script>