<div class="team">
  <div class="container">
    <h1 class="page__title">The Nomad Teams</h1>

    <section class="section">
      <h2 class="section__title">Project leaders</h2>

      <div class="team__members">
				<div class="team-member">
					<div class="team-member__preview">
						<img
													src="{{ 'robyn.jpg' | asset_img_url: '545x' }}"
							alt="Robyn"
							width="545"
							height="545"
							loading="lazy"
						>
					</div>
					<div class="team-member__body">
						<div class="team-member__header">
							<div class="team-member__heading">
								<h3 class="team-member__title">Robyn Weber</h3>
								<h4 class="team-member__subtitle">CEO</h4>
							</div>
							<div class="team-member__social">
							</div>
						</div>

						<div class="team-member__description">
							<p>Ensures that our customers are satisfied. She provide superb customer service and leads, motivates the customer service team, developing loyalty programs, and creating customer satisfaction goals.</p>
						</div>
					</div>
				</div>

        <div class="team-member">
          <div class="team-member__preview">
            <img
							src="{{ 'anton.jpg' | asset_img_url: '545x' }}"
              alt="Anton"
              width="545"
              height="545"
              loading="lazy"
            >
          </div>
          <div class="team-member__body">
            <div class="team-member__header">
              <div class="team-member__heading">
                <h3 class="team-member__title">Anton Berezhkov</h3>
                <h4 class="team-member__subtitle">CTO (Chief Technology Officer)</h4>
              </div>
              <div class="team-member__social">
              </div>
            </div>

            <div class="team-member__description">
              <p>One of the company's managers responsible for the development of new Nomad's services or products</p>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member__preview">
            <img
							src="{{ 'nek.png' | asset_img_url: '545x' }}"
              alt="Nekrashevich"
              width="545"
              height="545"
              loading="lazy"
            >
          </div>
          <div class="team-member__body">
            <div class="team-member__header">
              <div class="team-member__heading">
                <h3 class="team-member__title">Alex Nekrashevich</h3>
                <h4 class="team-member__subtitle">CMO (Chief Marketing Officer)</h4>
              </div>
              <div class="team-member__social">
                <!-- <a href="#"> -->
                <!--   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> -->
                <!--     <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" /> -->
                <!--   </svg> -->
                <!-- </a> -->
                <!-- <a href="#"> -->
                <!--   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"> -->
                <!--     <path d="M224,202.66A53.34,53.34,0,1,0,277.36,256,53.38,53.38,0,0,0,224,202.66Zm124.71-41a54,54,0,0,0-30.41-30.41c-21-8.29-71-6.43-94.3-6.43s-73.25-1.93-94.31,6.43a54,54,0,0,0-30.41,30.41c-8.28,21-6.43,71.05-6.43,94.33S91,329.26,99.32,350.33a54,54,0,0,0,30.41,30.41c21,8.29,71,6.43,94.31,6.43s73.24,1.93,94.3-6.43a54,54,0,0,0,30.41-30.41c8.35-21,6.43-71.05,6.43-94.33S357.1,182.74,348.75,161.67ZM224,338a82,82,0,1,1,82-82A81.9,81.9,0,0,1,224,338Zm85.38-148.3a19.14,19.14,0,1,1,19.13-19.14A19.1,19.1,0,0,1,309.42,189.74ZM400,32H48A48,48,0,0,0,0,80V432a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V80A48,48,0,0,0,400,32ZM382.88,322c-1.29,25.63-7.14,48.34-25.85,67s-41.4,24.63-67,25.85c-26.41,1.49-105.59,1.49-132,0-25.63-1.29-48.26-7.15-67-25.85s-24.63-41.42-25.85-67c-1.49-26.42-1.49-105.61,0-132,1.29-25.63,7.07-48.34,25.85-67s41.47-24.56,67-25.78c26.41-1.49,105.59-1.49,132,0,25.63,1.29,48.33,7.15,67,25.85s24.63,41.42,25.85,67.05C384.37,216.44,384.37,295.56,382.88,322Z" /> -->
                <!--   </svg> -->
                <!-- </a> -->
              </div>
            </div>

            <div class="team-member__description">
              <p>Coordinates the activities of all functional departments for the collection and analysis of commercial and economic information, the creation of a database on the marketing of NomadInterent</p>
            </div>
          </div>
        </div>
      </div>
    </section>


		<section class="section">
			<h2 class="section__title">Customer Service Department</h2>

			<div class="team__members team__members--tiles">

				<div class="team-member">
					<div class="team-member__preview">
						<img
													src="{{ 'tiffany.jpg' | asset_img_url: '545x' }}"
							alt="Tiffany"
							width="545"
							height="545"
							loading="lazy"
						>
					</div>
					<div class="team-member__body">
						<div class="team-member__header">
							<div class="team-member__heading">
								<h3 class="team-member__title">Tiffany Clark</h3>
								<h4 class="team-member__subtitle">Customer Experience Representative</h4>
							</div>
							<div class="team-member__social">
							</div>
						</div>

						<div class="team-member__description">
							<p>Help customers with complaints and questions, give customers information about products and services, take orders, and process returns.</p>
											</div>
					</div>
				</div>

				<div class="team-member">
					<div class="team-member__preview">
						<img
													src="{{ 'don.jpg' | asset_img_url: '545x' }}"
							alt="Don"
							width="545"
							height="545"
							loading="lazy"
						>
					</div>
					<div class="team-member__body">
						<div class="team-member__header">
							<div class="team-member__heading">
								<h3 class="team-member__title">Don Chatham</h3>
								<h4 class="team-member__subtitle">Technical Support Manager</h4>
							</div>
							<div class="team-member__social">
							</div>
						</div>

						<div class="team-member__description">
							<p>Help customers with complaints and questions, give customers information about products and services, take orders, and process returns.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
      <h2 class="section__title">Marketing Department</h2>

      <div class="team__members team__members--tiles">
        <div class="team-member">
          <div class="team-member__preview">
            <img
							src="{{ 'lev.jpg' | asset_img_url: '545x' }}"
              alt="Lev"
              width="545"
              height="545"
              loading="lazy"
            >
          </div>
          <div class="team-member__body">
            <div class="team-member__header">
              <div class="team-member__heading">
                <h3 class="team-member__title">Ekaterina Levchenkova</h3>
                <h4 class="team-member__subtitle">Digital Marketing Manager</h4>
              </div>
              <div class="team-member__social">
              </div>
            </div>

            <div class="team-member__description">
              <p>Ekaterina Levchenkova is an accomplished project manager with a track record of successfully leading teams and delivering projects on time and within budget. She possesses strong leadership and communication skills, which are essential for managing projects effectively.</p>
						</div>
          </div>
        </div>

				<div class="team-member">
          <div class="team-member__preview">
            <img
							src="{{ 'ola.jpg' | asset_img_url: '545x' }}"
              alt="Ola"
              width="545"
              height="545"
              loading="lazy"
            >
          </div>
          <div class="team-member__body">
            <div class="team-member__header">
              <div class="team-member__heading">
                <h3 class="team-member__title">Olayinka Alawode</h3>
                <h4 class="team-member__subtitle">Digital Marketing Manager</h4>
              </div>
              <div class="team-member__social">
              </div>
            </div>

            <div class="team-member__description">
              <p>Assists Marketing Director in planning and managing marketing campaigns that promote Nomad Internet, its products, and services.</p>
						</div>
          </div>
        </div>

				<div class="team-member">
          <div class="team-member__preview">
            <img
							src="{{ 'mik.jpg' | asset_img_url: '545x' }}"
              alt="mikhail"
              width="545"
              height="545"
              loading="lazy"
            >
          </div>
          <div class="team-member__body">
            <div class="team-member__header">
              <div class="team-member__heading">
                <h3 class="team-member__title">Mikhail Boychenko</h3>
                <h4 class="team-member__subtitle">Art & Design</h4>
              </div>
              <div class="team-member__social">
              </div>
            </div>

            <div class="team-member__description">
							<p>Mikhail Boychenko is an experienced designer who creates high-quality, aesthetic projects that make a lasting impression. I have an eye for detail and experience in UI/UX design, user research and data visualization.</p>
						</div>
          </div>
        </div>

				<div class="team-member">
          <div class="team-member__preview">
            <img
							src="{{ 'shu.png' | asset_img_url: '545x' }}"
              alt="Alex"
              width="545"
              height="545"
              loading="lazy"
            >
          </div>
          <div class="team-member__body">
            <div class="team-member__header">
              <div class="team-member__heading">
                <h3 class="team-member__title">Alex Shubenkin</h3>
                <h4 class="team-member__subtitle">Web Developer</h4>
              </div>
              <div class="team-member__social">
              </div>
            </div>

            <div class="team-member__description">
              <p>Alex is a successful web developer and software engineer with more than 10 years of experience. Alex is currently the head of the Website development team at Nomad Internet.<p>
						</div>
          </div>
        </div>

      </div>
    </section>

  </div>
</div>
